Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

fix(plugin): address second gemini-code-assist pass on #1006
  scripts/setup-codex.sh
  scripts/validate-plugin-manifest.mjs
Due: none

fix(plugin): address gemini-code-assist review of #1004 (#1006)
  .claude/agents/river-review.md
  scripts/setup-codex.sh
  scripts/validate-plugin-manifest.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: reflect the CLI-independent plugin model and fix the @v0 alias
  README.en.md
  README.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: bump example version pins to v1.2.2
  README.en.md
  README.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: address gemini-code-assist nits on #1007
  README.en.md
  pages/guides/agent-workflow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: bump example version pins to v1.2.2 (#1008)
  README.en.md
  README.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: reflect the CLI-independent plugin model and fix the @v0 alias (#1007)
  README.en.md
  README.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: regenerate skills catalog from disk (was missing ~30 skills)
  .markdownlintignore
  .textlintignore
  pages/guides/debug-skill-routing.md
  pages/reference/skills-catalog.md
  scripts/generate-skill-catalog.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: correct and complete the CLI/config reference docs
  README.en.md
  README.md
  pages/reference/artifact-input-contract.md
  pages/reference/stable-interfaces.md
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: drop obsolete docs/skills-catalog.md from .textlintignore (bot review)
  .textlintignore
Due: none

docs: address gemini-code-assist review on #1010
  README.en.md
  pages/reference/stable-interfaces.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: regenerate skills catalog from disk (was missing ~30 skills) (#1009)
  .markdownlintignore
  .textlintignore
  pages/guides/debug-skill-routing.md
  pages/reference/skills-catalog.md
  scripts/generate-skill-catalog.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: correct and complete the CLI/config reference docs (#1010)
  README.en.md
  README.md
  pages/reference/artifact-input-contract.md
  pages/reference/stable-interfaces.md
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: document result store, --baseline, chunking/dedup, and config artifacts (#1011)
  pages/guides/use-riverbed-memory.en.md
  pages/guides/use-riverbed-memory.md
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: address gemini-code-assist review on #1012
  pages/guides/use-riverbed-memory.en.md
  pages/guides/use-riverbed-memory.md
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: document result store, --baseline, chunking/dedup, and config artifacts (#1011) (#1012)
  pages/guides/use-riverbed-memory.en.md
  pages/guides/use-riverbed-memory.md
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(skill): add river-review-docs documentation review skill (#990)
  README.en.md
  README.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  skills/agent-skills/river-review-docs/SKILL.md
  skills/agent-skills/river-review-docs/references/ROUTING.md
  skills/agent-skills/river-review/SKILL.md
  skills/agent-skills/river-review/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

fix(skill): address gemini-code-assist review on #1014
  skills/agent-skills/river-review-docs/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

feat(skill): add river-review-docs documentation review skill (#990) (#1014)
  README.en.md
  README.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  skills/agent-skills/river-review-docs/SKILL.md
  skills/agent-skills/river-review-docs/references/ROUTING.md
  skills/agent-skills/river-review/SKILL.md
  skills/agent-skills/river-review/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

docs: close EN/JA parity gaps + thin-pointer EN skills catalog (#1011)
  pages/explanation/review-scope.en.md
  pages/guides/use-independent-review-synthesis.en.md
  pages/reference/skills-catalog.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): prettier formatting + relative links per bot review (#1011)
  pages/explanation/review-scope.en.md
  pages/guides/use-independent-review-synthesis.en.md
  pages/reference/skills-catalog.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: close EN/JA parity gaps + thin-pointer EN skills catalog (#1011) (#1019)
  pages/explanation/review-scope.en.md
  pages/guides/use-independent-review-synthesis.en.md
  pages/reference/skills-catalog.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): add skills import/export/list CLI how-to (#1011)
  pages/guides/_meta.json
  pages/guides/manage-skills-cli.en.md
  pages/guides/manage-skills-cli.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): use base .md links in EN guide per Nextra i18n (#1011)
  pages/guides/manage-skills-cli.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): add skills import/export/list CLI how-to (#1011) (#1020)
  pages/guides/_meta.json
  pages/guides/manage-skills-cli.en.md
  pages/guides/manage-skills-cli.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): add Run store & regression comparison how-to (#1011)
  pages/guides/_meta.json
  pages/guides/track-runs-and-regressions.en.md
  pages/guides/track-runs-and-regressions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): fix paren consistency + fingerprint accuracy per review (#1011)
  pages/guides/track-runs-and-regressions.en.md
  pages/guides/track-runs-and-regressions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): add Run store & regression comparison how-to (#1011) (#1021)
  pages/guides/_meta.json
  pages/guides/track-runs-and-regressions.en.md
  pages/guides/track-runs-and-regressions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(cli): add --base <ref> to river run for explicit diff base
  src/cli.mjs
  src/lib/local-runner.mjs
  tests/cli-parse-args.test.mjs
Due: none

feat(cli): add --skill-set <name> to river run for named skill bundles
  runners/core/review-runner.mjs
  runners/core/skill-loader.mjs
  src/cli.mjs
  src/lib/local-runner.mjs
  tests/cli-parse-args.test.mjs
  tests/review-runner.test.mjs
  tests/skill-loader.test.mjs
Due: none

build(action): rebuild bundled dist for --base CLI change
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

build(action): rebuild bundled dist for --skill-set CLI change
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(cli): add --base <ref> to river run for explicit diff base (#1022) (#1028)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  tests/cli-parse-args.test.mjs
Due: none

feat(cli): add --skill-set <name> to river run (#1027) (#1030)
  runners/core/review-runner.mjs
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  tests/cli-parse-args.test.mjs
  tests/review-runner.test.mjs
  tests/skill-loader.test.mjs
Due: none

feat(skills): add encapsulation/naming and over-abstraction guidance
  skills/midstream/agent-code-quality/SKILL.md
  skills/midstream/agent-code-refactoring/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(rules): load split rule files from .river/rules.d/*.md
  .river/README.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/rules.mjs
  tests/rules.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): add --depth to river run to force review depth
  runners/core/review-runner.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan-generator.mjs
  tests/cli-parse-args.test.mjs
  tests/review-plan-generator.test.mjs
Due: none
