Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

docs(retrospective): 2026-05-25..28 4-day session retrospective (#930)
  docs/development/retrospectives/2026-05-25-28.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): offline promptfoo config validator (#929 advance, no API key)
  package.json
  scripts/validate-promptfoo-configs.mjs
Due: prettier --write

feat(scripts): offline promptfoo config validator (#929 advance, no API key) (#931)
  package.json
  scripts/validate-promptfoo-configs.mjs
Due: prettier --write

feat(runners): buildExecutionPlan emits snapshot carry-over (#878 A2-3-runners)
  runners/core/review-runner.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  tests/review-runner-snapshot-field.test.mjs
Due: none

feat(runners): buildExecutionPlan emits snapshot carry-over (#878 A2-3-runners) (#933)
  runners/core/review-runner.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  tests/review-runner-snapshot-field.test.mjs
Due: none

feat(cli): --plan replay execution wires generateReview (#878 A2-3-impl)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-exec-replay.test.mjs
Due: none

feat(cli): --plan replay execution wires generateReview (#878 A2-3-impl) (#935)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-exec-replay.test.mjs
Due: none

docs: cost control mode design (#921 design-only, no YAML)
  docs/development/cost-control-mode-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: cost control mode design (#921 design-only, no YAML) (#938)
  docs/development/cost-control-mode-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(retrospective): addendum — post-#930 arc + #877 silent-skip lesson
  docs/development/retrospectives/2026-05-25-28.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(retrospective): addendum — post-#930 arc + #877 silent-skip lesson (#939)
  docs/development/retrospectives/2026-05-25-28.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): promote 7 community skills to recommended:true (#929)
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/golden/01-icon-button-happy.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/golden/02-decorative-img-false-positive.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/golden/01-dedup-and-confirm-happy.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/golden/02-hallucinated-finding-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/golden/01-div-onclick-no-keyboard-happy.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/golden/02-library-radix-dialog-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/golden/01-popover-api-happy.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/golden/02-supports-guard-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/golden/01-lcp-lazy-hero-happy.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/golden/02-already-sized-img-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/golden/01-div-onclick-happy.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/golden/02-library-dialog-false-positive.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/golden/01-usestate-in-server-component-happy.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/golden/02-use-client-directive-false-positive.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): promote 7 community skills to recommended:true (#929) (#940)
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/golden/01-icon-button-happy.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/golden/02-decorative-img-false-positive.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/golden/01-dedup-and-confirm-happy.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/golden/02-hallucinated-finding-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/golden/01-div-onclick-no-keyboard-happy.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/golden/02-library-radix-dialog-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/golden/01-popover-api-happy.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/golden/02-supports-guard-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/golden/01-lcp-lazy-hero-happy.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/golden/02-already-sized-img-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/golden/01-div-onclick-happy.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/golden/02-library-dialog-false-positive.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/golden/01-usestate-in-server-component-happy.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/golden/02-use-client-directive-false-positive.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(dist): add npm publish workflow and publishConfig for runner packages (#800)
  .github/workflows/npm-publish.yml
  package.json
  runners/cli/package.json
  runners/core/package.json
  runners/node-api/package.json
Due: prettier --write

fix(dist): downgrade @inquirer/prompts to ^8.0.0 (v9 not yet released)
  package-lock.json
  runners/cli/package.json
Due: prettier --write

feat(dist): add npm publish workflow and publishConfig for runner packages (#800) (#942)
  .github/workflows/npm-publish.yml
  package-lock.json
  package.json
  runners/cli/package.json
  runners/core/package.json
  runners/node-api/package.json
Due: prettier --write

docs: improve OSS documentation quality across pages/
  pages/_meta.json
  pages/explanation/_meta.json
  pages/explanation/framework/overview.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/explanation/skills.en.md
  pages/explanation/skills.md
  pages/explanation/what-is-river-reviewer.en.md
  pages/explanation/what-is-river-reviewer.md
  pages/guides/_meta.json
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/_meta.json
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: improve OSS documentation quality across pages/ (#943)
  pages/_meta.json
  pages/explanation/_meta.json
  pages/explanation/framework/overview.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/explanation/skills.en.md
  pages/explanation/skills.md
  pages/explanation/what-is-river-reviewer.en.md
  pages/explanation/what-is-river-reviewer.md
  pages/guides/_meta.json
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/_meta.json
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/review-policy.en.md
  pages/reference/review-policy.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(skills): add Figma design drift and component reuse guard skills
  pages/guides/_meta.json
  pages/guides/figma-to-code.en.md
  pages/guides/figma-to-code.md
  skills/midstream/community/rr-midstream-figma-component-reuse-001/README.md
  skills/midstream/community/rr-midstream-figma-component-reuse-001/SKILL.md
  skills/midstream/community/rr-midstream-figma-component-reuse-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-figma-component-reuse-001/fixtures/01-button-reimplemented-happy.md
  skills/midstream/community/rr-midstream-figma-component-reuse-001/fixtures/02-ui-primitive-definition-false-positive.md
  skills/midstream/community/rr-midstream-figma-component-reuse-001/prompt/system.md
  skills/midstream/community/rr-midstream-figma-component-reuse-001/prompt/user.md
  skills/midstream/community/rr-midstream-figma-design-drift-001/README.md
  skills/midstream/community/rr-midstream-figma-design-drift-001/SKILL.md
  skills/midstream/community/rr-midstream-figma-design-drift-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-figma-design-drift-001/fixtures/01-hardcoded-color-happy.md
  skills/midstream/community/rr-midstream-figma-design-drift-001/fixtures/02-tailwind-token-false-positive.md
  skills/midstream/community/rr-midstream-figma-design-drift-001/prompt/system.md
  skills/midstream/community/rr-midstream-figma-design-drift-001/prompt/user.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

refactor(skills): rename figma-specific skill IDs to design-system-agnostic names
  pages/guides/figma-to-code.en.md
  pages/guides/figma-to-code.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/README.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/SKILL.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/fixtures/01-button-reimplemented-happy.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/fixtures/02-ui-primitive-definition-false-positive.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/prompt/system.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/prompt/user.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/README.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/SKILL.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-design-token-enforcement-001/fixtures/01-hardcoded-color-happy.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/fixtures/02-tailwind-token-false-positive.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/prompt/system.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/prompt/user.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

fix(docs): fix markdown code block syntax and typo in system prompt
  pages/guides/figma-to-code.en.md
  pages/guides/figma-to-code.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/prompt/system.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

fix(skills): avoid prettier escaping in primitive list
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/prompt/system.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(docs): use relative paths in figma-to-code related links
  pages/guides/figma-to-code.en.md
  pages/guides/figma-to-code.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(skills): add Figma design drift and component reuse guard skills (#944)
  pages/guides/_meta.json
  pages/guides/figma-to-code.en.md
  pages/guides/figma-to-code.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/README.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/SKILL.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/fixtures/01-button-reimplemented-happy.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/fixtures/02-ui-primitive-definition-false-positive.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/prompt/system.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/prompt/user.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/README.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/SKILL.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-design-token-enforcement-001/fixtures/01-hardcoded-color-happy.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/fixtures/02-tailwind-token-false-positive.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/prompt/system.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/prompt/user.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

chore(docs): auto-fix dash spacing
  runners/cli/bin/river
Due: none

docs: update npm distribution and CLI exec spec status
  README.md
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: update npm distribution and CLI exec spec status (#948)
  README.md
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix: update stale docs, action yaml validation, and promote design skills
  docs/development/execution-context-contract.md
  docs/review/troubleshooting.md
  pages/reference/plangate-cli-roadmap.md
  runners/github-action/action.yml
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/golden/01-button-reimplemented-happy.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/golden/02-ui-primitive-definition-false-positive.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/golden/01-hardcoded-color-happy.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/golden/02-tailwind-token-false-positive.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

fix: update stale docs, action yaml validation, and promote design skills (#950)
  docs/development/execution-context-contract.md
  docs/review/troubleshooting.md
  pages/reference/plangate-cli-roadmap.md
  runners/github-action/action.yml
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/golden/01-button-reimplemented-happy.md
  skills/midstream/community/rr-midstream-design-system-component-reuse-001/golden/02-ui-primitive-definition-false-positive.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/golden/01-hardcoded-color-happy.md
  skills/midstream/community/rr-midstream-design-token-enforcement-001/golden/02-tailwind-token-false-positive.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

docs: ultracode audit — update stale content across 12 files
  README.en.md
  README.md
  docs/runbook/community-skill-eval.md
  pages/explanation/river-architecture.en.md
  pages/explanation/skills.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.md
  pages/reference/skill-metadata.md
  pages/tutorials/authoring-skills.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: ultracode audit — update stale content across 12 files (#958)
  README.en.md
  README.md
  docs/runbook/community-skill-eval.md
  pages/explanation/river-architecture.en.md
  pages/explanation/skills.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.md
  pages/reference/skill-metadata.md
  pages/tutorials/authoring-skills.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual
