Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

style: fix prettier violations on main (5 files)
  pages/explanation/progressive-disclosure.en.md
  pages/explanation/progressive-disclosure.md
  schemas/output.schema.json
  schemas/riverbed-entry.schema.json
  schemas/riverbed-index.schema.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(process): add issue research, merge planning, and pipeline param guides
  .claude/commands/README.md
  .claude/commands/plan-merge-order.md
  .claude/commands/propose-issue.md
  CLAUDE.md
  docs/development/pipeline-params-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

style: fix prettier violations on main (5 files) (#475)
  pages/explanation/progressive-disclosure.en.md
  pages/explanation/progressive-disclosure.md
  schemas/output.schema.json
  schemas/riverbed-entry.schema.json
  schemas/riverbed-index.schema.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(process): add issue research, merge planning, and pipeline param guides (#476)
  .claude/commands/README.md
  .claude/commands/plan-merge-order.md
  .claude/commands/propose-issue.md
  CLAUDE.md
  docs/development/pipeline-params-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(guards): add git discipline and output-reading rules
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(guards): refine git discipline rules per review feedback
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: introduce progressive disclosure as skill loading principle (#449)
  pages/explanation/progressive-disclosure.en.md
  pages/explanation/progressive-disclosure.md
  pages/reference/skill-schema-reference.en.md
  pages/reference/skill-schema-reference.md
  runners/core/skill-loader.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

style: fix prettier violations after rebase (#459)
  pages/explanation/progressive-disclosure.en.md
  pages/explanation/progressive-disclosure.md
  pages/reference/skill-schema-reference.en.md
  pages/reference/skill-schema-reference.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guards): add git discipline and output verification rules (#477)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: progressive disclosure を明示的なスキルローディング原則として導入 (#459)
  pages/reference/skill-schema-reference.en.md
  pages/reference/skill-schema-reference.md
  runners/core/skill-loader.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat: add structured review artifact schema (#450)
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  schemas/review-artifact.schema.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

style: fix prettier violations in review-artifact docs (#460)
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat: 構造化レビューアーティファクトスキーマを追加 (#460)
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  schemas/review-artifact.schema.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat: expand evaluation to multi-dimensional review rubric (#452)
  eval/rubric.yaml
  pages/reference/_meta.json
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  schemas/eval-ledger-entry.schema.json
  schemas/eval-rubric.schema.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

style: fix prettier violations in evaluation-rubric docs (#470)
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  schemas/eval-ledger-entry.schema.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat: 評価を多次元レビュールーブリックに拡張 (#470)
  eval/rubric.yaml
  pages/reference/_meta.json
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  schemas/eval-ledger-entry.schema.json
  schemas/eval-rubric.schema.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: redefine river reviewer as context engineering framework (#448)
  README.en.md
  README.md
  docs/architecture.md
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/reference/glossary.en.md
  pages/reference/glossary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: redefine river reviewer as context engineering framework (#448) (#478)
  README.en.md
  README.md
  docs/architecture.md
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/reference/glossary.en.md
  pages/reference/glossary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(dev): codify improvement flow based on retrospective patterns
  CLAUDE.md
  docs/development/improvement-flow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): apply review fixes to improvement flow
  CLAUDE.md
  docs/development/improvement-flow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): codify improvement flow for retrospective-driven codification (#482)
  CLAUDE.md
  docs/development/improvement-flow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

style(docs): fix pre-existing textlint violations on main
  pages/explanation/progressive-disclosure.md
  pages/reference/evaluation-rubric.md
  pages/reference/glossary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

style: fix textlint violations on main (3 files)
  pages/explanation/progressive-disclosure.md
  pages/reference/evaluation-rubric.md
  pages/reference/glossary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

style: fix textlint violations on main (3 files) (#486)
  pages/explanation/progressive-disclosure.md
  pages/reference/evaluation-rubric.md
  pages/reference/glossary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(memory): preserve pre-lifecycle semantics at existing call sites
  schemas/riverbed-index.schema.json
  src/lib/memory-context.mjs
  src/lib/regression-eval.mjs
  src/lib/suppression.mjs
Due: prettier --write

docs(ai-guards): add "Verify CI green before merge" guard
  CLAUDE.md
  docs/development/improvement-flow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: Riverbed Memory v1 ライフサイクルと置換モデルを実装 (#474)
  schemas/riverbed-entry.schema.json
  schemas/riverbed-index.schema.json
  src/lib/memory-context.mjs
  src/lib/regression-eval.mjs
  src/lib/riverbed-memory.mjs
  src/lib/suppression.mjs
  tests/riverbed-memory.test.mjs
Due: prettier --write

docs(ai-guards): add "Verify CI green before merge" guard (#484)
  CLAUDE.md
  docs/development/improvement-flow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(hooks): make .husky/pre-commit executable
  .husky/pre-commit
Due: none

chore: bump action tag from v0.11.0 to v0.12.0 in README and docs
  README.en.md
  README.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(meta): bump action tag references to v0.12.0
  README.en.md
  README.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(action): regenerate runners/github-action/dist
  runners/github-action/dist/158.index.mjs
  runners/github-action/dist/158.index.mjs.map
  runners/github-action/dist/458.index.mjs
  runners/github-action/dist/458.index.mjs.map
  runners/github-action/dist/527.index.mjs
  runners/github-action/dist/527.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore(action): rebuild github-action dist
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix(review): align silent-catch heuristic severity with skill severity
  src/lib/review-engine.mjs
  tests/fixtures/review-eval/cases.json
Due: prettier --write

chore: bump action tag from v0.11.0 to v0.12.0 in README and docs (#488)
  README.en.md
  README.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(action): rebuild github-action dist (#491)
  runners/github-action/dist/341.index.mjs
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix(review): align silent-catch heuristic severity with skill severity (#494)
  src/lib/review-engine.mjs
  tests/fixtures/review-eval/cases.json
Due: prettier --write

chore(action): rebuild dist after main updates
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore(action): rebuild dist after #494 src change
  runners/github-action/dist/158.index.mjs
  runners/github-action/dist/158.index.mjs.map
  runners/github-action/dist/213.index.mjs.map
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/458.index.mjs
  runners/github-action/dist/458.index.mjs.map
  runners/github-action/dist/488.index.mjs.map
  runners/github-action/dist/527.index.mjs
  runners/github-action/dist/527.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore(action): rebuild github-action dist after #494
  runners/github-action/dist/158.index.mjs
  runners/github-action/dist/158.index.mjs.map
  runners/github-action/dist/458.index.mjs
  runners/github-action/dist/458.index.mjs.map
  runners/github-action/dist/527.index.mjs
  runners/github-action/dist/527.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none
