Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

chore: rebuild action dist after main merge dependencies
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
Due: none

fix(docs): deduplicate AGENT_LEARNINGS.md and fix broken GEMINI.md reference (#414)
  AGENT_LEARNINGS.md
  GEMINI.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(eval): align llmPlan callback signature with evaluate-planner
  scripts/evaluate-all.mjs
Due: none

refactor(eval): simplify evaluate-all structure
  scripts/evaluate-all.mjs
Due: none

feat(eval): add unified evaluation runner and experiment ledger (#413)
  .gitignore
  artifacts/evals/.gitkeep
  package.json
  scripts/evaluate-all.mjs
  tests/evaluate-all.test.mjs
Due: prettier --write

docs: add keep/discard policy and eval-driven improvement ADR
  docs/adr/001-eval-driven-improvement-loop.md
  pages/reference/_meta.json
  pages/reference/eval-keep-discard-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(eval): return structured results from fixture evaluation
  scripts/evaluate-all.mjs
  src/lib/review-fixtures-eval.mjs
  tests/review-eval.test.mjs
Due: none

docs: add keep/discard policy and eval-driven improvement ADR (#416)
  docs/adr/001-eval-driven-improvement-loop.md
  pages/reference/_meta.json
  pages/reference/eval-keep-discard-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(eval): structured fixture results and multi-axis metrics (#417)
  scripts/evaluate-all.mjs
  src/lib/review-fixtures-eval.mjs
  tests/review-eval.test.mjs
Due: none

feat(review): add rule-based finding verifier
  src/lib/verifier.mjs
  tests/verifier.test.mjs
Due: none

feat(eval): add failure taxonomy schema and categorized fixture reports
  schemas/eval-failure.schema.json
  schemas/eval-ledger-entry.schema.json
  scripts/evaluate-all.mjs
  src/lib/review-fixtures-eval.mjs
  tests/eval-failure-categorization.test.mjs
Due: prettier --write

feat(review): add rule-based finding verifier (#418)
  src/lib/verifier.mjs
  tests/verifier.test.mjs
Due: none

feat(eval): add failure taxonomy and categorized fixture reports (#419)
  schemas/eval-failure.schema.json
  schemas/eval-ledger-entry.schema.json
  scripts/evaluate-all.mjs
  src/lib/review-fixtures-eval.mjs
  tests/eval-failure-categorization.test.mjs
Due: prettier --write

feat(review): add changed-files classifier for routing and evidence
  src/lib/file-classifier.mjs
  tests/file-classifier.test.mjs
Due: none

feat(review): add changed-files classifier (#420)
  src/lib/file-classifier.mjs
  tests/file-classifier.test.mjs
Due: none

refactor: simplify eval tools for performance and consistency
  scripts/evaluate-all.mjs
  src/lib/file-classifier.mjs
  src/lib/verifier.mjs
Due: none

refactor: simplify eval tools for performance and consistency (#421)
  scripts/evaluate-all.mjs
  src/lib/file-classifier.mjs
  src/lib/verifier.mjs
Due: none

feat(review): add test impact analyzer and config risk detector
  src/lib/config-risk.mjs
  src/lib/test-impact.mjs
  tests/config-risk.test.mjs
  tests/test-impact.test.mjs
Due: none

feat(review): add ADR/spec linker and dependency impact analyzer
  src/lib/adr-linker.mjs
  src/lib/dependency-impact.mjs
  tests/adr-linker.test.mjs
  tests/dependency-impact.test.mjs
Due: none

feat(review): add test impact analyzer and config risk detector (#422)
  src/lib/config-risk.mjs
  src/lib/test-impact.mjs
  tests/config-risk.test.mjs
  tests/test-impact.test.mjs
Due: none

feat(review): add ADR/spec linker and dependency impact analyzer (#423)
  src/lib/adr-linker.mjs
  src/lib/dependency-impact.mjs
  tests/adr-linker.test.mjs
  tests/dependency-impact.test.mjs
Due: none

refactor: redesign CLAUDE.md/AGENTS.md responsibility split and fix file-classifier bug
  .claude/agents/README.md
  .claude/commands/README.md
  .claude/rules/README.md
  .claude/skills/README.md
  AGENTS.md
  CLAUDE.md
  src/lib/file-classifier.mjs
  src/lib/verifier.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

style: fix prettier formatting in eval-keep-discard-policy.md
  pages/reference/eval-keep-discard-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(memory): add GitHub Artifact persistence for Riverbed Memory
  .github/workflows/riverbed-persist.yml
  .gitignore
  .river/memory/.gitkeep
  scripts/evaluate-all.mjs
  tests/evaluate-all.test.mjs
Due: prettier --write

feat(memory): add Riverbed Memory v1 runtime
  schemas/riverbed-entry.schema.json
  src/lib/riverbed-memory.mjs
  tests/riverbed-memory.test.mjs
Due: prettier --write

feat(memory): add Riverbed Memory v1 runtime (#426)
  schemas/riverbed-entry.schema.json
  src/lib/riverbed-memory.mjs
  tests/riverbed-memory.test.mjs
Due: prettier --write

feat(memory): add GitHub Artifact persistence for Riverbed Memory (#425)
  .github/workflows/riverbed-persist.yml
  .gitignore
  .river/memory/.gitkeep
  scripts/evaluate-all.mjs
  tests/evaluate-all.test.mjs
Due: prettier --write

chore: rebuild GitHub Action dist after file-classifier fix
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/213.index.mjs.map
Due: none

feat(review): integrate file-classifier into execution plan
  runners/core/review-runner.mjs
  tests/review-runner.test.mjs
Due: none

refactor: add planner failure taxonomy and fix riverbed-index schema
  schemas/riverbed-index.schema.json
  src/lib/planner-dataset-eval.mjs
  tests/planner-dataset-eval.test.mjs
Due: prettier --write

fix: add scripts/ to AGENTS.md repo map and clarify destructive commands
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: redesign CLAUDE.md/AGENTS.md responsibility split (#424)
  .claude/agents/README.md
  .claude/commands/README.md
  .claude/rules/README.md
  .claude/skills/README.md
  AGENTS.md
  CLAUDE.md
  pages/reference/eval-keep-discard-policy.md
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/213.index.mjs.map
  src/lib/file-classifier.mjs
  src/lib/verifier.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore: switch Codex approval policy to full-auto and trim comment
  .codex/config.toml
Due: none

feat(review): integrate verifier into review pipeline
  scripts/evaluate-all.mjs
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: none

refactor: add planner failure taxonomy and fix riverbed-index schema (#428)
  schemas/riverbed-index.schema.json
  src/lib/planner-dataset-eval.mjs
  tests/planner-dataset-eval.test.mjs
Due: prettier --write

feat(review): integrate file-classifier into execution plan (#427)
  runners/core/review-runner.mjs
  tests/review-runner.test.mjs
Due: none

feat(review): integrate verifier into review pipeline (#430)
  scripts/evaluate-all.mjs
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: none

docs: align .codex/AGENTS.md with full-auto approval policy
  .codex/AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(codex): update config comments to reflect full-auto policy
  .codex/config.toml
Due: none

chore: switch Codex approval policy to full-auto (#429)
  .codex/AGENTS.md
  .codex/config.toml
Due: prettier --write, npm run check:dashes, markdownlint --fix
