Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

feat(eval): add eval ledger section to PR template
  .github/pull_request_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ci): add nightly eval workflow for review quality monitoring
  .github/workflows/nightly-eval.yml
Due: prettier --write

feat(review): add diff cross-validation to verifier
  src/lib/verifier.mjs
  tests/verifier.test.mjs
Due: none

feat(policy): add risk map and escalation policy for AI/human review boundaries (#431)
  runners/core/review-runner.mjs
  schemas/output.schema.json
  schemas/risk-map.schema.json
  src/cli.mjs
  src/config/risk-map-schema.mjs
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  src/lib/risk-map.mjs
  tests/risk-map.test.mjs
Due: prettier --write

feat(review): integrate file-classifier into verifier with debug output
  src/lib/review-engine.mjs
  src/lib/verifier.mjs
  tests/verifier.test.mjs
Due: none

docs: redefine river reviewer as context engineering framework (#448)
  README.en.md
  README.md
  docs/architecture.md
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/reference/glossary.en.md
  pages/reference/glossary.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(ci): add existence check for eval output in summary step
  .github/workflows/nightly-eval.yml
Due: prettier --write

fix(review): improve RE_FILE_REF regex to avoid trailing punctuation capture
  src/lib/verifier.mjs
Due: none

feat: introduce progressive disclosure as skill loading principle (#449)
  pages/explanation/progressive-disclosure.en.md
  pages/explanation/progressive-disclosure.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(review): widen docs phase mapping and improve RE_FILE_REF regex
  src/lib/verifier.mjs
Due: none

fix(ci): mitigate script injection in workflow_dispatch input
  .github/workflows/nightly-eval.yml
Due: prettier --write

feat(memory): add memory-context bridge for review pipeline integration (#432)
  src/lib/memory-context.mjs
  tests/memory-context.test.mjs
Due: none

fix(review): forward fileTypes to generateReview from local-runner
  src/lib/local-runner.mjs
Due: none

feat(eval): add eval ledger section to PR template (#454)
  .github/pull_request_template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(policy): add suppression and resurfacing mechanism (#434)
  schemas/riverbed-entry.schema.json
  schemas/riverbed-index.schema.json
  src/lib/resurface.mjs
  src/lib/suppression.mjs
  tests/resurface.test.mjs
  tests/suppression.test.mjs
Due: prettier --write

feat(review): integrate file-classifier into verifier with debug output (#457)
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  src/lib/verifier.mjs
  tests/verifier.test.mjs
Due: none

feat(review): integrate adr-linker into review pipeline
  runners/core/review-runner.mjs
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: none

fix(review): forward repoRoot to buildExecutionPlan from local-runner
  src/lib/local-runner.mjs
Due: none

fix(review): thread relatedADRs through local-runner to generateReview
  src/lib/local-runner.mjs
Due: none

feat(review): integrate adr-linker into review pipeline (#456)
  runners/core/review-runner.mjs
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: none

feat(ci): add nightly eval workflow for review quality monitoring (#458)
  .github/workflows/nightly-eval.yml
Due: prettier --write

feat(evals): add nightly measure and audit pipeline (#433)
  .github/workflows/nightly-audit.yml
  scripts/generate-audit-report.mjs
  tests/generate-audit-report.test.mjs
Due: prettier --write

docs(guides): update riverbed memory guide with v1 E2E examples
  pages/guides/use-riverbed-memory.en.md
  pages/guides/use-riverbed-memory.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): update riverbed memory guide with v1 E2E examples (#463)
  pages/guides/use-riverbed-memory.en.md
  pages/guides/use-riverbed-memory.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(policy): add risk map and escalation policy for AI/human review boundaries (#431)
  package.json
  runners/core/review-runner.mjs
  schemas/eval-failure.schema.json
  schemas/output.schema.json
  schemas/risk-map.schema.json
  schemas/riverbed-entry.schema.json
  schemas/riverbed-index.schema.json
  scripts/evaluate-all.mjs
  scripts/evaluate-regression.mjs
  src/cli.mjs
  src/config/risk-map-schema.mjs
  src/lib/local-runner.mjs
  src/lib/memory-context.mjs
  src/lib/regression-eval.mjs
  src/lib/resurface.mjs
  src/lib/review-engine.mjs
  src/lib/risk-map.mjs
  src/lib/suppression.mjs
  tests/fixtures/regression-eval/cases.json
  tests/memory-context.test.mjs
  tests/regression-eval.test.mjs
  tests/resurface.test.mjs
  tests/risk-map.test.mjs
  tests/suppression.test.mjs
Due: prettier --write

fix(review): address review findings for risk map integration
  src/cli.mjs
  src/lib/review-engine.mjs
Due: none

feat(policy): add risk map and escalation policy (#462)
  package.json
  runners/core/review-runner.mjs
  schemas/eval-failure.schema.json
  schemas/output.schema.json
  schemas/risk-map.schema.json
  schemas/riverbed-entry.schema.json
  schemas/riverbed-index.schema.json
  scripts/evaluate-all.mjs
  scripts/evaluate-regression.mjs
  src/cli.mjs
  src/config/risk-map-schema.mjs
  src/lib/local-runner.mjs
  src/lib/memory-context.mjs
  src/lib/regression-eval.mjs
  src/lib/resurface.mjs
  src/lib/review-engine.mjs
  src/lib/risk-map.mjs
  src/lib/suppression.mjs
  tests/fixtures/regression-eval/cases.json
  tests/memory-context.test.mjs
  tests/regression-eval.test.mjs
  tests/resurface.test.mjs
  tests/risk-map.test.mjs
  tests/suppression.test.mjs
Due: prettier --write

feat: integrate risk map, memory, suppression, and regression eval into pipeline
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  runners/core/review-runner.mjs
  schemas/eval-failure.schema.json
  schemas/eval-rubric.schema.json
  schemas/output.schema.json
  schemas/risk-map.schema.json
  schemas/riverbed-entry.schema.json
  schemas/riverbed-index.schema.json
  scripts/evaluate-regression.mjs
  src/cli.mjs
  src/config/risk-map-schema.mjs
  src/lib/local-runner.mjs
  src/lib/memory-context.mjs
  src/lib/regression-eval.mjs
  src/lib/resurface.mjs
  src/lib/review-engine.mjs
  src/lib/risk-map.mjs
  src/lib/suppression.mjs
  tests/fixtures/regression-eval/cases.json
  tests/memory-context.test.mjs
  tests/regression-eval.test.mjs
  tests/resurface.test.mjs
  tests/risk-map.test.mjs
  tests/suppression.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(evals): add risk-map and memory-fallback regression eval fixtures
  scripts/evaluate-regression.mjs
  src/lib/regression-eval.mjs
  tests/fixtures/regression-eval/cases.json
Due: prettier --write

feat(evals): add risk-map and memory-fallback regression eval fixtures (#469)
  scripts/evaluate-regression.mjs
  src/lib/regression-eval.mjs
  tests/fixtures/regression-eval/cases.json
Due: prettier --write

feat(memory): add memory-context bridge for pipeline integration (#432)
  pages/explanation/progressive-disclosure.en.md
  pages/explanation/progressive-disclosure.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

refactor: extract shared helpers and reduce duplication
  src/lib/memory-context.mjs
  src/lib/regression-eval.mjs
  src/lib/resurface.mjs
  src/lib/suppression.mjs
Due: none

refactor: extract shared helpers and reduce duplication (#471)
  src/lib/memory-context.mjs
  src/lib/regression-eval.mjs
  src/lib/resurface.mjs
  src/lib/suppression.mjs
Due: none

feat(evals): add regression eval set for policy, memory, and escalation (#435)
  scripts/evaluate-all.mjs
  scripts/evaluate-regression.mjs
  src/lib/regression-eval.mjs
  tests/fixtures/regression-eval/cases.json
Due: prettier --write

fix(evals): prevent stderr leak and silent failure in nightly-audit (#472)
  .github/workflows/nightly-audit.yml
Due: prettier --write

fix(evals): prevent stderr leak and silent failure in nightly-audit (#472) (#473)
  .github/workflows/nightly-audit.yml
Due: prettier --write

feat: implement riverbed memory v1 lifecycle and supersession (#451)
  schemas/riverbed-entry.schema.json
  schemas/riverbed-index.schema.json
  src/lib/riverbed-memory.mjs
  tests/riverbed-memory.test.mjs
Due: prettier --write
