Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

feat(skills): add Greptile-inspired cross-context core skills (#654)
  runners/node-api/dist/index.js
  runners/node-api/dist/index.js.map
  runners/node-api/src/index.ts
Due: prettier --write

feat(context): add repo-wide context collector (Issue #651)
  src/lib/local-runner.mjs
  src/lib/repo-context.mjs
  src/lib/review-engine.mjs
  tests/repo-context.test.mjs
Due: none

feat(skills): add Greptile-inspired cross-context core skills
  skills/midstream/rr-midstream-api-compatibility-001/SKILL.md
  skills/midstream/rr-midstream-api-compatibility-001/fixtures/01-required-field-added-without-test.md
  skills/midstream/rr-midstream-api-compatibility-001/fixtures/02-additive-optional-field-safe.md
  skills/midstream/rr-midstream-i18n-unused-key-001/SKILL.md
  skills/midstream/rr-midstream-i18n-unused-key-001/fixtures/01-removed-component-key-left-behind.md
  skills/midstream/rr-midstream-i18n-unused-key-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-i18n-unused-key-001/fixtures/02-dynamic-key-false-positive.md
  skills/midstream/rr-midstream-i18n-unused-key-001/fixtures/02-should-not-detect.md
  skills/midstream/rr-midstream-loading-state-001/SKILL.md
  skills/midstream/rr-midstream-loading-state-001/fixtures/01-missing-error-state.md
  skills/midstream/rr-midstream-loading-state-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-loading-state-001/fixtures/02-should-not-detect.md
  skills/midstream/rr-midstream-loading-state-001/fixtures/02-suspense-boundary-false-positive.md
  skills/midstream/rr-midstream-normalization-consistency-001/SKILL.md
  skills/midstream/rr-midstream-normalization-consistency-001/fixtures/01-inline-date-format.md
  skills/midstream/rr-midstream-normalization-consistency-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-normalization-consistency-001/fixtures/02-shared-utility-consistent.md
  skills/midstream/rr-midstream-normalization-consistency-001/fixtures/02-should-not-detect.md
  skills/midstream/rr-midstream-nullability-contract-001/SKILL.md
  skills/midstream/rr-midstream-nullability-contract-001/fixtures/01-map-get-without-null-check.md
  skills/midstream/rr-midstream-nullability-contract-001/fixtures/02-assert-validated-safe.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): add Greptile-inspired cross-context core skills (#654)
  skills/midstream/rr-midstream-api-compatibility-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-api-compatibility-001/fixtures/02-should-not-detect.md
  skills/midstream/rr-midstream-nullability-contract-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-nullability-contract-001/fixtures/02-should-not-detect.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): add Greptile-inspired cross-context core skills (#654)
  skills/midstream/rr-midstream-api-compatibility-001/SKILL.md
  skills/midstream/rr-midstream-api-compatibility-001/fixtures/01-required-field-added-without-test.md
  skills/midstream/rr-midstream-api-compatibility-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-api-compatibility-001/fixtures/02-additive-optional-field-safe.md
  skills/midstream/rr-midstream-api-compatibility-001/fixtures/02-should-not-detect.md
  skills/midstream/rr-midstream-i18n-unused-key-001/SKILL.md
  skills/midstream/rr-midstream-i18n-unused-key-001/fixtures/01-removed-component-key-left-behind.md
  skills/midstream/rr-midstream-i18n-unused-key-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-i18n-unused-key-001/fixtures/02-dynamic-key-false-positive.md
  skills/midstream/rr-midstream-i18n-unused-key-001/fixtures/02-should-not-detect.md
  skills/midstream/rr-midstream-loading-state-001/SKILL.md
  skills/midstream/rr-midstream-loading-state-001/fixtures/01-missing-error-state.md
  skills/midstream/rr-midstream-loading-state-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-loading-state-001/fixtures/02-should-not-detect.md
  skills/midstream/rr-midstream-loading-state-001/fixtures/02-suspense-boundary-false-positive.md
  skills/midstream/rr-midstream-normalization-consistency-001/SKILL.md
  skills/midstream/rr-midstream-normalization-consistency-001/fixtures/01-inline-date-format.md
  skills/midstream/rr-midstream-normalization-consistency-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-normalization-consistency-001/fixtures/02-shared-utility-consistent.md
  skills/midstream/rr-midstream-normalization-consistency-001/fixtures/02-should-not-detect.md
  skills/midstream/rr-midstream-nullability-contract-001/SKILL.md
  skills/midstream/rr-midstream-nullability-contract-001/fixtures/01-map-get-without-null-check.md
  skills/midstream/rr-midstream-nullability-contract-001/fixtures/01-should-detect.md
  skills/midstream/rr-midstream-nullability-contract-001/fixtures/02-assert-validated-safe.md
  skills/midstream/rr-midstream-nullability-contract-001/fixtures/02-should-not-detect.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(readme): fix PlanGate-independence contradiction in positioning section
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix outdated planned/closed-issue references in structure and contract docs
  docs/skills-structure.md
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(settings): reduce user confirmations by broadening allow list
  .claude/settings.json
Due: prettier --write

docs(readme): fix PlanGate-independence contradiction in positioning section (#668)
  .claude/settings.json
  README.en.md
  README.md
  docs/skills-structure.md
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: fix AI-capitalization errors and outdated skill counts in EN docs
  pages/explanation/progressive-disclosure.en.md
  pages/explanation/progressive-disclosure.md
  pages/explanation/skills.en.md
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  pages/reference/review-policy.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: fix AI-capitalization errors and outdated skill counts in EN docs (#671)
  pages/explanation/progressive-disclosure.en.md
  pages/explanation/progressive-disclosure.md
  pages/explanation/skills.en.md
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  pages/reference/review-policy.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(review): add P1/P2/P3/P4 priority display to markdown output
  src/cli.mjs
  src/lib/finding-format.mjs
  tests/finding-format.test.mjs
Due: none

feat(context): add repo-wide context collector for cross-file review signals
  src/lib/local-runner.mjs
  src/lib/repo-context.mjs
  src/lib/review-engine.mjs
  tests/repo-context.test.mjs
Due: none

build(action): rebuild dist for P1/P2/P3/P4 priority display changes
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

build(action): rebuild dist for repo-context collector integration
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore(action): rebuild dist with pinned Node 22.22.2 and fix CI
  .github/workflows/test.yml
  runners/github-action/dist/145.index.mjs
  runners/github-action/dist/145.index.mjs.map
  runners/github-action/dist/209.index.mjs
  runners/github-action/dist/209.index.mjs.map
  runners/github-action/dist/4.index.mjs
  runners/github-action/dist/4.index.mjs.map
  runners/github-action/dist/560.index.mjs
  runners/github-action/dist/560.index.mjs.map
  runners/github-action/dist/684.index.mjs
  runners/github-action/dist/684.index.mjs.map
  runners/github-action/dist/830.index.mjs
  runners/github-action/dist/830.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

ci(dist-check): pin Node version to 22.22.2 to match .nvmrc
  .github/workflows/test.yml
Due: prettier --write

ci(dist-check): replace rebuild+diff with timestamp-based staleness check
  .github/workflows/test.yml
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  src/lib/repo-context.mjs
  src/lib/review-engine.mjs
  tests/repo-context.test.mjs
Due: prettier --write

ci(dist-check): replace rebuild+diff with timestamp-based staleness check
  .github/workflows/test.yml
Due: prettier --write

chore(action): rebuild dist for priority-display feature
  runners/github-action/dist/145.index.mjs
  runners/github-action/dist/145.index.mjs.map
  runners/github-action/dist/209.index.mjs
  runners/github-action/dist/209.index.mjs.map
  runners/github-action/dist/213.index.mjs.map
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/341.index.mjs.map
  runners/github-action/dist/4.index.mjs
  runners/github-action/dist/4.index.mjs.map
  runners/github-action/dist/488.index.mjs.map
  runners/github-action/dist/560.index.mjs
  runners/github-action/dist/560.index.mjs.map
  runners/github-action/dist/610.index.mjs.map
  runners/github-action/dist/684.index.mjs
  runners/github-action/dist/684.index.mjs.map
  runners/github-action/dist/744.index.mjs.map
  runners/github-action/dist/830.index.mjs
  runners/github-action/dist/830.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(review): add P1/P2/P3/P4 priority display to markdown report
  src/cli.mjs
  src/lib/finding-format.mjs
  tests/finding-format.test.mjs
Due: none

build(action): rebuild dist after rebase onto main
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(node-api): add concurrency limit to parallel skill execution
  runners/node-api/dist/index.d.ts.map
  runners/node-api/dist/index.js
  runners/node-api/dist/index.js.map
  runners/node-api/dist/types.d.ts
  runners/node-api/dist/types.d.ts.map
  runners/node-api/src/index.ts
  runners/node-api/src/types.ts
  tests/node-api/concurrency.test.mjs
Due: prettier --write

feat(review): add P1/P2/P3/P4 priority display to markdown output (#677)
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/finding-format.mjs
  tests/finding-format.test.mjs
Due: none

fix(review): remove redundant sections from formatPrioritySummaryMarkdown
  src/cli.mjs
Due: none

fix(inline-comments): use issueCountBySeverity for total count in summary
  runners/github-action/post-inline-comments.cjs
Due: none

feat(github): add inline_comments input for per-line review comments
  runners/github-action/action.yml
  runners/github-action/post-inline-comments.cjs
Due: prettier --write

fix(node-api): rewrite concurrency tests to avoid core-runner dependency
  tests/node-api/concurrency.test.mjs
Due: none

feat(node-api): add concurrency limit to parallel skill execution (#678)
  runners/node-api/dist/index.d.ts.map
  runners/node-api/dist/index.js
  runners/node-api/dist/index.js.map
  runners/node-api/dist/types.d.ts
  runners/node-api/dist/types.d.ts.map
  runners/node-api/src/index.ts
  runners/node-api/src/types.ts
  tests/node-api/concurrency.test.mjs
Due: prettier --write

feat(github): add inline_comments input for per-line review comments (#675)
  runners/github-action/action.yml
  runners/github-action/post-inline-comments.cjs
Due: prettier --write

feat(node-api): improve per-file finding attribution in parseFindings
  runners/node-api/dist/ai-helpers.d.ts.map
  runners/node-api/dist/ai-helpers.js
  runners/node-api/dist/ai-helpers.js.map
  runners/node-api/src/ai-helpers.ts
  tests/node-api/ai-provider.test.mjs
Due: prettier --write

feat(node-api): improve per-file finding attribution in parseFindings (#679)
  runners/node-api/dist/ai-helpers.d.ts.map
  runners/node-api/dist/ai-helpers.js
  runners/node-api/dist/ai-helpers.js.map
  runners/node-api/src/ai-helpers.ts
  tests/node-api/ai-provider.test.mjs
Due: prettier --write

refactor(github): batch inline review comments via pulls.createReview
  runners/github-action/post-inline-comments.cjs
Due: none

refactor(github): batch inline review comments via pulls.createReview (#682)
  runners/github-action/post-inline-comments.cjs
Due: none

chore(deps): bump @opentelemetry/exporter-trace-otlp-http from 0.211.0 to 0.215.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump @opentelemetry/exporter-trace-otlp-http from 0.211.0 to 0.215.0 (#683)
  package-lock.json
  package.json
Due: prettier --write

fix(deps): add @mermaid-js/layout-elk peer dep required by theme-mermaid 3.10.0
  package-lock.json
  package.json
Due: prettier --write
