Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

chore(deps): bump @docusaurus/{core,preset-classic,theme-mermaid} to 3.10.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): bump @docusaurus/{core,preset-classic,theme-mermaid} to 3.10.0 (#681)
  package-lock.json
  package.json
Due: prettier --write

docs: add strict-mode batch merge and peerDeps guards
  .claude/commands/plan-merge-order.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(guards): correct rebase bash example and peerDeps check recommendation
  .claude/commands/plan-merge-order.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(guards): correct rebase bash example and peerDeps check recommendation (#684)
  .claude/commands/plan-merge-order.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(guides): add repo-wide review setup and tuning guide (#690)
  pages/guides/_meta.json
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(explanation): add embedding code index research note (#691)
  pages/explanation/_meta.json
  pages/explanation/embedding-code-index-research.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): satisfy textlint ja-technical-writing rules
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(explanation): satisfy textlint ja-technical-writing rules
  pages/explanation/embedding-code-index-research.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): clarify maxChars is a function arg, not a config key
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(explanation): correct index size estimate, drop absolute repo URL
  pages/explanation/embedding-code-index-research.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(explanation): add embedding code index research note (#694)
  pages/explanation/_meta.json
  pages/explanation/embedding-code-index-research.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): add repo-wide review setup and tuning guide (#693)
  pages/guides/_meta.json
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(memory): add suppression context schema and feedback fields (#687 PR-A)
  schemas/suppression-context.schema.json
  src/lib/suppression.mjs
  tests/suppression.test.mjs
Due: prettier --write

ci(dist-check): rebuild and diff before failing on stale timestamp
  .github/workflows/test.yml
  docs/development/dist-check-rebuild-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci(dist-check): rebuild and diff before failing on stale timestamp (#696)
  .github/workflows/test.yml
  docs/development/dist-check-rebuild-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(action): rebuild github-action dist (#687 PR-A)
  runners/github-action/dist/488.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix(memory): tighten prNumber / sourceCommentId validation (#687 PR-A)
  schemas/suppression-context.schema.json
  src/lib/suppression.mjs
  tests/suppression.test.mjs
Due: prettier --write

test(memory): use distinct fingerprints in invalid-id-args test (#687 PR-A)
  tests/suppression.test.mjs
Due: none

feat(memory): add suppression context schema and feedback fields (#687 PR-A) (#695)
  runners/github-action/dist/488.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/suppression-context.schema.json
  src/lib/suppression.mjs
  tests/suppression.test.mjs
Due: prettier --write

feat(security): add secret-redactor library and deny-glob defaults (#692 PR-A)
  src/lib/secret-redactor.mjs
  tests/secret-redactor.test.mjs
Due: none

feat(memory): add applySuppressions pure function (#687 PR-B)
  src/lib/suppression-apply.mjs
  tests/suppression-apply.test.mjs
Due: none

fix(security): broaden ENV_VAR_RE and case-insensitive deny matching (#692 PR-A)
  src/lib/secret-redactor.mjs
  tests/secret-redactor.test.mjs
Due: none

feat(security): add secret-redactor library and deny-glob defaults (#692 PR-A) (#698)
  src/lib/secret-redactor.mjs
  tests/secret-redactor.test.mjs
Due: none

feat(memory): add applySuppressions pure function (#687 PR-B) (#699)
  src/lib/suppression-apply.mjs
  tests/suppression-apply.test.mjs
Due: none

feat(memory): wire applySuppressions into runLocalReview (#687 PR-C)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  tests/local-runner-suppression.test.mjs
Due: none

fix(memory): also filter review.comments by suppression fingerprints (#687 PR-C)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  tests/local-runner-suppression.test.mjs
Due: none

feat(memory): wire applySuppressions into runLocalReview (#687 PR-C) (#701)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  tests/local-runner-suppression.test.mjs
Due: none

feat(security): add security.redact zod schema and JSON Schema (#692 PR-B)
  schemas/redaction-config.schema.json
  src/config/schema.mjs
  tests/config-schema.test.mjs
Due: prettier --write

chore(action): rebuild github-action dist (#692 PR-B)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(security): add security.redact zod schema and JSON Schema (#692 PR-B) (#702)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/redaction-config.schema.json
  src/config/schema.mjs
  tests/config-schema.test.mjs
Due: prettier --write

feat(security): integrate redactText into collectRepoContext (#692 PR-C)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  src/lib/repo-context.mjs
  tests/local-runner-suppression.test.mjs
  tests/repo-context-redaction.test.mjs
Due: none

fix(security): bill testContents header against the char budget (#692 PR-C)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/repo-context.mjs
Due: none

feat(security): integrate redactText into collectRepoContext (#692 PR-C) (#704)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  src/lib/repo-context.mjs
  tests/local-runner-suppression.test.mjs
  tests/repo-context-redaction.test.mjs
Due: none

feat(security): redact prompt at the artifact boundary (#692 PR-D)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: none

docs(guides): document #687 suppression memory + #692 redaction (PR-E)
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(security): redact prompt at the artifact boundary (#692 PR-D) (#707)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: none

feat(memory): add `river suppression add` CLI + memory.suppressionEnabled (#687 PR-D)
  runners/github-action/dist/528.index.mjs
  runners/github-action/dist/528.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/config/schema.mjs
  tests/cli-parse-args.test.mjs
Due: none

chore(action): rebuild dist after rebase on main (#687 PR-D)
  runners/github-action/dist/index.mjs.map
Due: none

feat(memory): add `river suppression add` CLI + memory.suppressionEnabled (#687 PR-D) (#708)
  runners/github-action/dist/528.index.mjs
  runners/github-action/dist/528.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/config/schema.mjs
  tests/cli-parse-args.test.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
