Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

docs(ai-guards): address AI reviewer findings on reviewer-comments guard
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: add unit tests for openai-planner and config/risk-map schemas (phase 3)
  src/lib/openai-planner.mjs
  tests/config-schema.test.mjs
  tests/openai-planner.test.mjs
Due: none

test: add unit tests for openai-planner and config/risk-map schemas (phase 3) (#542)
  src/lib/openai-planner.mjs
  tests/config-schema.test.mjs
  tests/openai-planner.test.mjs
Due: none

fix(ai-guards): move per_page to URL query (gh api -F flips to POST)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(action): rebuild github-action dist against Node 22.22.2
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore(action): rebuild github-action dist against Node 22.22.2 (#544)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

style(docs): apply prettier to dist-check-rebuild-guide.md
  docs/development/dist-check-rebuild-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(improvement-flow): codify workflow-PR preflight and dist rebuild guide
  .claude/commands/preflight.md
  CLAUDE.md
  docs/development/dist-check-rebuild-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

style(docs): normalize em-dash spacing in dist-check-rebuild-guide.md
  docs/development/dist-check-rebuild-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(improvement-flow): codify workflow-PR preflight and dist rebuild guide (#543)
  .claude/commands/preflight.md
  CLAUDE.md
  docs/development/dist-check-rebuild-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ci): introduce setup-node-deps composite action and apply CI best practices
  .github/actions/setup-node-deps/action.yml
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/auto-milestone.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/diataxis-docs-check.yml
  .github/workflows/doc-quality.yml
  .github/workflows/link-check.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/nightly-eval.yml
  .github/workflows/prose-lint.yml
  .github/workflows/release-please.yml
  .github/workflows/river-reviewer-upstream.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/riverbed-persist.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
Due: prettier --write

feat(ci): introduce setup-node-deps composite action and apply CI best practices (#528)
  .github/actions/setup-node-deps/action.yml
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/auto-milestone.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/diataxis-docs-check.yml
  .github/workflows/doc-quality.yml
  .github/workflows/link-check.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/nightly-eval.yml
  .github/workflows/prose-lint.yml
  .github/workflows/release-please.yml
  .github/workflows/river-reviewer-upstream.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/riverbed-persist.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
Due: prettier --write

docs(ai-guards): specify -X POST for comment reply example
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

style: prettier on CLAUDE.md after reply example fix
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(ai-guards): add "Verify reviewer comments before merge" (#539)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): grant id-token: write to unit-tests for codecov OIDC
  .github/workflows/test.yml
Due: prettier --write

fix(ci): grant id-token: write to unit-tests for codecov OIDC (#546)
  .github/workflows/test.yml
Due: prettier --write

fix(eval): rubric schema scope, direction field, terminology, integrity tests
  eval/README.md
  eval/rubric.yaml
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  schemas/eval-ledger-entry.schema.json
  schemas/eval-rubric.schema.json
  tests/eval-rubric.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(schemas): tighten review-artifact schema and add ajv validation tests
  pages/reference/_meta.json
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  schemas/review-artifact.schema.json
  tests/review-artifact-schema.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

refactor(skill-loader): extract shared _loadFromDir helper and add metadata tests
  runners/core/skill-loader.mjs
  runners/node-api/src/index.ts
  tests/skill-loader.test.mjs
Due: prettier --write

chore(deps): bump @types/node to ^22.10.0 in runners/node-api
  runners/node-api/package.json
Due: prettier --write

chore(action): rebuild dist after skill-loader refactor
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore(deps): bump @types/node to ^22.10.0 in runners/node-api (#550)
  runners/node-api/package.json
Due: prettier --write

fix(eval): rubric schema scope, direction field, terminology, integrity tests (#547)
  eval/README.md
  eval/rubric.yaml
  pages/reference/evaluation-rubric.en.md
  pages/reference/evaluation-rubric.md
  schemas/eval-ledger-entry.schema.json
  schemas/eval-rubric.schema.json
  tests/eval-rubric.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(schemas): tighten review-artifact schema and add ajv validation tests (#548)
  pages/reference/_meta.json
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  schemas/review-artifact.schema.json
  tests/review-artifact-schema.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

refactor(skill-loader): extract shared loader loop and add metadata tests (#549)
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/node-api/src/index.ts
  tests/skill-loader.test.mjs
Due: prettier --write

docs(governance): move reviewer comments handling to governance.md (SSoT)
  CLAUDE.md
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(ci): unify actions/setup-node to @v6
  runners/github-action/action.yml
Due: prettier --write

chore(ci): unify actions/setup-node to @v6 (#551)
  runners/github-action/action.yml
Due: prettier --write

docs(governance): move reviewer comments handling to governance.md (SSoT) (#552)
  CLAUDE.md
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: sync action tag examples to v0.12.0 and add /preflight to CLAUDE.md
  CLAUDE.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(riverbed): mark Riverbed Memory v1 as shipped, keep v2 as planned
  pages/explanation/riverbed-memory.en.md
  pages/explanation/riverbed-memory.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(governance): add merge-time checklist (CI green / preflight / dist Node / git verify)
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(schema): unify skill schema docs around category-first routing
  pages/guides/add-new-skill.en.md
  pages/guides/add-new-skill.md
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  pages/reference/skill-schema.en.md
  pages/reference/skill-schema.md
  skills/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

docs(runbook,readme-en): align dev runbook with .nvmrc/composite, sync README.en
  README.en.md
  docs/runbook/dev.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): use unique Docusaurus id for riverbed-memory.en.md
  pages/explanation/riverbed-memory.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: sync action tag examples to v0.12.0 and add /preflight to CLAUDE.md (#553)
  CLAUDE.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(riverbed): mark Riverbed Memory v1 as shipped, keep v2 as planned (#554)
  pages/explanation/riverbed-memory.en.md
  pages/explanation/riverbed-memory.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(governance): add merge-time checklist (CI green / preflight / dist Node / git verify) (#555)
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(spec): add artifact input contract spec (#516)
  pages/reference/_meta.json
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
