Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

chore(ci): harden GitHub Actions defaults
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/build.yml
  .github/workflows/doc-quality.yml
  .github/workflows/link-check.yml
  .github/workflows/prose-lint.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
Due: prettier --write

fix(ci): restore meta-check and artifact action versions
  .github/workflows/build.yml
  .github/workflows/doc-quality.yml
  .github/workflows/link-check.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
Due: prettier --write

chore(docs): auto-fix dash spacing
  docs/development/pipeline-params-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(hooks): make .husky/pre-commit executable (#487)
  .husky/pre-commit
Due: none

feat(commands): add /preflight to verify task state before multi-PR work
  .claude/commands/README.md
  .claude/commands/preflight.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: upgrade Node baseline from 20 to 22 LTS
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/doc-quality.yml
  .github/workflows/nightly-eval.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
  README.en.md
  README.md
  docs/migration/runners-architecture-guide.md
  docs/runbook/dev.md
  package.json
  pages/guides/use-riverbed-memory.en.md
  pages/guides/use-riverbed-memory.md
  runners/cli/package.json
  runners/core/package.json
  runners/github-action/action.yml
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/node-api/package.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(commands): add /preflight to verify task state before multi-PR work (#501)
  .claude/commands/README.md
  .claude/commands/preflight.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ci): add setup-node-deps composite action and apply across workflows
  .github/actions/setup-node-deps/action.yml
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/doc-quality.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/nightly-eval.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
Due: prettier --write

chore(ci): declare minimal permissions and timeout-minutes across all workflows
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/auto-milestone.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/diataxis-docs-check.yml
  .github/workflows/doc-quality.yml
  .github/workflows/link-check.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/nightly-eval.yml
  .github/workflows/prose-lint.yml
  .github/workflows/release-please.yml
  .github/workflows/river-reviewer-upstream.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/riverbed-persist.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
Due: prettier --write

chore(ci): add concurrency groups to remaining workflows
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/auto-milestone.yml
  .github/workflows/build.yml
  .github/workflows/diataxis-docs-check.yml
  .github/workflows/doc-quality.yml
  .github/workflows/link-check.yml
  .github/workflows/prose-lint.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/riverbed-persist.yml
  .github/workflows/skill-validation.yml
  .github/workflows/validate-agents.yml
Due: prettier --write

chore(ci): pin third-party actions to commit SHA
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/link-check.yml
  .github/workflows/prose-lint.yml
  .github/workflows/release-please.yml
  .github/workflows/test.yml
Due: prettier --write

docs(commands): add preflight step to /plan-merge-order
  .claude/commands/plan-merge-order.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(ci): unify action versions
  .github/workflows/deploy.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/nightly-eval.yml
  .github/workflows/riverbed-persist.yml
  runners/github-action/action.yml
Due: prettier --write

fix(scripts): respect --check flag and skip markdown table rows
  docs/development/pipeline-params-checklist.md
  scripts/fix-dashes.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): address multi-agent review findings
  .github/actions/setup-node-deps/action.yml
  .github/workflows/nightly-audit.yml
  .github/workflows/riverbed-persist.yml
Due: prettier --write

chore(git): normalize line endings for github-action dist
  .gitattributes
Due: none

docs(readme): clarify that Node 20 is still in the test matrix
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): respect --check flag and skip markdown table rows (#504)
  docs/development/pipeline-params-checklist.md
  scripts/fix-dashes.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(commands): add preflight step to /plan-merge-order (#503)
  .claude/commands/plan-merge-order.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(action): rebuild github-action dist for ci/optimize-workflows
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore: upgrade Node baseline from 20 to 22 LTS (#502)
  .gitattributes
  .github/workflows/auto-fix-dashes.yml
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/doc-quality.yml
  .github/workflows/nightly-eval.yml
  .github/workflows/river-reviewer.yml
  .github/workflows/skill-eval.yml
  .github/workflows/skill-validation.yml
  .github/workflows/test.yml
  .github/workflows/validate-agents.yml
  README.en.md
  README.md
  docs/migration/runners-architecture-guide.md
  docs/runbook/dev.md
  package.json
  pages/guides/use-riverbed-memory.en.md
  pages/guides/use-riverbed-memory.md
  runners/cli/package.json
  runners/core/package.json
  runners/github-action/action.yml
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/node-api/package.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): correct LLM provider references to match factory implementation
  docs/architecture.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): complete buildExecutionPlan call sites in pipeline checklist
  docs/development/pipeline-params-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): include node-api types.ts and clarify two index.ts forwards
  docs/development/pipeline-params-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): reflect that review pipeline is OpenAI-only (not Gemini)
  docs/architecture.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): complete buildExecutionPlan call sites in pipeline checklist (#493)
  docs/development/pipeline-params-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): clarify that review pipeline is OpenAI-only (#490)
  docs/architecture.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(github): add Epic/Capability issue templates with pre-implementation checklist
  .github/ISSUE_TEMPLATE/capability.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/task.yaml
Due: prettier --write

refactor(tests): extract shared helpers and accelerate cli tests (phase 1)
  src/cli.mjs
  tests/cli-parse-args.test.mjs
  tests/cli.test.mjs
  tests/helpers/README.md
  tests/helpers/__tests__/cli.test.mjs
  tests/helpers/__tests__/memory.test.mjs
  tests/helpers/__tests__/temp-dir.test.mjs
  tests/helpers/__tests__/temp-repo.test.mjs
  tests/helpers/cli.mjs
  tests/helpers/memory.mjs
  tests/helpers/temp-dir.mjs
  tests/helpers/temp-repo.mjs
  tests/integration/local-review.test.mjs
  tests/memory-context.test.mjs
  tests/riverbed-memory.test.mjs
  tests/rules.test.mjs
  tests/skill-loader.test.mjs
  tests/suppression.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(tests/helpers): apply prettier formatting and sync README with implementation
  tests/helpers/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(github): enforce pre-implementation checklist via checkboxes type
  .github/ISSUE_TEMPLATE/capability.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/task.yaml
Due: prettier --write

fix(tests/helpers): address multi-agent review findings
  src/cli.mjs
  tests/cli.test.mjs
  tests/helpers/README.md
  tests/helpers/cli.mjs
  tests/helpers/temp-repo.mjs
  tests/integration/local-review.test.mjs
  tests/memory-context.test.mjs
  tests/riverbed-memory.test.mjs
  tests/skill-loader.test.mjs
  tests/suppression.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(github): add Epic/Capability issue templates with pre-implementation checklist (#515)
  .github/ISSUE_TEMPLATE/capability.yml
  .github/ISSUE_TEMPLATE/epic.yml
  .github/ISSUE_TEMPLATE/task.yaml
Due: prettier --write

chore: add .nvmrc pinning to Node 22.22.2
  .nvmrc
Due: none

chore: add .nvmrc pinning to Node 22.22.2 (#525)
  .nvmrc
Due: none

docs(ai-guards): add "Verify reviewer comments before merge"
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor(tests): extract shared helpers and accelerate cli tests (phase 1) (#506)
  src/cli.mjs
  tests/cli-parse-args.test.mjs
  tests/cli.test.mjs
  tests/helpers/README.md
  tests/helpers/__tests__/cli.test.mjs
  tests/helpers/__tests__/memory.test.mjs
  tests/helpers/__tests__/temp-dir.test.mjs
  tests/helpers/__tests__/temp-repo.test.mjs
  tests/helpers/cli.mjs
  tests/helpers/memory.mjs
  tests/helpers/temp-dir.mjs
  tests/helpers/temp-repo.mjs
  tests/integration/local-review.test.mjs
  tests/memory-context.test.mjs
  tests/riverbed-memory.test.mjs
  tests/rules.test.mjs
  tests/skill-loader.test.mjs
  tests/suppression.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(ai-guards): tighten guard per Quality and Code Reuse review
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: add unit tests for git.mjs, local-runner internals, and ai/factory (phase 2)
  src/ai/factory.mjs
  src/lib/local-runner.mjs
  tests/ai-factory.test.mjs
  tests/git.test.mjs
  tests/local-runner-internals.test.mjs
Due: none

test: add unit tests for git.mjs, local-runner internals, and ai/factory (phase 2) (#540)
  src/ai/factory.mjs
  src/lib/local-runner.mjs
  tests/ai-factory.test.mjs
  tests/git.test.mjs
  tests/local-runner-internals.test.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
