Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

docs(guides): document #687 suppression memory + #692 redaction (PR-E) (#709)
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(eval): add repo-wide review regression fixtures harness (#688 PR-1)
  package.json
  scripts/evaluate-repo-wide-fixtures.mjs
  src/lib/repo-wide-fixtures-eval.mjs
  tests/fixtures/repo-wide-eval/README.md
  tests/fixtures/repo-wide-eval/cases.json
  tests/fixtures/repo-wide-eval/diffs/i18n-unused-key-01.diff
  tests/fixtures/repo-wide-eval/seeds/i18n-unused-key-01/src/components/UserProfile.tsx
  tests/fixtures/repo-wide-eval/seeds/i18n-unused-key-01/src/i18n/en.json
  tests/fixtures/repo-wide-eval/seeds/i18n-unused-key-01/tests/components/UserProfile.test.tsx
  tests/repo-wide-fixtures-eval.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(context): add token-estimator and context.* config schema (#689 PR-A)
  src/config/schema.mjs
  src/lib/token-estimator.mjs
  tests/config-schema.test.mjs
  tests/token-estimator.test.mjs
Due: none

fix(eval): surface harness errors with context (#688 PR-1)
  scripts/evaluate-repo-wide-fixtures.mjs
  src/lib/repo-wide-fixtures-eval.mjs
Due: none

fix(context): tighten token-estimator safety bounds and matchAll counter (#689 PR-A)
  src/lib/token-estimator.mjs
  tests/token-estimator.test.mjs
Due: none

feat(eval): add repo-wide review regression fixtures harness (#688 PR-1) (#711)
  package.json
  scripts/evaluate-repo-wide-fixtures.mjs
  src/lib/repo-wide-fixtures-eval.mjs
  tests/fixtures/repo-wide-eval/README.md
  tests/fixtures/repo-wide-eval/cases.json
  tests/fixtures/repo-wide-eval/diffs/i18n-unused-key-01.diff
  tests/fixtures/repo-wide-eval/seeds/i18n-unused-key-01/src/components/UserProfile.tsx
  tests/fixtures/repo-wide-eval/seeds/i18n-unused-key-01/src/i18n/en.json
  tests/fixtures/repo-wide-eval/seeds/i18n-unused-key-01/tests/components/UserProfile.test.tsx
  tests/repo-wide-fixtures-eval.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(action): rebuild dist after main rebase (#689 PR-A)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(context): add token-estimator and context.* config schema (#689 PR-A) (#712)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/token-estimator.mjs
  tests/config-schema.test.mjs
  tests/token-estimator.test.mjs
Due: none

feat(context): add context-ranker pure functions (#689 PR-B)
  src/lib/context-ranker.mjs
  tests/context-ranker.test.mjs
Due: none

feat(eval): add 4 should-detect fixtures across cross-context categories (#688 PR-2)
  tests/fixtures/repo-wide-eval/README.md
  tests/fixtures/repo-wide-eval/cases.json
  tests/fixtures/repo-wide-eval/diffs/api-contract-no-test-01.diff
  tests/fixtures/repo-wide-eval/diffs/loading-state-early-return-01.diff
  tests/fixtures/repo-wide-eval/diffs/normalization-id-format-01.diff
  tests/fixtures/repo-wide-eval/diffs/nullability-api-response-01.diff
  tests/fixtures/repo-wide-eval/seeds/api-contract-no-test-01/src/api/payment.ts
  tests/fixtures/repo-wide-eval/seeds/api-contract-no-test-01/src/http/client.ts
  tests/fixtures/repo-wide-eval/seeds/api-contract-no-test-01/tests/api/payment.test.ts
  tests/fixtures/repo-wide-eval/seeds/i18n-unused-key-01/tests/components/UserProfile.test.tsx
  tests/fixtures/repo-wide-eval/seeds/loading-state-early-return-01/src/components/Profile.tsx
  tests/fixtures/repo-wide-eval/seeds/loading-state-early-return-01/src/hooks/useUser.ts
  tests/fixtures/repo-wide-eval/seeds/normalization-id-format-01/src/api/account.ts
  tests/fixtures/repo-wide-eval/seeds/normalization-id-format-01/src/pages/NewPage.tsx
  tests/fixtures/repo-wide-eval/seeds/normalization-id-format-01/src/utils/formatId.ts
  tests/fixtures/repo-wide-eval/seeds/nullability-api-response-01/src/api/invoice.ts
  tests/fixtures/repo-wide-eval/seeds/nullability-api-response-01/src/components/InvoiceTotal.tsx
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(context): add context-ranker pure functions (#689 PR-B) (#714)
  src/lib/context-ranker.mjs
  tests/context-ranker.test.mjs
Due: none

feat(eval): add 4 should-detect fixtures across cross-context categories (#688 PR-2) (#715)
  tests/fixtures/repo-wide-eval/README.md
  tests/fixtures/repo-wide-eval/cases.json
  tests/fixtures/repo-wide-eval/diffs/api-contract-no-test-01.diff
  tests/fixtures/repo-wide-eval/diffs/loading-state-early-return-01.diff
  tests/fixtures/repo-wide-eval/diffs/normalization-id-format-01.diff
  tests/fixtures/repo-wide-eval/diffs/nullability-api-response-01.diff
  tests/fixtures/repo-wide-eval/seeds/api-contract-no-test-01/src/api/payment.ts
  tests/fixtures/repo-wide-eval/seeds/api-contract-no-test-01/src/http/client.ts
  tests/fixtures/repo-wide-eval/seeds/api-contract-no-test-01/tests/api/payment.test.ts
  tests/fixtures/repo-wide-eval/seeds/i18n-unused-key-01/tests/components/UserProfile.test.tsx
  tests/fixtures/repo-wide-eval/seeds/loading-state-early-return-01/src/components/Profile.tsx
  tests/fixtures/repo-wide-eval/seeds/loading-state-early-return-01/src/hooks/useUser.ts
  tests/fixtures/repo-wide-eval/seeds/normalization-id-format-01/src/api/account.ts
  tests/fixtures/repo-wide-eval/seeds/normalization-id-format-01/src/pages/NewPage.tsx
  tests/fixtures/repo-wide-eval/seeds/normalization-id-format-01/src/utils/formatId.ts
  tests/fixtures/repo-wide-eval/seeds/nullability-api-response-01/src/api/invoice.ts
  tests/fixtures/repo-wide-eval/seeds/nullability-api-response-01/src/components/InvoiceTotal.tsx
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(eval): add 3 guard fixtures and falsePositiveRate metric (#688 PR-3)
  scripts/evaluate-repo-wide-fixtures.mjs
  src/lib/repo-wide-fixtures-eval.mjs
  tests/fixtures/repo-wide-eval/cases.json
  tests/fixtures/repo-wide-eval/diffs/guard-future-use-comment.diff
  tests/fixtures/repo-wide-eval/diffs/guard-generated-file.diff
  tests/fixtures/repo-wide-eval/diffs/guard-related-test-updated.diff
  tests/fixtures/repo-wide-eval/seeds/guard-future-use-comment/src/utils/legacy.ts
  tests/fixtures/repo-wide-eval/seeds/guard-generated-file/src/generated/api-client.ts
  tests/fixtures/repo-wide-eval/seeds/guard-related-test-updated/src/utils/sum.test.ts
  tests/fixtures/repo-wide-eval/seeds/guard-related-test-updated/src/utils/sum.ts
  tests/repo-wide-fixtures-eval.test.mjs
Due: prettier --write

feat(context): integrate ranker + token budget into collectRepoContext (#689 PR-C)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  src/lib/repo-context.mjs
  tests/repo-context-ranking-budget.test.mjs
Due: none

feat(eval): add 3 guard fixtures and falsePositiveRate metric (#688 PR-3) (#718)
  scripts/evaluate-repo-wide-fixtures.mjs
  src/lib/repo-wide-fixtures-eval.mjs
  tests/fixtures/repo-wide-eval/cases.json
  tests/fixtures/repo-wide-eval/diffs/guard-future-use-comment.diff
  tests/fixtures/repo-wide-eval/diffs/guard-generated-file.diff
  tests/fixtures/repo-wide-eval/diffs/guard-related-test-updated.diff
  tests/fixtures/repo-wide-eval/seeds/guard-future-use-comment/src/utils/legacy.ts
  tests/fixtures/repo-wide-eval/seeds/guard-generated-file/src/generated/api-client.ts
  tests/fixtures/repo-wide-eval/seeds/guard-related-test-updated/src/utils/sum.test.ts
  tests/fixtures/repo-wide-eval/seeds/guard-related-test-updated/src/utils/sum.ts
  tests/repo-wide-fixtures-eval.test.mjs
Due: prettier --write

feat(context): integrate ranker + token budget into collectRepoContext (#689 PR-C) (#719)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  src/lib/repo-context.mjs
  tests/repo-context-ranking-budget.test.mjs
Due: none

feat(context): add reviewMode preset budgets (#689 PR-D)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/context-presets.mjs
  src/lib/repo-context.mjs
  tests/context-presets.test.mjs
  tests/repo-context-ranking-budget.test.mjs
Due: none

feat(eval): integrate repo-context eval into evaluate-all + nightly (#688 PR-4)
  scripts/evaluate-all.mjs
Due: none

feat(context): add reviewMode preset budgets (#689 PR-D) (#721)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/context-presets.mjs
  src/lib/repo-context.mjs
  tests/context-presets.test.mjs
  tests/repo-context-ranking-budget.test.mjs
Due: none

feat(eval): integrate repo-context eval into evaluate-all + nightly (#688 PR-4) (#722)
  scripts/evaluate-all.mjs
Due: none

docs(eval): document repo-wide eval suite (#688 PR-5)
  docs/development/pipeline-params-checklist.md
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(eval): document repo-wide eval suite (#688 PR-5) (#726)
  docs/development/pipeline-params-checklist.md
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: bump GitHub Action pin from @v0.14.1 to @v0.28.0 in user-facing docs
  README.en.md
  README.md
  docs/use-cases/github-actions.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: refresh repo-wide review docs to reflect v0.28.0 implementation
  README.en.md
  README.md
  pages/guides/repo-wide-review.md
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: align ranking factor names in repo-wide-review.md with config schema
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: refresh quickstart + repo-wide review docs for v0.28.0 (#727)
  README.en.md
  README.md
  docs/use-cases/github-actions.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.md
  pages/reference/config-schema.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(ranker): align DEFAULT_WEIGHTS keys + signal function names with schema
  pages/explanation/embedding-code-index-research.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/context-ranker.mjs
  tests/context-ranker.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: add v0.28.0 learnings + EN config-schema parity for #650
  AGENT_LEARNINGS.md
  pages/reference/config-schema.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: readme.en quickstart parity + suppression feedback type reference
  README.en.md
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(ranker): align DEFAULT_WEIGHTS keys + signal function names with schema (#728)
  pages/explanation/embedding-code-index-research.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/context-ranker.mjs
  tests/context-ranker.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: add v0.28.0 learnings + EN config-schema parity for #650 (#729)
  AGENT_LEARNINGS.md
  pages/reference/config-schema.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: readme.en quickstart parity + suppression feedback type reference (#730)
  README.en.md
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: correct feedbackType severity-gate description in config-schema.md
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: address gemini review on feedbackType doc
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: correct feedbackType severity-gate descriptions (#732)
  pages/reference/config-schema.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(skills): add suppression-feedback workflow guidance skill
  skills/midstream/rr-midstream-suppression-feedback-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): add tests inputContext to test-review skills
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/downstream/rr-downstream-coverage-gap-001/SKILL.md
  skills/downstream/rr-downstream-flaky-test-001/SKILL.md
  skills/downstream/rr-downstream-test-existence-001/SKILL.md
  skills/midstream/agent-test-coverage/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): add suppression-feedback workflow guidance skill (#735)
  skills/midstream/rr-midstream-suppression-feedback-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(skills): revert tests inputContext on flaky-test skill
  skills/downstream/rr-downstream-flaky-test-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): add tests inputContext to test-review skills (#740)
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/downstream/rr-downstream-coverage-gap-001/SKILL.md
  skills/downstream/rr-downstream-test-existence-001/SKILL.md
  skills/midstream/agent-test-coverage/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate
