Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

chore(deps): group react and react-dom in Dependabot npm updates
  .github/dependabot.yml
Due: prettier --write

chore(deps): group react and react-dom in Dependabot npm updates (#821)
  .github/dependabot.yml
Due: prettier --write

docs(reference): add PlanGate CLI stabilization roadmap (#802)
  pages/reference/plangate-cli-roadmap.en.md
  pages/reference/plangate-cli-roadmap.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(reference): add PlanGate CLI stabilization roadmap (#802) (#827)
  pages/reference/plangate-cli-roadmap.en.md
  pages/reference/plangate-cli-roadmap.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(deps): align @opentelemetry/api, resources, exporter-trace-otlp-http
  package-lock.json
  package.json
Due: prettier --write

chore(deps): group @opentelemetry/* in Dependabot npm updates
  .github/dependabot.yml
Due: prettier --write

chore(deps): group @opentelemetry/* in Dependabot npm updates (#829)
  .github/dependabot.yml
Due: prettier --write

chore(deps): align @opentelemetry/api, resources, exporter-trace-otlp-http (#828)
  package-lock.json
  package.json
Due: prettier --write

feat(config): add artifacts.* config schema (#802 Phase 2a)
  src/config/schema.mjs
  tests/config-schema.test.mjs
Due: none

build(action): rebuild dist for artifacts.* schema (#802 Phase 2a)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(config): artifacts.* 設定スキーマ追加 (#802 Phase 2a) (#835)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  tests/config-schema.test.mjs
Due: none

feat(config): artifact resolver module (#802 Phase 2b)
  src/config/artifact-resolver.mjs
  tests/artifact-resolver.test.mjs
Due: none

feat(config): artifact resolver + findings-pool alignment (#802 Phase 2b)
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/artifact-resolver.mjs
  src/config/schema.mjs
  tests/artifact-resolver.test.mjs
  tests/config-schema.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(config): artifact resolver + findings-pool 整合 (#802 Phase 2b) (#838)
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/artifact-resolver.mjs
  src/config/schema.mjs
  tests/artifact-resolver.test.mjs
  tests/config-schema.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(cli): wire river review plan --plan-only into main CLI (#802 Phase 3)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: none

feat(cli): wire river review plan --plan-only into main CLI (#802 Phase 3) (#839)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: none

test(cli): PlanGate fixture E2E for river review plan (#802 Phase 3 slice 2)
  tests/fixtures/plangate-review-artifacts/README.md
  tests/fixtures/plangate-review-artifacts/config/.river-reviewer.json
  tests/fixtures/plangate-review-artifacts/diff.patch
  tests/fixtures/plangate-review-artifacts/plan.md
  tests/fixtures/plangate-review-artifacts/todo-from-config.md
  tests/fixtures/plangate-review-artifacts/todo.md
  tests/integration/review-plan-cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test(cli): PlanGate fixture E2E for river review plan (#802 Phase 3 slice 2) (#843)
  tests/fixtures/plangate-review-artifacts/README.md
  tests/fixtures/plangate-review-artifacts/config/.river-reviewer.json
  tests/fixtures/plangate-review-artifacts/diff.patch
  tests/fixtures/plangate-review-artifacts/plan.md
  tests/fixtures/plangate-review-artifacts/todo-from-config.md
  tests/fixtures/plangate-review-artifacts/todo.md
  tests/integration/review-plan-cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor(cli): simplify Phase 3 review-plan after multi-agent review
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/planner-utils.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/helpers/schema-validator.mjs
  tests/integration/review-plan-cli.test.mjs
  tests/review-artifact-schema.test.mjs
Due: none

refactor(cli): simplify Phase 3 review-plan after multi-agent review (#844)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/planner-utils.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/helpers/schema-validator.mjs
  tests/integration/review-plan-cli.test.mjs
  tests/review-artifact-schema.test.mjs
Due: none

refactor(core): use shared PHASES constant in local-runner normalizePhase
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
Due: none

refactor(core): use shared PHASES constant in local-runner normalizePhase (#845)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
Due: none

test: migrate inline Ajv validators to shared schema-validator helper
  tests/helpers/schema-validator.mjs
  tests/riverbed-index-schema.test.mjs
  tests/suppression.test.mjs
Due: none

test: migrate inline Ajv validators to shared schema-validator helper (#846)
  tests/helpers/schema-validator.mjs
  tests/riverbed-index-schema.test.mjs
  tests/suppression.test.mjs
Due: none

feat(cli): deterministic skill selection for river review plan (#802 Phase 3 B-1)
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/diff.mjs
  src/lib/planner-dataset-eval.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: none

feat(cli): deterministic skill selection for river review plan (#802 Phase 3 B-1) (#847)
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/diff.mjs
  src/lib/planner-dataset-eval.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: none

feat(cli): --summary-file and --quiet for river review plan (#802 Phase 3)
  runners/github-action/dist/466.index.mjs
  runners/github-action/dist/466.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan-summary.mjs
  tests/cli-parse-args.test.mjs
  tests/integration/review-plan-cli.test.mjs
  tests/review-plan-summary.test.mjs
Due: none

feat(cli): --summary-file and --quiet for river review plan (#802 Phase 3) (#849)
  runners/github-action/dist/466.index.mjs
  runners/github-action/dist/466.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan-summary.mjs
  tests/cli-parse-args.test.mjs
  tests/integration/review-plan-cli.test.mjs
  tests/review-plan-summary.test.mjs
Due: none

docs(spec): unify --output/--format contract to plan side (#802 Phase 3 PR-1)
  .github/workflows/plangate-review.yml
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  pages/reference/cli-review-verify-spec.en.md
  pages/reference/cli-review-verify-spec.md
  pages/reference/plangate-cli-roadmap.en.md
  pages/reference/plangate-cli-roadmap.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(spec): unify --output/--format contract to plan side (#802 Phase 3 PR-1) (#851)
  .github/workflows/plangate-review.yml
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  pages/reference/cli-review-verify-spec.en.md
  pages/reference/cli-review-verify-spec.md
  pages/reference/plangate-cli-roadmap.en.md
  pages/reference/plangate-cli-roadmap.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(cli): honor --output/--format in river review plan (#802 Phase 3 PR-2)
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-review-plan.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(cli): honor --output/--format in river review plan (#802 Phase 3 PR-2) (#852)
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-review-plan.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

refactor(deps): split docs-site deps to devDependencies (#801)
  .github/workflows/test.yml
  package-lock.json
  package.json
  tests/dependency-classification.test.mjs
Due: prettier --write

refactor(deps): split docs-site deps to devDependencies (#801) (#854)
  .github/workflows/test.yml
  package-lock.json
  package.json
  tests/dependency-classification.test.mjs
Due: prettier --write

feat(cli): exec/verify parser/dispatch contract foundation (#802 Phase 3 PR-3)
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
  pages/reference/cli-review-verify-spec.en.md
  pages/reference/cli-review-verify-spec.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-parse-args.test.mjs
  tests/integration/review-plan-cli.test.mjs
  tests/review-cli-plangate-independence.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual
