Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

feat(cli): exec/verify parser/dispatch contract foundation (#802 Phase 3 PR-3) (#855)
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
  pages/reference/cli-review-verify-spec.en.md
  pages/reference/cli-review-verify-spec.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-parse-args.test.mjs
  tests/integration/review-plan-cli.test.mjs
  tests/review-cli-plangate-independence.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(cli): river review exec --dry-run foundation (#802 Phase 3)
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/integration/review-plan-cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(cli): river review exec --dry-run foundation (#802 Phase 3) (#857)
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/integration/review-plan-cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(concept): refresh positioning around Skill Registry × SDLC gates
  .gitignore
  README.en.md
  README.md
  docs/vision.md
  pages/explanation/intro.en.md
  pages/explanation/intro.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(concept): address Gemini Code Assist review on PR #860
  README.en.md
  README.md
  docs/vision.md
  pages/explanation/intro.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(concept): refresh positioning around Skill Registry × SDLC gates (#860)
  .gitignore
  README.en.md
  README.md
  docs/vision.md
  pages/explanation/intro.en.md
  pages/explanation/intro.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(cli): river review exec --plan replay foundation (#802 Phase 3)
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: none

chore(action): rebuild dist for runReviewExecReplay (#802 Phase 3)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

refactor(cli): apply Gemini review on PR #861 replay path
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  src/lib/review-plan.mjs
Due: none

feat(cli): river review exec --plan replay foundation (#802 Phase 3) (#861)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: none

feat(cli): river review exec deferred execution path (#802 Phase 3 A1)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: none

refactor(cli): apply Gemini review on PR #863 dispatch simplification
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

feat(cli): river review exec deferred execution path (#802 Phase 3 A1) (#863)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: none

feat(cli): river review exec generateReview adapter (#802 Phase 3 A2-1)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: none

refactor(cli): apply Gemini review on PR #864 exec adapter
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  src/lib/review-plan.mjs
Due: none

feat(cli): river review exec generateReview adapter (#802 Phase 3 A2-1) (#864)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: none

fix(review-plan): propagate availableContexts to buildExecutionPlan (A2-fix-1)
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: none

test(integration): add review exec --context forwarding E2E (A2-fix-1)
  tests/integration/review-plan-cli.test.mjs
Due: none

chore(action): rebuild dist for availableContexts propagation (A2-fix-1)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

refactor(utils): apply Gemini review on PR #865 availableContexts
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  src/lib/utils.mjs
  tests/cli-review-plan.test.mjs
Due: none

fix(cli): propagate availableContexts to plan layer (#802 Phase 3 A2-fix-1) (#865)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  src/lib/utils.mjs
  tests/cli-review-plan.test.mjs
  tests/integration/review-plan-cli.test.mjs
Due: none

docs: add skill-selection troubleshooting guide + deprecate executionDeferred
  docs/deprecated.md
  docs/review/troubleshooting.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: tighten executionDeferred deprecation + troubleshooting
  docs/deprecated.md
  docs/review/troubleshooting.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: skill-selection troubleshooting guide + executionDeferred deprecation (D2+D3) (#866)
  docs/deprecated.md
  docs/review/troubleshooting.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): propagate availableDependencies to plan layer (#802 Phase 3 A2-fix-2)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  src/lib/utils.mjs
  tests/cli-review-plan.test.mjs
Due: none

fix(cli): propagate availableDependencies to plan layer (#802 Phase 3 A2-fix-2) (#869)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan.mjs
  src/lib/utils.mjs
  tests/cli-review-plan.test.mjs
Due: none

fix(cli): forward fileTypes/relatedADRs/reviewMode to generateReview (#802 Phase 3 A2-fix-3)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: none

fix(cli): forward fileTypes/relatedADRs/reviewMode to generateReview (#802 Phase 3 A2-fix-3) (#871)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: none

docs(troubleshooting): close out silent-skip cleanup through v0.51.1
  docs/review/troubleshooting.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: link the #802 issue reference (Gemini PR #872 nit)
  docs/review/troubleshooting.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(troubleshooting): close out silent-skip cleanup through v0.51.1 (#872)
  docs/review/troubleshooting.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skill): add modern-web-semantic community skill (#868 Phase 1 MVP)
  skills/midstream/community/rr-midstream-modern-web-semantic-001/SKILL.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skill): broaden modern-web-semantic applyTo (Gemini PR #873 nit)
  skills/midstream/community/rr-midstream-modern-web-semantic-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skill): add modern-web-semantic community skill (#868 Phase 1 MVP) (#873)
  skills/midstream/community/rr-midstream-modern-web-semantic-001/SKILL.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skill): add modern-web-performance community skill (#868 Phase 1)
  skills/midstream/community/rr-midstream-modern-web-performance-001/SKILL.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skill): add modern-web-performance community skill (#868 Phase 1) (#875)
  skills/midstream/community/rr-midstream-modern-web-performance-001/SKILL.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate
