Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

feat(cli): add --offline / --rules-only mode (#1071, ADR-002) (#1094)
  docs/adr/002-offline-local-review-gate.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/utils.mjs
  tests/cli-parse-args.test.mjs
  tests/utils-isllmenabled.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add docs/ layout guide to DOCUMENTATION.md (#1072)
  DOCUMENTATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: drop issue number from policy prose per reviewer (#1096)
  DOCUMENTATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add docs/ layout guide to DOCUMENTATION.md (#1072) (#1096)
  DOCUMENTATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: align code and docs with the updated concept (audit follow-up)
  docs/migration/migration-guide-agent-skills.md
  pages/explanation/what-is-river-review.en.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/openai-planner.mjs
  src/lib/review-engine.mjs
  tests/cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(cli): enforce offline mode in generateReview per reviewer (#1097)
  pages/explanation/what-is-river-review.en.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  src/lib/utils.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix: align code and docs with the updated concept (audit follow-up) (#1097)
  docs/migration/migration-guide-agent-skills.md
  pages/explanation/what-is-river-review.en.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/openai-planner.mjs
  src/lib/review-engine.mjs
  src/lib/utils.mjs
  tests/cli.test.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

ci: cut redundant work from the main CI workflow
  .github/workflows/test.yml
Due: prettier --write

ci: cut redundant work from the main CI workflow (#1099)
  .github/workflows/test.yml
Due: prettier --write

feat(skills): add deterministic skill manifest for drift detection (#1016)
  .github/workflows/test.yml
  docs/data/skill-manifest.json
  package.json
  scripts/generate-skill-manifest.mjs
  tests/generate-skill-manifest.test.mjs
Due: prettier --write

fix(skills): make manifest CRLF-proof + parallelize per reviewer (#1100)
  scripts/generate-skill-manifest.mjs
  tests/generate-skill-manifest.test.mjs
Due: none

feat(skills): deterministic skill manifest for drift detection (#1016) (#1100)
  .github/workflows/test.yml
  docs/data/skill-manifest.json
  package.json
  scripts/generate-skill-manifest.mjs
  tests/generate-skill-manifest.test.mjs
Due: prettier --write

docs: add skill pack design policy, axes, and manifest template (Epic 0/4 Phase A)
  docs/development/skill-pack-design.md
  specs/templates/pack/README.md
  specs/templates/pack/pack.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: soften pack migration/versioning rules per review feedback
  docs/development/skill-pack-design.md
  specs/templates/pack/pack.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: skill pack design policy, axes, and manifest template (Epic 0/4 Phase A) (#1102)
  docs/development/skill-pack-design.md
  specs/templates/pack/README.md
  specs/templates/pack/pack.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add selection config design and use-case samples (react-ts/tdd/sdd/architecture)
  docs/development/skill-pack-design.md
  examples/selection/README.md
  examples/selection/architecture-review.yaml
  examples/selection/react-typescript.yaml
  examples/selection/sdd.yaml
  examples/selection/tdd.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: clarify minTier vs explicit packs precedence and config merge guidance
  docs/development/skill-pack-design.md
  examples/selection/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add skill improvement loop design (usage-driven optimization)
  docs/development/skill-improvement-loop-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: selection config design and use-case samples (skill pack Phase A follow-up) (#1103)
  docs/development/skill-pack-design.md
  examples/selection/README.md
  examples/selection/architecture-review.yaml
  examples/selection/react-typescript.yaml
  examples/selection/sdd.yaml
  examples/selection/tdd.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: align loop verification commands with FEEDBACK_TO_FIXTURE.md SSoT
  docs/development/skill-improvement-loop-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: skill improvement loop design (usage-driven optimization) (#1104)
  docs/development/skill-improvement-loop-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor(skills): consolidate generic review skills and remove off-mission guides
  docs/data/skill-manifest.json
  docs/development/skill-pack-design.md
  skills/agent-skills/river-review-code/SKILL.md
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/midstream/agent-agentcheck-code-review/SKILL.md
  skills/midstream/agent-code-quality/SKILL.md
  skills/midstream/agent-code-refactoring/SKILL.md
  skills/midstream/agent-code-review/SKILL.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/SKILL.md
  skills/registry.yaml
  skills/upstream/agent-code-documentation/SKILL.md
  skills/upstream/rr-test-code-nextjs-001/SKILL.md
  skills/upstream/rr-test-code-php-laravel-001/SKILL.md
  skills/upstream/rr-test-code-react-001/SKILL.md
  skills/upstream/rr-test-code-remix-001/SKILL.md
  skills/upstream/rr-test-code-unit-python-pytest-001/SKILL.md
  skills/upstream/rr-test-code-unit-ts-jest-001/SKILL.md
  skills/upstream/rr-test-code-vue-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

docs(skills): rename misleading table header to 実行ルール
  skills/agent-skills/river-review-code/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

chore: regenerate skill manifest after header fix
  docs/data/skill-manifest.json
Due: prettier --write

refactor(skills): consolidate generic review skills and remove off-mission guides (#1105)
  docs/data/skill-manifest.json
  docs/development/skill-pack-design.md
  skills/agent-skills/river-review-code/SKILL.md
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/midstream/agent-agentcheck-code-review/SKILL.md
  skills/midstream/agent-code-quality/SKILL.md
  skills/midstream/agent-code-refactoring/SKILL.md
  skills/midstream/agent-code-review/SKILL.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/SKILL.md
  skills/registry.yaml
  skills/upstream/agent-code-documentation/SKILL.md
  skills/upstream/rr-test-code-nextjs-001/SKILL.md
  skills/upstream/rr-test-code-php-laravel-001/SKILL.md
  skills/upstream/rr-test-code-react-001/SKILL.md
  skills/upstream/rr-test-code-remix-001/SKILL.md
  skills/upstream/rr-test-code-unit-python-pytest-001/SKILL.md
  skills/upstream/rr-test-code-unit-ts-jest-001/SKILL.md
  skills/upstream/rr-test-code-vue-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

docs: keep /check and /pr commands as review-adjacent, clarify positioning
  commands/check.md
  commands/pr.md
  docs/development/skill-pack-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: drop typecheck from /check description to match its steps
  commands/check.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: keep /check and /pr commands as review-adjacent, clarify positioning (#1106)
  commands/check.md
  commands/pr.md
  docs/development/skill-pack-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): register 6 catalog-drifted skills in registry.yaml
  skills/registry.yaml
Due: prettier --write

fix(docs): repair 5 broken links failing lychee on every PR
  docs/migration/migration-guide-agent-skills.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  runners/node-api/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: use English wording for npm publish note in node-api README
  runners/node-api/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): register 6 catalog-drifted skills in registry.yaml (#1107)
  skills/registry.yaml
Due: prettier --write

fix(docs): repair 5 broken links failing lychee on every PR (#1108)
  docs/migration/migration-guide-agent-skills.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  runners/node-api/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(readme): align gate claims with implementation, add reproducibility row
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): pack resolver, pack schema, and first typescript pack (Phase B)
  docs/development/s1-fixture-convention.md
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/pack.schema.json
  scripts/validate-skills.mjs
  skills/registry.yaml
  src/cli.mjs
  tests/pack-resolver.test.mjs
  tests/validate-packs.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(readme): wording fixes per review (fixture regression tests, 設計段階)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): explicit error for malformed pack skills, no short-circuit in validate
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/validate-skills.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
