Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

docs(readme): align gate claims with implementation, add reproducibility row (#1110)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): pack resolver, pack schema, and first typescript pack (Phase B) (#1111)
  docs/development/s1-fixture-convention.md
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/pack.schema.json
  scripts/validate-skills.mjs
  skills/registry.yaml
  src/cli.mjs
  tests/pack-resolver.test.mjs
  tests/validate-packs.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(loop): feedback capture CLI and feedback:apply scaffolder (L-2 P0)
  .gitignore
  package.json
  runners/github-action/dist/488.index.mjs
  runners/github-action/dist/638.index.mjs
  runners/github-action/dist/638.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/apply-feedback.mjs
  src/cli.mjs
  src/lib/feedback.mjs
  tests/feedback.test.mjs
Due: prettier --write

fix(loop): harden file reads, escape quotes in suppression command, guard stub writes
  runners/github-action/dist/638.index.mjs
  runners/github-action/dist/638.index.mjs.map
  scripts/apply-feedback.mjs
  src/lib/feedback.mjs
Due: none

chore: prettier formatting and tracked .gitkeep for .river/feedback
  .river/feedback/.gitkeep
  scripts/apply-feedback.mjs
  src/lib/feedback.mjs
  tests/feedback.test.mjs
Due: none

chore: rebuild action dist after formatting
  runners/github-action/dist/638.index.mjs
  runners/github-action/dist/638.index.mjs.map
Due: none

feat(loop): feedback capture CLI and feedback:apply scaffolder (L-2 P0) (#1112)
  .gitignore
  .river/feedback/.gitkeep
  package.json
  runners/github-action/dist/488.index.mjs
  runners/github-action/dist/638.index.mjs
  runners/github-action/dist/638.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/apply-feedback.mjs
  src/cli.mjs
  src/lib/feedback.mjs
  tests/feedback.test.mjs
Due: prettier --write

feat(skills): ddd pack with degraded mode and pack tier assessment (Phase C)
  docs/data/skill-manifest.json
  examples/selection/architecture-review.yaml
  package.json
  scripts/pack-tier-check.mjs
  skills/midstream/rr-midstream-ubiquitous-language-naming-001/SKILL.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
  tests/pack-tier-check.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(scripts): drop unused import and honor repoRoot for schema path in pack-tier-check
  scripts/pack-tier-check.mjs
Due: none

feat(skills): ddd pack with degraded mode and pack tier assessment (Phase C) (#1113)
  docs/data/skill-manifest.json
  examples/selection/architecture-review.yaml
  package.json
  scripts/pack-tier-check.mjs
  skills/midstream/rr-midstream-ubiquitous-language-naming-001/SKILL.md
  skills/registry.yaml
  tests/fixtures/execution-plan-midstream.json
  tests/pack-tier-check.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(loop): suppression analytics and nightly eval regression auto-issue (L-3)
  .github/workflows/nightly-eval.yml
  package.json
  scripts/suppression-analytics.mjs
  tests/suppression-analytics.test.mjs
Due: prettier --write

docs: skill pack public guide, catalog packs section, and README entry (Phase D)
  README.md
  docs/development/skill-pack-design.md
  pages/guides/use-skill-packs.en.md
  pages/guides/use-skill-packs.md
  pages/reference/skills-catalog.md
  scripts/generate-skill-catalog.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(loop): treat compare exit 2 as fatal (no issue), guard corrupt memory index
  .github/workflows/nightly-eval.yml
  scripts/suppression-analytics.mjs
Due: prettier --write

style: prettier formatting for suppression-analytics
  scripts/suppression-analytics.mjs
Due: none

fix(loop): require a path argument for --index
  scripts/suppression-analytics.mjs
Due: none

docs: en README parity row and GitHub links for repo-internal paths in pack guide
  README.en.md
  pages/guides/use-skill-packs.en.md
  pages/guides/use-skill-packs.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(loop): suppression analytics and nightly eval regression auto-issue (L-3) (#1114)
  .github/workflows/nightly-eval.yml
  package.json
  scripts/suppression-analytics.mjs
  tests/suppression-analytics.test.mjs
Due: prettier --write

docs: skill pack public guide, catalog packs section, and README entry (Phase D) (#1115)
  README.en.md
  README.md
  docs/development/skill-pack-design.md
  pages/guides/use-skill-packs.en.md
  pages/guides/use-skill-packs.md
  pages/reference/skills-catalog.md
  scripts/generate-skill-catalog.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(skills): remove create-plan skill migrated to PlanGate
  docs/data/skill-manifest.json
  docs/development/skill-pack-design.md
  docs/development/skill-severity-rubric.md
  examples/selection/sdd.yaml
  pages/reference/skills-catalog.md
  skills/registry.yaml
  skills/upstream/rr-upstream-create-plan-001/SKILL.md
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/upstream-create-plan.diff
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

chore(skills): remove create-plan skill migrated to PlanGate (#1116)
  docs/data/skill-manifest.json
  docs/development/skill-pack-design.md
  docs/development/skill-severity-rubric.md
  examples/selection/sdd.yaml
  pages/reference/skills-catalog.md
  skills/registry.yaml
  skills/upstream/rr-upstream-create-plan-001/SKILL.md
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/upstream-create-plan.diff
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

feat(config): selection section in .river-review.yaml (packs/tags/include/exclude)
  examples/selection/README.md
  examples/selection/architecture-review.yaml
  examples/selection/react-typescript.yaml
  examples/selection/sdd.yaml
  examples/selection/tdd.yaml
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/local-runner.mjs
  src/lib/selection.mjs
  tests/selection.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(loop): per-skill FP regression signal and rule-promotion detection (L-4)
  docs/development/skill-improvement-loop-design.md
  package.json
  scripts/compare-eval-ledger.mjs
  scripts/feedback-rule-candidates.mjs
  tests/compare-eval-perskill-fp.test.mjs
  tests/feedback-rule-candidates.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(config): strict selection schema, unknown-tier guard, exclude-only warning
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/local-runner.mjs
  src/lib/selection.mjs
Due: none

fix(loop): require a real baseline for per-skill FP regressions, validate --min
  scripts/compare-eval-ledger.mjs
  scripts/feedback-rule-candidates.mjs
  tests/compare-eval-perskill-fp.test.mjs
Due: none

feat(config): selection section in .river-review.yaml (packs/tags/include/exclude) (#1117)
  examples/selection/README.md
  examples/selection/architecture-review.yaml
  examples/selection/react-typescript.yaml
  examples/selection/sdd.yaml
  examples/selection/tdd.yaml
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/local-runner.mjs
  src/lib/selection.mjs
  tests/selection.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(loop): per-skill FP regression signal and rule-promotion detection (L-4) (#1118)
  docs/development/skill-improvement-loop-design.md
  package.json
  scripts/compare-eval-ledger.mjs
  scripts/feedback-rule-candidates.mjs
  tests/compare-eval-perskill-fp.test.mjs
  tests/feedback-rule-candidates.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): promote typescript pack to official, ddd to community
  docs/data/skill-manifest.json
  examples/selection/architecture-review.yaml
  pages/reference/skills-catalog.md
  skills/midstream/rr-midstream-type-driven-design-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-type-driven-design-001/fixtures/01-primitive-obsession-happy.md
  skills/midstream/rr-midstream-type-driven-design-001/fixtures/02-boundary-code-false-positive.md
  skills/midstream/rr-midstream-type-driven-design-001/golden/01-primitive-obsession-happy.md
  skills/midstream/rr-midstream-type-driven-design-001/prompt/system.md
  skills/midstream/rr-midstream-type-driven-design-001/prompt/user.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

feat(cli): deterministic skills resolve subcommand (#1045)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-skills-resolve.test.mjs
Due: none

docs: codify the thin-adapter principle for the GitHub Action and agent surfaces (#1045)
  docs/CLI-architecture.md
  runners/github-action/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skills): keep golden fix snippet scoped to defined types
  skills/midstream/rr-midstream-type-driven-design-001/golden/01-primitive-obsession-happy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(cli): defensive metadata access in skills resolve output
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

docs: mention both config file extensions in thin-adapter section
  docs/CLI-architecture.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): deterministic skills resolve subcommand (#1045) (#1121)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-skills-resolve.test.mjs
Due: none

feat(skills): promote typescript pack to official, ddd to community (#1120)
  docs/data/skill-manifest.json
  examples/selection/architecture-review.yaml
  pages/reference/skills-catalog.md
  skills/midstream/rr-midstream-type-driven-design-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-type-driven-design-001/fixtures/01-primitive-obsession-happy.md
  skills/midstream/rr-midstream-type-driven-design-001/fixtures/02-boundary-code-false-positive.md
  skills/midstream/rr-midstream-type-driven-design-001/golden/01-primitive-obsession-happy.md
  skills/midstream/rr-midstream-type-driven-design-001/prompt/system.md
  skills/midstream/rr-midstream-type-driven-design-001/prompt/user.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

docs: codify the thin-adapter principle for Action and agent surfaces (#1045) (#1122)
  docs/CLI-architecture.md
  runners/github-action/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(ci): tolerate transient 503/429 and exclude timeout-prone citation PDF in lychee
  .lychee.toml
Due: none

chore(ci): move 429 under client-error section in lychee config
  .lychee.toml
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
