Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

docs: reframe LLM-key need around the execution model (skills as agent capability)
  README.en.md
  README.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: fix textlint (です/ます body, である bullets, sentence length)
  pages/explanation/what-is-river-review.md
  pages/guides/ai-agent-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: fix double particle 'も' in execution-model section (#1079 lint)
  pages/explanation/what-is-river-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: reframe LLM-key need around the execution model (skills as agent capability) (#1079)
  README.en.md
  README.md
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(heuristic): add no-key dangerous-eval and focused-test checks
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(heuristic): correct looksLikeTestFile + ignore comments per reviewer (#1080)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: none

feat(heuristic): no-key dangerous-eval and focused-test checks (#1080)
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(heuristic): add no-key debugger-leftover and insecure-tls checks
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(heuristic): reduce false positives in debugger/TLS checks per reviewer (#1081)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: none

feat(heuristic): no-key debugger-leftover and insecure-tls checks (#1081)
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(heuristic): add no-key merge-conflict and ts-suppression checks
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(heuristic): detect diff3 base conflict marker ||||||| per reviewer (#1082)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: none

feat(heuristic): no-key merge-conflict and ts-suppression checks (#1082)
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(heuristic): add no-key disabled-test check (.skip / xit / xdescribe)
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(heuristic): include xcontext in disabled-test detection per reviewer (#1083)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: none

feat(heuristic): no-key disabled-test check (.skip / xit / xdescribe) (#1083)
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(heuristic): add no-key weak-hash and command-injection checks
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(heuristic): cut false positives in weak-hash/command-injection per reviewer (#1084)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  tests/heuristic-review.test.mjs
Due: none

feat(heuristic): no-key weak-hash and command-injection checks (#1084)
  pages/explanation/what-is-river-review.en.md
  pages/explanation/what-is-river-review.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(heuristic): extend dangerous-eval (document.write, string-arg timers)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: none

fix(heuristic): quote-aware comment strip + document.writeln per reviewer (#1085)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: none

feat(heuristic): extend dangerous-eval (document.write, string-arg timers) (#1085)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/heuristic-review.mjs
  src/lib/review-engine.mjs
  tests/heuristic-review.test.mjs
Due: none

docs(dev): add heuristic-detector checklist + session retrospective
  docs/development/heuristic-detector-checklist.md
  docs/development/retrospectives/2026-06-06-09.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): fix textlint sentence length + particle repetition
  docs/development/heuristic-detector-checklist.md
  docs/development/retrospectives/2026-06-06-09.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): address reviewer notes on heuristic checklist (#1086)
  docs/development/heuristic-detector-checklist.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(dev): heuristic-detector checklist + session retrospective (#1086)
  docs/development/heuristic-detector-checklist.md
  docs/development/retrospectives/2026-06-06-09.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(#1070): カスタム静的解析の False-positive 責務分界を review-core に明記
  .claude/rules/review-core.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(#1069): 重要度に「ドキュメント実害=Major」基準を追加
  docs/review/output-format.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(#1068): doc-only PR 用のレビュー観点を追加
  docs/review/viewpoints.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add "Doc-edit textlint" AI Misoperation Guard (W1)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add "Doc-edit textlint" AI Misoperation Guard (W1) (#1090)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(adr): ADR-002 オフライン(rules-only)ローカルレビューゲートを提案 (#1071)
  docs/adr/002-offline-local-review-gate.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(#1070): カスタム静的解析の False-positive 責務分界を review-core に明記 (#1087)
  .claude/rules/review-core.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(#1069): 重要度に「ドキュメント実害=Major」基準を追加 (#1088)
  docs/review/output-format.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(#1068): doc-only PR 用のレビュー観点を追加 (#1089)
  docs/review/viewpoints.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(adr): ADR-002 オフライン(rules-only)ローカルレビューゲートを提案 (#1071) (#1091)
  docs/adr/002-offline-local-review-gate.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): add --offline / --rules-only mode (#1071, ADR-002)
  docs/adr/002-offline-local-review-gate.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/utils.mjs
  tests/cli-parse-args.test.mjs
  tests/utils-isllmenabled.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): make RIVER_OFFLINE parsing case-insensitive per reviewer (#1094)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/utils.mjs
  tests/utils-isllmenabled.test.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
