Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

feat(eval): add severity + top1 ledger snapshots (EOS Phase 2.1/2.2) (#790)
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/compare-eval-ledger.mjs
  scripts/evaluate-all.mjs
  src/lib/eval-snapshots.mjs
Due: none

feat(schema,eval): allow license field; add per-skill FP rate snapshot
  schemas/skill.schema.json
  scripts/compare-eval-ledger.mjs
  scripts/evaluate-all.mjs
  src/lib/eval-snapshots.mjs
Due: prettier --write

chore(action): rebuild dist after npm ci + schema change
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix(eval): address gemini review — rate-only regression + index-based attribution
  scripts/compare-eval-ledger.mjs
  src/lib/eval-snapshots.mjs
Due: none

feat(schema,eval): allow license field; add per-skill FP rate snapshot (#792)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/skill.schema.json
  scripts/compare-eval-ledger.mjs
  scripts/evaluate-all.mjs
  src/lib/eval-snapshots.mjs
Due: prettier --write

feat: add Anthropic (Claude) provider support
  package-lock.json
  package.json
  src/ai/factory.mjs
  src/config/schema.mjs
  src/lib/utils.mjs
Due: prettier --write

test: add AnthropicClient unit tests
  tests/ai-factory.test.mjs
Due: none

docs: document Anthropic (Claude) provider
  README.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/reference/config-schema.md
  runners/github-action/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(action): rebuild dist for Anthropic provider
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
Due: none

feat(ai): add Anthropic (Claude) provider to AIClientFactory
  README.md
  package-lock.json
  package.json
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/reference/config-schema.md
  runners/github-action/README.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
  src/ai/factory.mjs
  src/config/schema.mjs
  src/lib/utils.mjs
  tests/ai-factory.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(ai): harden Anthropic provider — generateReview tests, max_tokens config, retry-after
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/ai/factory.mjs
  src/config/schema.mjs
  src/core/skill-dispatcher.mjs
  tests/ai-factory.test.mjs
Due: none

test(ai-factory): widen HTTP-date timing windows to avoid CI flakiness
  tests/ai-factory.test.mjs
Due: none

chore(docs,redactor): polish Anthropic provider follow-ups
  README.en.md
  README.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  runners/github-action/README.md
  src/lib/secret-redactor.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(action): rebuild dist after secret-redactor ALLOWLIST update
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore(docs,redactor): polish Anthropic provider follow-ups
  README.en.md
  README.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  runners/github-action/README.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/secret-redactor.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(ai): enable Anthropic prompt caching for system prompts (#808 follow-up)
  README.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/ai/factory.mjs
  tests/ai-factory.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ai): enable Anthropic prompt caching for system prompts
  README.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/ai/factory.mjs
  tests/ai-factory.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ai): allow per-skill opt-out of Anthropic prompt caching (#811 follow-up)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/ai/factory.mjs
  src/config/schema.mjs
  src/core/skill-dispatcher.mjs
  tests/ai-factory.test.mjs
Due: none

feat(ai): allow per-skill opt-out of Anthropic prompt caching
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/ai/factory.mjs
  src/config/schema.mjs
  src/core/skill-dispatcher.mjs
  tests/ai-factory.test.mjs
Due: none

feat(ai): capture Anthropic usage telemetry per call (Phase 1)
  README.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/ai/factory.mjs
  src/core/skill-dispatcher.mjs
  tests/ai-factory.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ai): usage telemetry Phase 2 — OpenAI capture + JSONL persistence
  README.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/ai/factory.mjs
  src/core/skill-dispatcher.mjs
  src/lib/usage-persistence.mjs
  tests/ai-factory.test.mjs
  tests/usage-persistence.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: cost estimation guide + usage-summary script (closes #803)
  README.en.md
  README.md
  package.json
  pages/guides/cost-estimation.en.md
  pages/guides/cost-estimation.md
  scripts/usage-summary.mjs
  src/core/cost-estimator.mjs
  tests/cost-estimator.test.mjs
  tests/usage-summary.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(action): rebuild dist after cost-estimator + usage-summary updates
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

chore: exclude openai/skills tree URLs from lychee link check
  .lychee.toml
Due: none

chore(ci): exclude openai.com/pricing from lychee (bot challenge returns 403)
  .lychee.toml
Due: none

docs: cost estimation guide + usage-summary script (closes #803)
  .lychee.toml
  README.en.md
  README.md
  package.json
  pages/guides/cost-estimation.en.md
  pages/guides/cost-estimation.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/usage-summary.mjs
  src/core/cost-estimator.mjs
  tests/cost-estimator.test.mjs
  tests/usage-summary.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(ai): finish Anthropic provider leftover hardening (3 items)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/ai/factory.mjs
  src/config/schema.mjs
  tests/ai-factory.test.mjs
  tests/config-schema.test.mjs
Due: none

refactor(eval): avoid duplicate evaluateReviewFixtures run during ledger snapshot
  scripts/evaluate-all.mjs
  src/lib/eval-snapshots.mjs
  tests/eval-snapshots-per-skill-fp.test.mjs
Due: none

chore(action): rebuild dist with npm ci environment
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
Due: none

refactor(eval): avoid duplicate evaluateReviewFixtures run during ledger snapshot
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
  scripts/evaluate-all.mjs
  src/lib/eval-snapshots.mjs
  tests/eval-snapshots-per-skill-fp.test.mjs
Due: none

docs: update roadmap for AI review flow strategy
  ROADMAP.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: update roadmap for AI review flow strategy (#820)
  ROADMAP.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(deps): align react-dom to 19.2.6 to match react
  package-lock.json
  package.json
Due: prettier --write
