Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

chore(ci): tolerate transient 503/429 and exclude timeout-prone citation PDF in lychee (#1125)
  .lychee.toml
Due: none

feat(skills): add react-router, laravel, and gha-security packs from official docs
  docs/data/skill-manifest.json
  pages/reference/skills-catalog.md
  skills/downstream/rr-downstream-gha-workflow-security-001/SKILL.md
  skills/midstream/rr-midstream-laravel-eloquent-nplus1-001/SKILL.md
  skills/midstream/rr-midstream-laravel-mass-assignment-001/SKILL.md
  skills/midstream/rr-midstream-react-router-action-contract-001/SKILL.md
  skills/midstream/rr-midstream-react-router-loader-boundary-001/SKILL.md
  skills/registry.yaml
  skills/upstream/rr-upstream-laravel-migration-safety-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

fix(skills): drop redundant app/routes glob, regenerate manifest
  docs/data/skill-manifest.json
  pages/reference/skills-catalog.md
  skills/midstream/rr-midstream-react-router-action-contract-001/SKILL.md
  skills/midstream/rr-midstream-react-router-loader-boundary-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

feat(skills): add react-router, laravel, and gha-security packs from official docs (#1126)
  docs/data/skill-manifest.json
  pages/reference/skills-catalog.md
  skills/downstream/rr-downstream-gha-workflow-security-001/SKILL.md
  skills/midstream/rr-midstream-laravel-eloquent-nplus1-001/SKILL.md
  skills/midstream/rr-midstream-laravel-mass-assignment-001/SKILL.md
  skills/midstream/rr-midstream-react-router-action-contract-001/SKILL.md
  skills/midstream/rr-midstream-react-router-loader-boundary-001/SKILL.md
  skills/registry.yaml
  skills/upstream/rr-upstream-laravel-migration-safety-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

feat(skills): add S1 fixtures and promote react-router/laravel/gha-security to community
  docs/data/skill-manifest.json
  pages/reference/skills-catalog.md
  skills/downstream/rr-downstream-gha-workflow-security-001/fixtures/01-script-injection-happy.md
  skills/downstream/rr-downstream-gha-workflow-security-001/fixtures/02-safe-fields-guard.md
  skills/downstream/rr-downstream-gha-workflow-security-001/golden/01-script-injection-happy.md
  skills/midstream/rr-midstream-laravel-eloquent-nplus1-001/fixtures/01-nplus1-loop-happy.md
  skills/midstream/rr-midstream-laravel-eloquent-nplus1-001/fixtures/02-eager-loaded-guard.md
  skills/midstream/rr-midstream-laravel-eloquent-nplus1-001/golden/01-nplus1-loop-happy.md
  skills/midstream/rr-midstream-laravel-mass-assignment-001/fixtures/01-request-all-happy.md
  skills/midstream/rr-midstream-laravel-mass-assignment-001/fixtures/02-validated-authorized-guard.md
  skills/midstream/rr-midstream-laravel-mass-assignment-001/golden/01-request-all-happy.md
  skills/midstream/rr-midstream-react-router-action-contract-001/fixtures/01-thrown-validation-happy.md
  skills/midstream/rr-midstream-react-router-action-contract-001/fixtures/02-intentional-404-guard.md
  skills/midstream/rr-midstream-react-router-action-contract-001/golden/01-thrown-validation-happy.md
  skills/midstream/rr-midstream-react-router-loader-boundary-001/fixtures/01-useeffect-fetch-happy.md
  skills/midstream/rr-midstream-react-router-loader-boundary-001/fixtures/02-polling-guard.md
  skills/midstream/rr-midstream-react-router-loader-boundary-001/golden/01-useeffect-fetch-happy.md
  skills/registry.yaml
  skills/upstream/rr-upstream-laravel-migration-safety-001/fixtures/01-change-drops-modifiers-happy.md
  skills/upstream/rr-upstream-laravel-migration-safety-001/fixtures/02-create-table-index-guard.md
  skills/upstream/rr-upstream-laravel-migration-safety-001/golden/01-change-drops-modifiers-happy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

feat(skills): add S1 fixtures and promote react-router/laravel/gha-security to community (#1128)
  docs/data/skill-manifest.json
  pages/reference/skills-catalog.md
  skills/downstream/rr-downstream-gha-workflow-security-001/fixtures/01-script-injection-happy.md
  skills/downstream/rr-downstream-gha-workflow-security-001/fixtures/02-safe-fields-guard.md
  skills/downstream/rr-downstream-gha-workflow-security-001/golden/01-script-injection-happy.md
  skills/midstream/rr-midstream-laravel-eloquent-nplus1-001/fixtures/01-nplus1-loop-happy.md
  skills/midstream/rr-midstream-laravel-eloquent-nplus1-001/fixtures/02-eager-loaded-guard.md
  skills/midstream/rr-midstream-laravel-eloquent-nplus1-001/golden/01-nplus1-loop-happy.md
  skills/midstream/rr-midstream-laravel-mass-assignment-001/fixtures/01-request-all-happy.md
  skills/midstream/rr-midstream-laravel-mass-assignment-001/fixtures/02-validated-authorized-guard.md
  skills/midstream/rr-midstream-laravel-mass-assignment-001/golden/01-request-all-happy.md
  skills/midstream/rr-midstream-react-router-action-contract-001/fixtures/01-thrown-validation-happy.md
  skills/midstream/rr-midstream-react-router-action-contract-001/fixtures/02-intentional-404-guard.md
  skills/midstream/rr-midstream-react-router-action-contract-001/golden/01-thrown-validation-happy.md
  skills/midstream/rr-midstream-react-router-loader-boundary-001/fixtures/01-useeffect-fetch-happy.md
  skills/midstream/rr-midstream-react-router-loader-boundary-001/fixtures/02-polling-guard.md
  skills/midstream/rr-midstream-react-router-loader-boundary-001/golden/01-useeffect-fetch-happy.md
  skills/registry.yaml
  skills/upstream/rr-upstream-laravel-migration-safety-001/fixtures/01-change-drops-modifiers-happy.md
  skills/upstream/rr-upstream-laravel-migration-safety-001/fixtures/02-create-table-index-guard.md
  skills/upstream/rr-upstream-laravel-migration-safety-001/golden/01-change-drops-modifiers-happy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

chore: wire packs:tier --strict into CI and add session retrospective
  .github/workflows/skill-validation.yml
  docs/development/retrospectives/2026-06-10-11.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: correct community pack count to include ddd in carry-over
  docs/development/retrospectives/2026-06-10-11.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(claude): elevate gh-account-switch guard to AI Misoperation Guards
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: wire packs:tier --strict into CI + 2026-06-10..11 retrospective (#1130)
  .github/workflows/skill-validation.yml
  docs/development/retrospectives/2026-06-10-11.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(claude): elevate gh-account-switch guard to AI Misoperation Guards (#1131)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): add tailwind / vitest / firebase / nextjs technology review packs
  docs/data/skill-manifest.json
  pages/reference/skills-catalog.md
  skills/midstream/rr-midstream-firebase-security-rules-001/SKILL.md
  skills/midstream/rr-midstream-firebase-security-rules-001/fixtures/01-allow-if-true-happy.md
  skills/midstream/rr-midstream-firebase-security-rules-001/fixtures/02-public-read-intentional-guard.md
  skills/midstream/rr-midstream-firebase-security-rules-001/golden/01-allow-if-true-happy.md
  skills/midstream/rr-midstream-nextjs-server-action-security-001/SKILL.md
  skills/midstream/rr-midstream-nextjs-server-action-security-001/fixtures/01-missing-auth-mutation-happy.md
  skills/midstream/rr-midstream-nextjs-server-action-security-001/fixtures/02-delegated-auth-guard.md
  skills/midstream/rr-midstream-nextjs-server-action-security-001/golden/01-missing-auth-mutation-happy.md
  skills/midstream/rr-midstream-supabase-rls-policy-001/SKILL.md
  skills/midstream/rr-midstream-supabase-rls-policy-001/fixtures/01-using-true-policy-happy.md
  skills/midstream/rr-midstream-supabase-rls-policy-001/fixtures/02-public-master-table-guard.md
  skills/midstream/rr-midstream-supabase-rls-policy-001/golden/01-using-true-policy-happy.md
  skills/midstream/rr-midstream-tailwind-class-hygiene-001/SKILL.md
  skills/midstream/rr-midstream-tailwind-class-hygiene-001/fixtures/01-arbitrary-value-happy.md
  skills/midstream/rr-midstream-tailwind-class-hygiene-001/fixtures/02-theme-extended-guard.md
  skills/midstream/rr-midstream-tailwind-class-hygiene-001/golden/01-arbitrary-value-happy.md
  skills/midstream/rr-midstream-vitest-mock-isolation-001/SKILL.md
  skills/midstream/rr-midstream-vitest-mock-isolation-001/fixtures/01-unrestored-spy-happy.md
  skills/midstream/rr-midstream-vitest-mock-isolation-001/fixtures/02-config-restoremocks-guard.md
  skills/midstream/rr-midstream-vitest-mock-isolation-001/golden/01-unrestored-spy-happy.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

feat(skills): add tailwind / vitest / firebase / nextjs technology review packs (#1132)
  docs/data/skill-manifest.json
  pages/reference/skills-catalog.md
  skills/midstream/rr-midstream-firebase-security-rules-001/SKILL.md
  skills/midstream/rr-midstream-firebase-security-rules-001/fixtures/01-allow-if-true-happy.md
  skills/midstream/rr-midstream-firebase-security-rules-001/fixtures/02-public-read-intentional-guard.md
  skills/midstream/rr-midstream-firebase-security-rules-001/golden/01-allow-if-true-happy.md
  skills/midstream/rr-midstream-nextjs-server-action-security-001/SKILL.md
  skills/midstream/rr-midstream-nextjs-server-action-security-001/fixtures/01-missing-auth-mutation-happy.md
  skills/midstream/rr-midstream-nextjs-server-action-security-001/fixtures/02-delegated-auth-guard.md
  skills/midstream/rr-midstream-nextjs-server-action-security-001/golden/01-missing-auth-mutation-happy.md
  skills/midstream/rr-midstream-supabase-rls-policy-001/SKILL.md
  skills/midstream/rr-midstream-supabase-rls-policy-001/fixtures/01-using-true-policy-happy.md
  skills/midstream/rr-midstream-supabase-rls-policy-001/fixtures/02-public-master-table-guard.md
  skills/midstream/rr-midstream-supabase-rls-policy-001/golden/01-using-true-policy-happy.md
  skills/midstream/rr-midstream-tailwind-class-hygiene-001/SKILL.md
  skills/midstream/rr-midstream-tailwind-class-hygiene-001/fixtures/01-arbitrary-value-happy.md
  skills/midstream/rr-midstream-tailwind-class-hygiene-001/fixtures/02-theme-extended-guard.md
  skills/midstream/rr-midstream-tailwind-class-hygiene-001/golden/01-arbitrary-value-happy.md
  skills/midstream/rr-midstream-vitest-mock-isolation-001/SKILL.md
  skills/midstream/rr-midstream-vitest-mock-isolation-001/fixtures/01-unrestored-spy-happy.md
  skills/midstream/rr-midstream-vitest-mock-isolation-001/fixtures/02-config-restoremocks-guard.md
  skills/midstream/rr-midstream-vitest-mock-isolation-001/golden/01-unrestored-spy-happy.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

docs(guides): add adopter playbook for integration modes and rollout policy
  pages/guides/_meta.json
  pages/guides/adopter-playbook.en.md
  pages/guides/adopter-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): add adopter playbook for integration modes and rollout policy (#1134)
  pages/guides/_meta.json
  pages/guides/adopter-playbook.en.md
  pages/guides/adopter-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): address gemini review on adopter playbook (drop orphan "mode C", fix EN wording)
  pages/guides/adopter-playbook.en.md
  pages/guides/adopter-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): link suppression workflow to repo-wide-review (gemini follow-up)
  pages/guides/adopter-playbook.en.md
  pages/guides/adopter-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): address gemini review on adopter playbook (How-to) (#1135)
  pages/guides/adopter-playbook.en.md
  pages/guides/adopter-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(hooks): target-file-aware PostToolUse format path + hook input contract doc
  .claude/hooks/README.md
  hooks/format.sh
  scripts/plugin-format-hook.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(hooks): target-file-aware PostToolUse format path + hook input contract doc (#1136)
  .claude/hooks/README.md
  hooks/format.sh
  scripts/plugin-format-hook.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): generate "Skills changed" release-notes section from manifest diff
  .github/workflows/release-please.yml
  package.json
  pages/guides/adopter-playbook.en.md
  pages/guides/adopter-playbook.md
  scripts/skill-changelog.mjs
  tests/skill-changelog.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

refactor(skills): defensively skip malformed manifest entries in diffManifests (gemini follow-up)
  scripts/skill-changelog.mjs
  tests/skill-changelog.test.mjs
Due: none

feat(skills): "Skills changed" release-notes section from manifest diff (#1138)
  .github/workflows/release-please.yml
  package.json
  pages/guides/adopter-playbook.en.md
  pages/guides/adopter-playbook.md
  scripts/skill-changelog.mjs
  tests/skill-changelog.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(schema): add decision / usage / trace to Review Artifact (v1 additive)
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  schemas/review-artifact.schema.json
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/review-artifact-schema.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(schema): stabilize run_id suffix length with padEnd (gemini follow-up)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  src/lib/review-plan.mjs
Due: none

feat(schema): add decision / usage / trace to Review Artifact (v1 additive) (#1142)
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  schemas/review-artifact.schema.json
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/review-artifact-schema.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(config): add global ~/.river-review/ config tier (4-layer resolution)
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/loader.mjs
  tests/config-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

refactor(config): harden global tier (homedir fallback, null-root guard, doc accuracy) — gemini follow-up
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/loader.mjs
  tests/config-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(config): add global ~/.river-review/ config tier (4-layer resolution) (#1143)
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/loader.mjs
  tests/config-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(cli): add --explain flag (skill / gate / config resolution)
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-explain.test.mjs
  tests/cli-parse-args.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(cli): make formatPlan defensive against missing selected/skipped (gemini follow-up)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-explain.test.mjs
Due: none

feat(cli): add --explain flag (skill / gate / config resolution) (#1144)
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-explain.test.mjs
  tests/cli-parse-args.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix: address multi-agent review findings on #1045 (run_id contract + global config opt-out)
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  src/config/loader.mjs
  tests/config-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(ci): guard skill-changelog release-notes append against overwrite + double-append (M3)
  .github/workflows/release-please.yml
Due: prettier --write

fix(config): accept truthy spellings for global-config opt-out (gemini security follow-up)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/loader.mjs
  tests/config-loader.test.mjs
Due: none

fix: address multi-agent review findings on #1045 (run_id contract + global config opt-out) (#1145)
  .github/workflows/release-please.yml
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/reference/review-artifact.en.md
  pages/reference/review-artifact.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/review-artifact.schema.json
  src/config/loader.mjs
  tests/config-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual
