Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

fix(review): use reviewMode in classifyFindings; rebuild dist (Node 22.22.2)
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
Due: none

fix(finding-classifier): fix ruleId=unknown collapse and critical evidence bypass
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-classifier.mjs
  tests/finding-classifier.test.mjs
Due: none

feat(finding-classifier): add noise control layer with classify pipeline (#617)
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/finding-classifier.mjs
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  tests/finding-classifier.test.mjs
Due: none

fix(finding-classifier): apply ruleId=unknown guard to deduplicateWithinFile
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-classifier.mjs
  tests/finding-classifier.test.mjs
Due: none

fix(finding-classifier): apply ruleId=unknown guard to deduplicateWithinFile (#631)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/finding-classifier.mjs
  tests/finding-classifier.test.mjs
Due: none

feat(review): add parallel Reviewer Orchestration layer (#622)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: none

chore: update dist chunk 213 after reviewer orchestration build
  runners/github-action/dist/213.index.mjs
Due: none

feat(review): add parallel Reviewer Orchestration layer (#622) (#633)
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: none

feat(eval): add Re-review / Regression Review with finding fingerprints (#621)
  runners/github-action/dist/744.index.mjs
  runners/github-action/dist/744.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/finding-fingerprint.mjs
  src/lib/local-runner.mjs
  src/lib/review-differ.mjs
  tests/finding-fingerprint.test.mjs
  tests/review-differ.test.mjs
Due: none

feat(eval): add Re-review / Regression Review with finding fingerprints (#621) (#634)
  runners/github-action/dist/744.index.mjs
  runners/github-action/dist/744.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/finding-fingerprint.mjs
  src/lib/local-runner.mjs
  src/lib/review-differ.mjs
  tests/finding-fingerprint.test.mjs
  tests/review-differ.test.mjs
Due: none

feat(eval): add Review Result Store and Dashboard (#620)
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/744.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/result-store.mjs
  tests/result-store.test.mjs
Due: none

fix(result-store): path traversal guard + gitignore + storeDir alignment
  .gitignore
  .river/runs/.gitkeep
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/result-store.mjs
  tests/result-store.test.mjs
Due: none

chore: update dist chunk 260 after result-store blocker fix
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
Due: none

feat(eval): add Review Result Store and Dashboard (#620) (#635)
  .gitignore
  .river/runs/.gitkeep
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  runners/github-action/dist/744.index.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/result-store.mjs
  tests/result-store.test.mjs
Due: none

docs(result-store): document listRunRecords lexicographic sort assumption
  src/lib/result-store.mjs
Due: none

refactor(result-store): extract defaultStoreDir to clarify resolveStoreDir responsibilities
  src/lib/result-store.mjs
Due: none

fix(lychee): exclude GitHub compare URLs from link checking
  .lychee.toml
Due: none

chore(action-dist): rebuild after result-store defaultStoreDir refactor
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
Due: none

chore(action-dist): rebuild after result-store JSDoc update
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
Due: none

docs(result-store): document listRunRecords sort assumption (#638)
  runners/github-action/dist/260.index.mjs
  runners/github-action/dist/260.index.mjs.map
  src/lib/result-store.mjs
Due: none

fix(lychee): exclude GitHub compare URLs from link checking (#640)
  .lychee.toml
Due: none

fix(eval): redirect sub-eval progress output to stderr in JSON mode
  .github/workflows/nightly-eval.yml
  src/lib/review-fixtures-eval.mjs
Due: prettier --write

chore(action-dist): rebuild after review-fixtures-eval stderr fix
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/213.index.mjs.map
Due: none

fix(eval): redirect sub-eval progress to stderr to fix nightly CI (#642)
  .github/workflows/nightly-eval.yml
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/213.index.mjs.map
  src/lib/review-fixtures-eval.mjs
Due: prettier --write

feat(eval): enable skill eval CI gate (Phase 3)
  .github/workflows/skill-eval.yml
Due: prettier --write

feat(eval): enable skill eval CI gate (Phase 3) (#646)
  .github/workflows/skill-eval.yml
Due: prettier --write

feat(eval): add Phase 3 skill fixtures for typescript-nullcheck and typescript-strict
  docs/skills-structure.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-typescript-nullcheck-001/fixtures/01-non-null-assertion-happy.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/fixtures/02-type-guarded-false-positive.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/golden/01-non-null-assertion-happy.md
  skills/midstream/rr-midstream-typescript-strict-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-typescript-strict-001/fixtures/01-any-type-usage-happy.md
  skills/midstream/rr-midstream-typescript-strict-001/fixtures/02-test-mock-false-positive.md
  skills/midstream/rr-midstream-typescript-strict-001/golden/01-any-type-usage-happy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(eval): fix skill-eval.yml path trigger to match 3-level skill structure
  .github/workflows/skill-eval.yml
Due: prettier --write

fix(eval): add missing prompt/ directories for typescript-nullcheck and typescript-strict skills
  skills/midstream/rr-midstream-typescript-nullcheck-001/prompt/system.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/prompt/user.md
  skills/midstream/rr-midstream-typescript-strict-001/prompt/system.md
  skills/midstream/rr-midstream-typescript-strict-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(eval): add Phase 3 skill fixtures for typescript-nullcheck and typescript-strict (#648)
  .github/workflows/skill-eval.yml
  docs/skills-structure.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-typescript-nullcheck-001/fixtures/01-non-null-assertion-happy.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/fixtures/02-type-guarded-false-positive.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/golden/01-non-null-assertion-happy.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/prompt/system.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/prompt/user.md
  skills/midstream/rr-midstream-typescript-strict-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-typescript-strict-001/fixtures/01-any-type-usage-happy.md
  skills/midstream/rr-midstream-typescript-strict-001/fixtures/02-test-mock-false-positive.md
  skills/midstream/rr-midstream-typescript-strict-001/golden/01-any-type-usage-happy.md
  skills/midstream/rr-midstream-typescript-strict-001/prompt/system.md
  skills/midstream/rr-midstream-typescript-strict-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(context): add repo-wide context helpers
  src/lib/repo-context.mjs
Due: none

feat(node-api): implement AI provider execution in review() and evaluateSkill()
  .gitignore
  runners/node-api/dist/ai-helpers.d.ts
  runners/node-api/dist/ai-helpers.d.ts.map
  runners/node-api/dist/ai-helpers.js
  runners/node-api/dist/ai-helpers.js.map
  runners/node-api/dist/index.d.ts
  runners/node-api/dist/index.d.ts.map
  runners/node-api/dist/index.js
  runners/node-api/dist/index.js.map
  runners/node-api/dist/types.d.ts
  runners/node-api/dist/types.d.ts.map
  runners/node-api/dist/types.js
  runners/node-api/dist/types.js.map
  runners/node-api/src/ai-helpers.ts
  runners/node-api/src/index.ts
  runners/node-api/src/types.ts
  tests/node-api/ai-provider.test.mjs
Due: prettier --write

fix(node-api): add TypeScript declarations for core-runner and fix moduleResolution
  runners/core/package.json
  runners/core/review-runner.d.ts
  runners/core/skill-loader.d.ts
  runners/node-api/package-lock.json
  runners/node-api/tsconfig.json
Due: prettier --write

fix(node-api): resolve provider check order and remove dead anthropic key path
  runners/node-api/dist/index.d.ts.map
  runners/node-api/dist/index.js
  runners/node-api/dist/index.js.map
  runners/node-api/src/index.ts
Due: prettier --write

feat(node-api): implement AI provider execution in review() and evaluateSkill() (#655)
  .gitignore
  runners/core/package.json
  runners/core/review-runner.d.ts
  runners/core/skill-loader.d.ts
  runners/node-api/dist/ai-helpers.d.ts
  runners/node-api/dist/ai-helpers.d.ts.map
  runners/node-api/dist/ai-helpers.js
  runners/node-api/dist/ai-helpers.js.map
  runners/node-api/dist/index.d.ts
  runners/node-api/dist/index.d.ts.map
  runners/node-api/dist/index.js
  runners/node-api/dist/index.js.map
  runners/node-api/dist/types.d.ts
  runners/node-api/dist/types.d.ts.map
  runners/node-api/dist/types.js
  runners/node-api/dist/types.js.map
  runners/node-api/package-lock.json
  runners/node-api/src/ai-helpers.ts
  runners/node-api/src/index.ts
  runners/node-api/src/types.ts
  runners/node-api/tsconfig.json
  tests/node-api/ai-provider.test.mjs
Due: prettier --write
