Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

feat(skills): add context-budget-tuning skill (Issue #736)
  skills/upstream/rr-upstream-context-budget-tuning-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: add node runtime learning
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

AGENT_LEARNINGS.md を更新
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add Node.js engine learning for local/CI checks (#748)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(speca-core): add review property schema
  schemas/review-property.schema.json
Due: prettier --write

feat(speca-core): add review scope schema
  schemas/review-scope.schema.json
Due: prettier --write

feat(speca-core): add proof attempt result schema
  schemas/proof-attempt-result.schema.json
Due: prettier --write

feat(speca-core): add review gate result schema
  schemas/review-gate-result.schema.json
Due: prettier --write

feat(speca-core): add spec to review properties skill
  skills/upstream/rr-upstream-spec-to-review-properties-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): address Copilot review on PR #742 context-budget-tuning
  skills/upstream/rr-upstream-context-budget-tuning-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): add context-budget-tuning skill (#742)
  skills/upstream/rr-upstream-context-budget-tuning-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(deps): align @docusaurus/preset-classic and theme-mermaid with core 3.10.1
  package-lock.json
  package.json
Due: prettier --write

feat(skills): redefine river-reviewer as improvement-loop orchestrator (#744 #745)
  skills/agent-skills/river-reviewer/SKILL.md
  skills/agent-skills/river-reviewer/references/FEEDBACK.md
  skills/agent-skills/river-reviewer/references/IMPROVEMENT_LOOP.md
  skills/agent-skills/river-reviewer/references/VERIFICATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

feat(skills): redefine river-reviewer as improvement-loop orchestrator (#744 #745) (#755)
  skills/agent-skills/river-reviewer/SKILL.md
  skills/agent-skills/river-reviewer/references/FEEDBACK.md
  skills/agent-skills/river-reviewer/references/IMPROVEMENT_LOOP.md
  skills/agent-skills/river-reviewer/references/VERIFICATION.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

docs(en): translate repo-wide-review and embedding research notes
  pages/explanation/embedding-code-index-research.en.md
  pages/guides/repo-wide-review.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(en): suffix .en.md doc id to avoid docusaurus duplicate-id collision
  pages/explanation/embedding-code-index-research.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(review): fix bash line continuation in suppression CLI example (PR #757 review)
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(en): translate repo-wide-review and embedding research notes (#757)
  pages/explanation/embedding-code-index-research.en.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(skills): add eval fixtures + golden + promptfoo for suppression-feedback (#739)
  skills/midstream/rr-midstream-suppression-feedback-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-suppression-feedback-001/fixtures/01-major-finding-without-suppression.md
  skills/midstream/rr-midstream-suppression-feedback-001/fixtures/02-already-suppressed-finding.md
  skills/midstream/rr-midstream-suppression-feedback-001/fixtures/03-false-positive-candidate.md
  skills/midstream/rr-midstream-suppression-feedback-001/golden/01-major-finding-without-suppression.md
  skills/midstream/rr-midstream-suppression-feedback-001/golden/02-already-suppressed-finding.md
  skills/midstream/rr-midstream-suppression-feedback-001/golden/03-false-positive-candidate.md
  skills/midstream/rr-midstream-suppression-feedback-001/prompt/system.md
  skills/midstream/rr-midstream-suppression-feedback-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): address Copilot review on PR #758 suppression-feedback eval
  skills/midstream/rr-midstream-suppression-feedback-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-suppression-feedback-001/prompt/system.md
  skills/midstream/rr-midstream-suppression-feedback-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): add eval fixtures + golden + promptfoo for suppression-feedback (#758)
  skills/midstream/rr-midstream-suppression-feedback-001/eval/promptfoo.yaml
  skills/midstream/rr-midstream-suppression-feedback-001/fixtures/01-major-finding-without-suppression.md
  skills/midstream/rr-midstream-suppression-feedback-001/fixtures/02-already-suppressed-finding.md
  skills/midstream/rr-midstream-suppression-feedback-001/fixtures/03-false-positive-candidate.md
  skills/midstream/rr-midstream-suppression-feedback-001/golden/01-major-finding-without-suppression.md
  skills/midstream/rr-midstream-suppression-feedback-001/golden/02-already-suppressed-finding.md
  skills/midstream/rr-midstream-suppression-feedback-001/golden/03-false-positive-candidate.md
  skills/midstream/rr-midstream-suppression-feedback-001/prompt/system.md
  skills/midstream/rr-midstream-suppression-feedback-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): add rr-upstream-eval-driven-skill-design-001 (#737)
  skills/upstream/rr-upstream-eval-driven-skill-design-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): add rr-upstream-eval-driven-skill-design-001 (#737) (#759)
  skills/upstream/rr-upstream-eval-driven-skill-design-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): add code_search dependency to 11 code-touching skills (#738 PR-2)
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/downstream/review-policy-standard/SKILL.md
  skills/downstream/rr-downstream-test-plan-review-001/SKILL.md
  skills/downstream/sample-test-review/SKILL.md
  skills/midstream/agent-agentcheck-code-review/SKILL.md
  skills/midstream/agent-code-refactoring/SKILL.md
  skills/midstream/agent-test-coverage/SKILL.md
  skills/midstream/rr-midstream-i18n-unused-key-001/SKILL.md
  skills/midstream/rr-midstream-normalization-consistency-001/SKILL.md
  skills/upstream/agent-code-documentation/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): add code_search dependency to 11 code-touching skills (#738 PR-2) (#761)
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/downstream/review-policy-standard/SKILL.md
  skills/downstream/rr-downstream-test-plan-review-001/SKILL.md
  skills/downstream/sample-test-review/SKILL.md
  skills/midstream/agent-agentcheck-code-review/SKILL.md
  skills/midstream/agent-code-refactoring/SKILL.md
  skills/midstream/agent-test-coverage/SKILL.md
  skills/midstream/rr-midstream-i18n-unused-key-001/SKILL.md
  skills/midstream/rr-midstream-normalization-consistency-001/SKILL.md
  skills/upstream/agent-code-documentation/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(eval): add routing/planner eval cases for river-reviewer entry skill (#746)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-security-and-observability.diff
  tests/fixtures/planner-dataset/diffs/upstream-architecture-bounded-context.diff
  tests/fixtures/planner-dataset/diffs/upstream-design-pre-mortem.diff
Due: prettier --write

docs(skills): add feedback-to-fixture conversion workflow reference (#747)
  skills/agent-skills/river-reviewer/SKILL.md
  skills/agent-skills/river-reviewer/references/FEEDBACK_TO_FIXTURE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

docs(planner): address Copilot review on PR #763 routing cases
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-security-and-observability.diff
Due: prettier --write

docs(skills): address Copilot review on PR #764 feedback-to-fixture doc
  skills/agent-skills/river-reviewer/references/FEEDBACK_TO_FIXTURE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

feat(eval): add routing/planner eval cases for river-reviewer entry skill (#763)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-security-and-observability.diff
  tests/fixtures/planner-dataset/diffs/upstream-architecture-bounded-context.diff
  tests/fixtures/planner-dataset/diffs/upstream-design-pre-mortem.diff
Due: prettier --write

docs(skills): add feedback-to-fixture conversion workflow reference (#764)
  skills/agent-skills/river-reviewer/SKILL.md
  skills/agent-skills/river-reviewer/references/FEEDBACK_TO_FIXTURE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

chore(skills): scope midstream TS/JS applyTo to src/app/lib/packages (#762 batch 1)
  docs/development/skill-applyto-scoping.md
  skills/midstream/rr-midstream-api-compatibility-001/SKILL.md
  skills/midstream/rr-midstream-loading-state-001/SKILL.md
  skills/midstream/rr-midstream-logging-observability-001/SKILL.md
  skills/midstream/rr-midstream-normalization-consistency-001/SKILL.md
  skills/midstream/rr-midstream-nullability-contract-001/SKILL.md
  skills/midstream/rr-midstream-type-driven-design-001/SKILL.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/SKILL.md
  skills/midstream/rr-midstream-typescript-strict-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): scope midstream TS/JS applyTo to src/app/lib/packages (#762 batch 1) (#766)
  docs/development/skill-applyto-scoping.md
  skills/midstream/rr-midstream-api-compatibility-001/SKILL.md
  skills/midstream/rr-midstream-loading-state-001/SKILL.md
  skills/midstream/rr-midstream-logging-observability-001/SKILL.md
  skills/midstream/rr-midstream-normalization-consistency-001/SKILL.md
  skills/midstream/rr-midstream-nullability-contract-001/SKILL.md
  skills/midstream/rr-midstream-type-driven-design-001/SKILL.md
  skills/midstream/rr-midstream-typescript-nullcheck-001/SKILL.md
  skills/midstream/rr-midstream-typescript-strict-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): narrow upstream **/*.md applyTo to docs/pages/specs (#762 batch 2)
  skills/midstream/rr-midstream-gh-address-comments-001/SKILL.md
  skills/upstream/agent-code-documentation/SKILL.md
  skills/upstream/rr-upstream-create-plan-001/SKILL.md
  skills/upstream/rr-upstream-multitenancy-isolation-001/SKILL.md
  skills/upstream/rr-upstream-security-privacy-design-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

chore(skills): narrow upstream **/*.md applyTo to docs/pages/specs (#762 batch 2) (#767)
  skills/midstream/rr-midstream-gh-address-comments-001/SKILL.md
  skills/upstream/agent-code-documentation/SKILL.md
  skills/upstream/rr-upstream-create-plan-001/SKILL.md
  skills/upstream/rr-upstream-multitenancy-isolation-001/SKILL.md
  skills/upstream/rr-upstream-security-privacy-design-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: bump @v0.28.0 example pins to @v0.33.0 across guides/tutorials/reference
  docs/use-cases/github-actions.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: bump @v0.28.0 example pins to @v0.33.0 across guides/tutorials/reference (#768)
  docs/use-cases/github-actions.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: clean up stale planning-state references after Epic completions
  pages/reference/cli-review-verify-spec.md
  pages/reference/eval-keep-discard-policy.en.md
  skills/agent-skills/river-reviewer/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
