Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

docs(explanation): apply gemini-code-assist suggestions on PR #573
  pages/explanation/intro.en.md
  pages/explanation/what-is-river-reviewer.en.md
  pages/explanation/what-is-river-reviewer.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(explanation): align intro / what-is with Context Engineering / Skill Registry framing (#573)
  pages/explanation/intro.en.md
  pages/explanation/intro.md
  pages/explanation/what-is-river-reviewer.en.md
  pages/explanation/what-is-river-reviewer.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(skill): add PlanGate evals fixtures (closes #523)
  skills/upstream/rr-upstream-plangate-exec-conformance-001/eval/promptfoo.yaml
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/01-true-positive-undocumented-dependency.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/02-false-positive-out-of-scope.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/03-fallback-diff-empty.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/01-true-positive-undocumented-dependency.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/02-false-positive-out-of-scope.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/03-fallback-diff-empty.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/prompt/system.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/prompt/user.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/eval/promptfoo.yaml
  skills/upstream/rr-upstream-plangate-plan-integrity-001/fixtures/01-true-positive-missing-acceptance.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/fixtures/02-false-positive-explicit-next-phase.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/fixtures/03-fallback-plan-missing.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/golden/01-true-positive-missing-acceptance.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/golden/02-false-positive-explicit-next-phase.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/golden/03-fallback-plan-missing.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/prompt/system.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skill): apply gemini suggestions for severity format clarity
  skills/upstream/rr-upstream-plangate-exec-conformance-001/prompt/system.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/prompt/system.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skill): add PlanGate evals fixtures (closes #523) (#574)
  skills/upstream/rr-upstream-plangate-exec-conformance-001/eval/promptfoo.yaml
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/01-true-positive-undocumented-dependency.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/02-false-positive-out-of-scope.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/fixtures/03-fallback-diff-empty.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/01-true-positive-undocumented-dependency.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/02-false-positive-out-of-scope.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/golden/03-fallback-diff-empty.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/prompt/system.md
  skills/upstream/rr-upstream-plangate-exec-conformance-001/prompt/user.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/eval/promptfoo.yaml
  skills/upstream/rr-upstream-plangate-plan-integrity-001/fixtures/01-true-positive-missing-acceptance.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/fixtures/02-false-positive-explicit-next-phase.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/fixtures/03-fallback-plan-missing.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/golden/01-true-positive-missing-acceptance.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/golden/02-false-positive-explicit-next-phase.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/golden/03-fallback-plan-missing.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/prompt/system.md
  skills/upstream/rr-upstream-plangate-plan-integrity-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(spec): add river review verify CLI spec (#575)
  pages/reference/_meta.json
  pages/reference/cli-review-verify-spec.en.md
  pages/reference/cli-review-verify-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(spec): address gemini/sentry review on verify CLI spec (#575)
  pages/reference/cli-review-verify-spec.en.md
  pages/reference/cli-review-verify-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(spec): add river review verify CLI spec (#575) (#580)
  pages/reference/_meta.json
  pages/reference/cli-review-verify-spec.en.md
  pages/reference/cli-review-verify-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(spec): address gemini/sentry review on gc CLI spec (#576)
  pages/reference/cli-gc-spec.en.md
  pages/reference/cli-gc-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(spec): add river gc CLI spec (#576)
  pages/reference/_meta.json
  pages/reference/cli-gc-spec.en.md
  pages/reference/cli-gc-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(spec): add river gc CLI spec (#576) (#581)
  pages/reference/_meta.json
  pages/reference/cli-gc-spec.en.md
  pages/reference/cli-gc-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(skill): add plangate-rule-promotion skill spec (#579)
  skills/upstream/rr-upstream-plangate-rule-promotion-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skill): add plangate-gc-deterministic skill spec (#578)
  skills/upstream/rr-upstream-plangate-gc-deterministic-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skill): add plangate-verification-audit skill spec (#577)
  skills/upstream/rr-upstream-plangate-verification-audit-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skill): address gemini review on gc-deterministic (#578)
  skills/upstream/rr-upstream-plangate-gc-deterministic-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skill): add plangate-rule-promotion skill spec (#579) (#582)
  skills/upstream/rr-upstream-plangate-rule-promotion-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skill): add plangate-verification-audit skill spec (#577) (#584)
  skills/upstream/rr-upstream-plangate-verification-audit-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skill): add plangate-gc-deterministic skill spec (#578) (#583)
  skills/upstream/rr-upstream-plangate-gc-deterministic-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(schema): add review-audit to outputKind enum (closes #585)
  schemas/skill.schema.json
  skills/upstream/rr-upstream-plangate-verification-audit-001/SKILL.md
  src/lib/skillYamlSchema.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(contract): register findings-pool artifact (closes #586)
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
  skills/upstream/rr-upstream-plangate-rule-promotion-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

chore(types): sync OutputKind TS union with review-audit
  src/types/skill.ts
Due: prettier --write

docs(contract): register findings-pool artifact (closes #586) (#588)
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
  skills/upstream/rr-upstream-plangate-rule-promotion-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

feat(schema): add review-audit to outputKind enum (closes #585) (#587)
  schemas/skill.schema.json
  skills/upstream/rr-upstream-plangate-verification-audit-001/SKILL.md
  src/lib/skillYamlSchema.mjs
  src/types/skill.ts
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(governance): document main branch protection ruleset (#483)
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): bump action tag references to v0.13.0
  README.en.md
  README.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): bump action tag references to v0.13.0 (#590)
  README.en.md
  README.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(governance): use :owner/:repo placeholder in gh api example
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(governance): document main branch protection ruleset (#483) (#589)
  docs/governance.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: sync action tag references to v0.13.1
  README.en.md
  README.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(release-please): auto-sync README version via extra-files
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.en.md
  README.md
  release-please-config.json
  scripts/validate-meta-consistency.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(meta): fail loudly when "Latest release" line is missing
  scripts/validate-meta-consistency.mjs
Due: none

feat(release-please): auto-sync README version via extra-files (#592) (#593)
  .github/workflows/release-please.yml
  .release-please-manifest.json
  README.en.md
  README.md
  release-please-config.json
  scripts/validate-meta-consistency.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(commands): add integrity note between CLAUDE.md and .claude/commands/README.md
  .claude/commands/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(output): add YAML output format with deterministic scoring and verdict
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  runners/github-action/action.yml
  runners/github-action/dist/610.index.mjs
  runners/github-action/dist/610.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/output-formatters/yaml.mjs
  src/lib/scoring/engine.mjs
  src/lib/scoring/rubric.mjs
  tests/output-formatters/yaml.test.mjs
  tests/scoring/engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(yaml): address review feedback on PR #596
  runners/github-action/dist/610.index.mjs
  runners/github-action/dist/610.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/output-formatters/yaml.mjs
Due: none

style: apply prettier formatting to new test files
  tests/output-formatters/yaml.test.mjs
  tests/scoring/engine.test.mjs
Due: none

docs(claude-md): align /preflight description with commands/README.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(commands): add integrity note between CLAUDE.md and commands/README.md (#595)
  .claude/commands/README.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(output): add YAML output format with scoring and verdict (#596)
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  runners/github-action/action.yml
  runners/github-action/dist/610.index.mjs
  runners/github-action/dist/610.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/output-formatters/yaml.mjs
  src/lib/scoring/engine.mjs
  src/lib/scoring/rubric.mjs
  tests/output-formatters/yaml.test.mjs
  tests/scoring/engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): correct release URL in README to v0.14.0
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
