Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

fix(cli): propagate riskAssessment on review exec path (#802 Phase 3 A2-fix-4)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: none

fix(cli): propagate riskAssessment on review exec path (#802 Phase 3 A2-fix-4) (#877)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: none

docs(readme): add roadmap status column (codex review follow-up)
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(readme.en): sync roadmap status column with the JA README
  README.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(readme): add roadmap status column (multi-perspective review follow-up) (#879)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): add execution context contract doc (#878 A2-3 prep)
  docs/development/execution-context-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): add execution context contract doc (#878 A2-3 prep) (#880)
  docs/development/execution-context-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skill): add modern-web-browser-compat community skill (#868 Phase 1)
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/SKILL.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skill): add modern-web-browser-compat community skill (#868 Phase 1) (#881)
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/SKILL.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(eng-practices): add google/eng-practices mapping + policy skill alignment
  docs/development/google-eng-practices-mapping.md
  skills/downstream/review-policy-standard/SKILL.md
  skills/midstream/review-policy-standard/SKILL.md
  skills/upstream/review-policy-standard/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: apply gemini PR #883 review (wording + abbreviation expansion)
  docs/development/google-eng-practices-mapping.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(eng-practices): add google/eng-practices mapping + policy skill alignment (#883)
  docs/development/google-eng-practices-mapping.md
  skills/downstream/review-policy-standard/SKILL.md
  skills/midstream/review-policy-standard/SKILL.md
  skills/upstream/review-policy-standard/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skill): add modern-web-a11y-interactive community skill (#868 Phase 1)
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/SKILL.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skill): add modern-web-a11y-interactive community skill (#868 Phase 1) (#884)
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/SKILL.md
  tests/fixtures/execution-plan-midstream.json
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(development): add npm distribution design + audit (#800 B1)
  docs/development/npm-distribution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: apply gemini PR #886 review on npm distribution design
  docs/development/npm-distribution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(development): npm distribution design + audit (#800 B1) (#886)
  docs/development/npm-distribution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(agent-learnings): record gh-api empty-commit pattern for release-please recovery
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(agent-learnings): make the gh-api command shape copy-pasteable (gemini PR #887)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(agent-learnings): record gh-api empty-commit pattern for release-please recovery (#887)
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(deps): npm audit fix bumps brace-expansion 5.0.5 -> 5.0.6 and ws 8.18.3 -> 8.21.0
  package-lock.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

chore(deps): npm audit fix bumps brace-expansion 5.0.5 -> 5.0.6 and ws 8.18.3 -> 8.21.0 (#888)
  package-lock.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: prettier --write

docs(readme): reflect PR #886 npm B1 design landing in Epic 1 status
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(readme): reflect PR #886 npm B1 design landing in Epic 1 status (#889)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(examples): add risk-map example file + adoption guide
  examples/README.md
  examples/risk-map/README.md
  examples/risk-map/risk-map.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(examples): correct risk-map verification + use absolute schema link (gemini PR #896)
  examples/risk-map/README.md
  examples/risk-map/risk-map.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(examples): add risk-map.yaml example + adoption guide (#896)
  examples/README.md
  examples/risk-map/README.md
  examples/risk-map/risk-map.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): add release-smoke.md (codex final-pass review item #3)
  docs/runbook/release-smoke.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): apply gemini PR #897 review on release-smoke
  docs/runbook/release-smoke.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): add release-smoke.md (Codex final-pass item #3) (#897)
  docs/runbook/release-smoke.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(retrospective): add 2026-05-21..25 multi-day sprint retrospective
  docs/development/retrospectives/2026-05-21-25.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(registry): add community section with recommended:false for 6 skills (S3)
  skills/registry.yaml
Due: prettier --write

ci: add release-please kick workflow + script (W1+W5)
  .github/workflows/release-please-kick.yml
  docs/runbook/release-please-kick.md
  scripts/release-please-kick.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(retrospective): add 2026-05-21..25 multi-day sprint retrospective (#898)
  docs/development/retrospectives/2026-05-21-25.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(registry): add community section with recommended:false for 6 skills (S3) (#899)
  skills/registry.yaml
Due: prettier --write

ci: add release-please kick workflow + script (W1+W5) (#900)
  .github/workflows/release-please-kick.yml
  docs/runbook/release-please-kick.md
  scripts/release-please-kick.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(process): harden kick automation + add Stop-rule reopen conditions
  .github/workflows/release-please-kick.yml
  docs/development/retrospectives/2026-05-21-25.md
  scripts/release-please-kick.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
