Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

chore(plugin): separate distributed plugin surface from repo-dev (#996 gap1)
  .claude-plugin/plugin.json
  .claude/commands/README.md
  CLAUDE.md
  agents/river-review.md
  commands/README.md
  commands/challenge.md
  commands/check.md
  commands/pr.md
  commands/review-local.md
  commands/skill.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(plugin): prettier-format commands/README (#996)
  commands/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(commands): clarify command-sync note per reviewer (#996)
  .claude/commands/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(plugin): separate distributed plugin surface from repo-dev (#996 gap1) (#1054)
  .claude-plugin/plugin.json
  .claude/commands/README.md
  CLAUDE.md
  agents/river-review.md
  commands/README.md
  commands/challenge.md
  commands/check.md
  commands/pr.md
  commands/review-local.md
  commands/skill.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(architecture): document CLI-first surface + resolution order (#1045)
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(architecture): drop nonexistent --config flag per reviewer (#1045)
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(architecture): CLI-first surface + resolution order (#1045 item 1) (#1055)
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs,agent): correct spec drift + plugin-agent compliance (self-review)
  CLAUDE.md
  agents/river-review.md
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(plugin): remove redundant hooks ref from manifest
  .claude-plugin/plugin.json
Due: prettier --write

docs(spec): fix stale --output text section per reviewer (#1056)
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs,agent): spec drift + plugin-agent compliance (self-review) (#1056)
  .claude-plugin/plugin.json
  CLAUDE.md
  agents/river-review.md
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): complete --config/--output spec drift + #996 agent path danglers
  agents/examples/river-review-self.agent.yaml
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
  pages/reference/cli-review-verify-spec.en.md
  pages/reference/cli-review-verify-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(verify-spec): fix JA fail-condition contradiction per reviewer (#1059)
  pages/reference/cli-review-verify-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): complete spec --config/--output drift + #996 agent danglers (self-review r2) (#1059)
  agents/examples/river-review-self.agent.yaml
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
  pages/reference/cli-review-verify-spec.en.md
  pages/reference/cli-review-verify-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

ci(dist): watch package-lock.json in dist-freshness guard (#1057)
  .github/workflows/test.yml
Due: prettier --write

build(dist): rebuild vendored action dist for current deps (#1057)
  runners/github-action/dist/157.index.mjs
  runners/github-action/dist/157.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
Due: none

ci(dist): watch package-lock.json in dist-freshness guard (#1057) (#1060)
  .github/workflows/test.yml
  runners/github-action/dist/157.index.mjs
  runners/github-action/dist/157.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
Due: prettier --write

fix(docs): repair docusaurus build (broken links + MDX import/export) (#1061)
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/guides/manage-skills-cli.md
  pages/reference/skills-catalog.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): repair docusaurus build (broken links + MDX import/export) (#1061) (#1062)
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/guides/manage-skills-cli.md
  pages/reference/skills-catalog.en.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(review): honor --skill-set in review plan/exec (#976/#1027)
  docs/development/review-gates-design.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review): honor --skill-set in review plan/exec (#976/#1027) (#1063)
  docs/development/review-gates-design.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review): skip --skill-set resolution on the replay path (#1063)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

fix(review): skip --skill-set resolution on the replay path (#1063) (#1064)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

docs(guides): add AI-driven development playbook for agents
  pages/guides/_meta.json
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): fix JA textlint (particle repetition + bullet form) in playbook
  pages/guides/ai-agent-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): address reviewer on playbook pseudocode + links (#1066)
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): AI-driven development playbook for agents (#1066)
  pages/guides/_meta.json
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(run+docs): wire --fail-on into river run + correct agent playbook (self-review)
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): merge adjacent blockquotes to fix MD028 (#1066)
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(run+docs): wire --fail-on into river run + correct agent playbook (self-review) (#1073)
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: use full product name "River Review" (never bare "River")
  docs/development/review-gates-design.md
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: use full product name "River Review" (never bare "River") (#1075)
  docs/development/review-gates-design.md
  pages/explanation/design-philosophy.en.md
  pages/explanation/design-philosophy.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(contributing): River → River Review (flow model)
  CONTRIBUTING.en.md
  CONTRIBUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(action): suppress empty boilerplate comment when no LLM key (#1067)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-parse-args.test.mjs
Due: none

docs(contributing): River → River Review (flow model) (#1076)
  CONTRIBUTING.en.md
  CONTRIBUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(action): clarify LLM-key note wording per reviewer (#1077)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

feat(action): suppress empty boilerplate comment when no LLM key (#1067) (#1077)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-parse-args.test.mjs
Due: none

fix(ci): exclude generated CHANGELOG.md from lychee link check (#1065)
  .lychee.toml
Due: none

fix(ci): exclude generated CHANGELOG.md from lychee link check (#1065) (#1078)
  .lychee.toml
Due: none
