Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

fix(release-please): emit plain tag format and guard alias generation (#597)
  .github/workflows/release-please.yml
  release-please-config.json
Due: prettier --write

fix(release-please): emit plain tag format and guard alias generation (#597) (#598)
  .github/workflows/release-please.yml
  release-please-config.json
Due: prettier --write

fix(docs): use /releases/latest URL to avoid version drift
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(codex): replace invalid approval_policy `full-auto` with `on-request`
  .codex/AGENTS.md
  .codex/config.toml
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix docusaurus output format docs
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): bump action tag references to v0.14.1
  README.en.md
  README.md
  docs/migration/runners-migration-guide.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(gitignore): exclude Codex CLI runtime artifacts
  .gitignore
Due: none

chore(gitignore): exclude Codex CLI runtime artifacts (#611)
  .gitignore
Due: none

fix(codex): replace invalid approval_policy `full-auto` with `on-request` (#609)
  .codex/AGENTS.md
  .codex/config.toml
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): bump action tag references to v0.14.1 (#610)
  README.en.md
  README.md
  docs/migration/runners-migration-guide.md
  docs/use-cases/github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): correct CHANGELOG compare URL for v0.14.0
  CHANGELOG.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(gitignore): exclude .claude/scheduled_tasks.lock
  .gitignore
Due: none

fix(docs): correct CHANGELOG compare URL for v0.14.0 (#614)
  CHANGELOG.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(gitignore): exclude .claude/scheduled_tasks.lock (#615)
  .gitignore
Due: none

docs: bump action tag references v0.13.1 -> v0.14.1
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: align onboarding guides
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/creating-your-first-skill.en.md
  pages/tutorials/creating-your-first-skill.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: align onboarding guides (#607)
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/quickstart.en.md
  pages/guides/quickstart.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/creating-your-first-skill.en.md
  pages/tutorials/creating-your-first-skill.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(deps): rebuild action dist for openai 6.34.0
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(review): introduce Finding Pipeline with structured findings
  schemas/output.schema.json
  schemas/review-artifact.schema.json
  src/cli.mjs
  src/lib/finding-format.mjs
  src/lib/review-engine.mjs
  tests/finding-format.test.mjs
Due: prettier --write

chore: rebuild action dist for Finding Pipeline changes
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix(review): remove reviewer field redundant with ruleId, fix docstring
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-engine.mjs
Due: none

fix(review): add reviewer field to schemas and JSON output
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/output.schema.json
  schemas/review-artifact.schema.json
Due: prettier --write

feat(review): introduce Finding Pipeline with structured findings (#624)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/output.schema.json
  schemas/review-artifact.schema.json
  src/cli.mjs
  src/lib/finding-format.mjs
  src/lib/review-engine.mjs
  tests/finding-format.test.mjs
Due: prettier --write

wip: save
  docs/review/output-format.md
  pages/guides/write-a-skill.en.md
  pages/guides/write-a-skill.md
  pages/reference/evaluation-fixture-format.en.md
  pages/reference/evaluation-fixture-format.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: clarify review artifact policy
  pages/guides/write-a-skill.md
  pages/reference/review-artifact.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(skill-guide): mention Severity label alongside Confidence for auto-parsing
  pages/guides/write-a-skill.en.md
  pages/guides/write-a-skill.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: clarify review artifact policy
  docs/review/output-format.md
  pages/guides/write-a-skill.en.md
  pages/guides/write-a-skill.md
  pages/reference/evaluation-fixture-format.en.md
  pages/reference/evaluation-fixture-format.md
  pages/reference/review-artifact.md
  pages/reference/review-policy.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(scoring): add per-finding breakdown scores and composite ranking
  src/lib/review-engine.mjs
  src/lib/scoring/breakdown.mjs
  src/lib/scoring/engine.mjs
  tests/scoring/breakdown.test.mjs
Due: none

fix(scoring): remove dead AXIS_WEIGHTS export and fix heuristic detection in breakdown
  src/lib/scoring/breakdown.mjs
  src/lib/scoring/engine.mjs
  tests/scoring/breakdown.test.mjs
Due: none

chore(action): rebuild dist after scoring breakdown changes
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

fix(build): normalize dist CRLF via normalize-dist.mjs in build:action
  .github/workflows/test.yml
  package.json
  scripts/normalize-dist.mjs
Due: prettier --write

fix(ci): normalize dist via git add before diff to avoid CRLF false positives
  .github/workflows/test.yml
Due: prettier --write

feat(scoring): add finding score breakdown (#618)
  package.json
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  scripts/normalize-dist.mjs
  src/lib/review-engine.mjs
  src/lib/scoring/breakdown.mjs
  src/lib/scoring/engine.mjs
  tests/scoring/breakdown.test.mjs
Due: prettier --write

fix(review-depth): wire maxFindings into prompt and clean up dead code
  runners/node-api/src/types.ts
  src/lib/diff-meta.mjs
  src/lib/review-engine.mjs
  src/lib/review-plan-generator.mjs
  tests/diff-meta.test.mjs
  tests/review-plan-generator.test.mjs
Due: prettier --write

feat(review): add review depth control based on PR size and change type
  runners/core/review-runner.mjs
  src/lib/diff-meta.mjs
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  src/lib/review-plan-generator.mjs
  tests/diff-meta.test.mjs
  tests/review-plan-generator.test.mjs
Due: none

fix(build): normalize dist CRLF via normalize-dist.mjs in build:action
  .github/workflows/test.yml
Due: prettier --write

chore(action): rebuild dist after review-depth-control changes (Node 22.22.2)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(review): add review depth control based on PR size (#619)
  runners/core/review-runner.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/node-api/src/types.ts
  src/lib/diff-meta.mjs
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  src/lib/review-plan-generator.mjs
  tests/diff-meta.test.mjs
  tests/review-plan-generator.test.mjs
Due: prettier --write

feat(review): add Finding noise control layer (#617)
  src/cli.mjs
  src/lib/finding-classifier.mjs
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  tests/finding-classifier.test.mjs
Due: none
