Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

fix(process): harden kick automation + add Stop-rule reopen conditions (#902)
  .github/workflows/release-please-kick.yml
  docs/development/retrospectives/2026-05-21-25.md
  scripts/release-please-kick.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add self-review checklist + Stop phase operating mode (A4+A5+W6)
  AGENTS.md
  docs/development/retrospectives/2026-05-21-25.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): add fixtures + eval scaffolding for 2 community skills (S4 slice)
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/README.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/fixtures/01-icon-button-happy.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/fixtures/02-decorative-img-false-positive.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/prompt/system.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/prompt/user.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/README.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-modern-web-semantic-001/fixtures/01-div-onclick-happy.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/fixtures/02-library-dialog-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/prompt/system.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: add self-review checklist + Stop phase operating mode (A4+A5+W6) (#904)
  AGENTS.md
  docs/development/retrospectives/2026-05-21-25.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): add fixtures + eval scaffolding for 2 community skills (S4 slice) (#905)
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/README.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/fixtures/01-icon-button-happy.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/fixtures/02-decorative-img-false-positive.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/prompt/system.md
  skills/midstream/community/rr-midstream-a11y-accessible-name-001/prompt/user.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/README.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-modern-web-semantic-001/fixtures/01-div-onclick-happy.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/fixtures/02-library-dialog-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/prompt/system.md
  skills/midstream/community/rr-midstream-modern-web-semantic-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(ci): kick workflow requires RELEASE_KICK_PAT + loud failure mode (#906)
  .github/workflows/release-please-kick.yml
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): kick workflow requires RELEASE_KICK_PAT + loud failure mode (#906) (#907)
  .github/workflows/release-please-kick.yml
  docs/runbook/release-please-kick.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): community skill fixtures slice 2/3 (browser-compat + performance)
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/README.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/fixtures/01-popover-api-happy.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/fixtures/02-supports-guard-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/prompt/system.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/prompt/user.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/README.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-modern-web-performance-001/fixtures/01-lcp-lazy-hero-happy.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/fixtures/02-already-sized-img-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/prompt/system.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: a2-3 replay execution design (#878 design-only)
  docs/development/a2-3-replay-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): community skill fixtures slice 2/3 (browser-compat + performance) (#909)
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/README.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/fixtures/01-popover-api-happy.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/fixtures/02-supports-guard-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/prompt/system.md
  skills/midstream/community/rr-midstream-modern-web-browser-compat-001/prompt/user.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/README.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-modern-web-performance-001/fixtures/01-lcp-lazy-hero-happy.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/fixtures/02-already-sized-img-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/prompt/system.md
  skills/midstream/community/rr-midstream-modern-web-performance-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: a2-3 replay execution design (#878 design-only) (#910)
  docs/development/a2-3-replay-execution-design.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): independent review synthesis skill (#911 Phase 1)
  pages/guides/use-independent-review-synthesis.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/README.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/SKILL.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/fixtures/01-dedup-and-confirm-happy.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/fixtures/02-hallucinated-finding-false-positive.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/prompt/system.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/prompt/user.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

feat(skills): independent review synthesis skill (#911 Phase 1) (#912)
  pages/guides/use-independent-review-synthesis.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/README.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/SKILL.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/fixtures/01-dedup-and-confirm-happy.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/fixtures/02-hallucinated-finding-false-positive.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/prompt/system.md
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/prompt/user.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

feat(schemas): synthesis provenance fields + reviewer input contexts (#911 Phase 2)
  schemas/review-artifact.schema.json
  schemas/skill.schema.json
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/SKILL.md
  tests/review-artifact-schema.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(schemas): synthesis provenance fields + reviewer input contexts (#911 Phase 2) (#914)
  schemas/review-artifact.schema.json
  schemas/skill.schema.json
  skills/midstream/community/rr-midstream-independent-review-synthesis-001/SKILL.md
  tests/review-artifact-schema.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

test: synthesis artifact ↔ inputContext sync (#911 Phase 3 slice A+D)
  docs/development/execution-context-contract.md
  tests/synthesis-artifact-context-sync.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: synthesis artifact ↔ inputContext sync (#911 Phase 3 slice A+D) (#916)
  docs/development/execution-context-contract.md
  tests/synthesis-artifact-context-sync.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): --ensemble flag for synthesis (#911 Phase 3 Slice B)
  pages/reference/cli-review-exec-spec.md
  src/cli.mjs
  tests/cli-ensemble-flag.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(dist): rebuild action bundle for --ensemble (#911 Phase 3 Slice B)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(cli): --ensemble flag for synthesis (#911 Phase 3 Slice B) (#917)
  pages/reference/cli-review-exec-spec.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli-ensemble-flag.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(skills): community skill fixtures slice 3/3 (#868 — a11y-interactive + nextjs)
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/README.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/fixtures/01-div-onclick-no-keyboard-happy.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/fixtures/02-library-radix-dialog-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/prompt/system.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/prompt/user.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/README.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/fixtures/01-usestate-in-server-component-happy.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/fixtures/02-use-client-directive-false-positive.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/prompt/system.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): community skill fixtures slice 3/3 (#868 — a11y-interactive + nextjs) (#919)
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/README.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/fixtures/01-div-onclick-no-keyboard-happy.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/fixtures/02-library-radix-dialog-false-positive.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/prompt/system.md
  skills/midstream/community/rr-midstream-modern-web-a11y-interactive-001/prompt/user.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/README.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/eval/promptfoo.yaml
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/fixtures/01-usestate-in-server-component-happy.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/fixtures/02-use-client-directive-false-positive.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/prompt/system.md
  skills/midstream/community/rr-midstream-nextjs-app-router-boundary-001/prompt/user.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(schemas): debug.execution.snapshot carry-over field (#878 A2-3-pre)
  schemas/review-artifact.schema.json
  tests/review-artifact-schema.test.mjs
Due: prettier --write

feat(schemas): debug.execution.snapshot carry-over field (#878 A2-3-pre) (#922)
  schemas/review-artifact.schema.json
  tests/review-artifact-schema.test.mjs
Due: prettier --write

feat(actions): promptfoo eval workflow + runbook for community skills (#868 Phase 3)
  .github/workflows/promptfoo-eval.yml
  docs/runbook/community-skill-eval.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(actions): promptfoo eval workflow + runbook for community skills (#868 Phase 3) (#924)
  .github/workflows/promptfoo-eval.yml
  docs/runbook/community-skill-eval.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(scripts): local promptfoo eval helper + runbook reorientation (#868)
  docs/runbook/community-skill-eval.md
  scripts/run-promptfoo-eval.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: failing integration test for --plan replay execution (#878 A2-3-test)
  tests/cli-review-exec-replay.test.mjs
Due: none

feat(scripts): local promptfoo eval helper + runbook reorientation (#868) (#926)
  docs/runbook/community-skill-eval.md
  scripts/run-promptfoo-eval.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

test: failing integration test for --plan replay execution (#878 A2-3-test) (#927)
  tests/cli-review-exec-replay.test.mjs
Due: none

docs(retrospective): 2026-05-25..28 4-day session retrospective
  docs/development/retrospectives/2026-05-25-28.md
Due: prettier --write, npm run check:dashes, markdownlint --fix
