Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

feat(plugin): package river-review as a Claude Code plugin + Codex setup
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  README.en.md
  README.md
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(plugin): package river-review as a Claude Code plugin + Codex setup (#981)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  README.en.md
  README.md
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(plugin): add self-contained format hook (official ${CLAUDE_PLUGIN_ROOT} pattern)
  .claude-plugin/plugin.json
  hooks/hooks.json
  scripts/plugin-format-hook.sh
Due: prettier --write

fix(plugin): skip format hook when host ships its own (Codex review)
  scripts/plugin-format-hook.sh
Due: none

fix(plugin): apply Gemini review on format hook
  scripts/plugin-format-hook.sh
Due: none

feat(plugin): add self-contained format hook (official CLAUDE_PLUGIN_ROOT pattern) (#982)
  .claude-plugin/plugin.json
  hooks/hooks.json
  scripts/plugin-format-hook.sh
Due: prettier --write

feat(codex): one-command setup script (curl|bash installer)
  scripts/setup-codex.sh
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(codex): one-command setup script (curl|bash installer) (#984)
  scripts/setup-codex.sh
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: correct Codex plugin marketplace support (was wrongly stated as absent)
  README.en.md
  README.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: correct Codex plugin marketplace support (was wrongly stated as absent) (#986)
  README.en.md
  README.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

chore(plugin): sync plugin.json to 1.1.0 and auto-track version via release-please
  .claude-plugin/plugin.json
  release-please-config.json
Due: prettier --write

chore(plugin): sync plugin.json to 1.1.0 and auto-track version via release-please (#988)
  .claude-plugin/plugin.json
  release-please-config.json
Due: prettier --write

docs: add Human Judgment Focus positioning (#983)
  README.en.md
  README.md
  pages/explanation/_meta.json
  pages/explanation/human-judgment-focus.en.md
  pages/explanation/human-judgment-focus.md
  pages/explanation/intro.en.md
  pages/explanation/intro.md
  pages/explanation/review-scope.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

style: apply prettier to human-judgment-focus docs
  pages/explanation/human-judgment-focus.en.md
  pages/explanation/human-judgment-focus.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: add Human Judgment Focus positioning (#983) (#989)
  README.en.md
  README.md
  pages/explanation/_meta.json
  pages/explanation/human-judgment-focus.en.md
  pages/explanation/human-judgment-focus.md
  pages/explanation/intro.en.md
  pages/explanation/intro.md
  pages/explanation/review-scope.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(plugin): add Codex-native plugin manifest (.codex-plugin/plugin.json)
  .codex-plugin/plugin.json
  release-please-config.json
Due: prettier --write

fix(codex): vendor full agent-skills (with references/) in setup fallback
  hooks/README.md
  scripts/setup-codex.sh
  templates/agent-workflow/codex/AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: add plugin manifest validation to the Meta consistency gate
  .github/workflows/test.yml
  package.json
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write

chore(plugin): enrich manifest metadata and harden distribution hygiene
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .gitattributes
Due: prettier --write

docs(readme): surface plugin install path and restore EN/JA table parity
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(plugin): add Codex-native plugin manifest (.codex-plugin/plugin.json) (#991)
  .codex-plugin/plugin.json
  release-please-config.json
Due: prettier --write

fix(codex): vendor full agent-skills (with references/) in setup fallback (#992)
  hooks/README.md
  scripts/setup-codex.sh
  templates/agent-workflow/codex/AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: add plugin manifest validation to the Meta consistency gate (#993)
  .github/workflows/test.yml
  package.json
  scripts/validate-plugin-manifest.mjs
  tests/validate-plugin-manifest.test.mjs
Due: prettier --write

chore(plugin): enrich manifest metadata and harden distribution hygiene (#994)
  .claude-plugin/marketplace.json
  .claude-plugin/plugin.json
  .gitattributes
Due: prettier --write

docs(readme): surface plugin install path and restore EN/JA table parity (#995)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: prettier-ignore release-please-managed plugin manifests
  .prettierignore
Due: none

chore: prettier-ignore release-please-managed plugin manifests (#998)
  .prettierignore
Due: none

fix(plugin): address Codex review of the distribution work
  scripts/setup-codex.sh
  scripts/validate-plugin-manifest.mjs
Due: none

fix(plugin): address Codex review of the distribution work (#999)
  scripts/setup-codex.sh
  scripts/validate-plugin-manifest.mjs
Due: none

docs: document Codex-native plugin manifest and complete the skills list
  README.en.md
  README.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: refresh stale GitHub Action version pins to v1.2.1
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: refresh remaining version pins (README + prose notes)
  README.en.md
  README.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: document Codex-native plugin manifest and complete the skills list (#1001)
  README.en.md
  README.md
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  templates/agent-workflow/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: refresh stale GitHub Action version pins to v1.2.1 (#1002)
  README.en.md
  README.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(plugin): make the distributed plugin CLI-independent and self-contained
  .claude/agents/river-review.md
  .claude/commands/check.md
  .claude/commands/skill.md
  .codex-plugin/plugin.json
  README.en.md
  README.md
  hooks/README.md
  scripts/plugin-format-hook.sh
  scripts/setup-codex.sh
  scripts/validate-plugin-manifest.mjs
  templates/agent-workflow/codex/AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(plugin): make the distributed plugin CLI-independent and self-contained (#1004)
  .claude/agents/river-review.md
  .claude/commands/check.md
  .claude/commands/skill.md
  .codex-plugin/plugin.json
  README.en.md
  README.md
  hooks/README.md
  scripts/plugin-format-hook.sh
  scripts/setup-codex.sh
  scripts/validate-plugin-manifest.mjs
  templates/agent-workflow/codex/AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(plugin): address gemini-code-assist review of #1004
  .claude/agents/river-review.md
  scripts/setup-codex.sh
  scripts/validate-plugin-manifest.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix
