Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

docs: add W-check guide and improve artifact-input-contract visibility
  pages/guides/_meta.json
  pages/guides/w-check.en.md
  pages/guides/w-check.md
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): fix textlint errors in w-check guide and artifact-input-contract
  pages/guides/w-check.md
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): replace relative skills/ links with GitHub URLs in w-check guide
  pages/guides/w-check.en.md
  pages/guides/w-check.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): re-add w-check cross-reference in artifact-input-contract
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): add w-check link in related docs section (stable against prettier)
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: add W-check guide and improve artifact-input-contract visibility (#960)
  pages/guides/_meta.json
  pages/guides/w-check.en.md
  pages/guides/w-check.md
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(orchestrator): auto team selection, diff splitting, and deduplication
  src/cli.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: none

docs: add Claude Code workflow guide for River Reviewer
  pages/guides/_meta.json
  pages/guides/claude-code-workflow.en.md
  pages/guides/claude-code-workflow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

build: rebuild action dist for reviewer-orchestrator changes
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

docs: add Claude Code workflow guide (#962)
  pages/guides/_meta.json
  pages/guides/claude-code-workflow.en.md
  pages/guides/claude-code-workflow.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/reviewer-orchestrator.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: rename claude-code-workflow → agent-workflow, cover all agents
  pages/guides/_meta.json
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  pages/guides/claude-code-workflow.en.md
  pages/guides/claude-code-workflow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: rename claude-code-workflow → agent-workflow, cover all agents (#963)
  pages/guides/_meta.json
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  pages/guides/claude-code-workflow.en.md
  pages/guides/claude-code-workflow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(docs+skills): --reviewers auto docs, agent templates, skill version fixes
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  scripts/validate-agent-skills.mjs
  skills/agent-skills/adversarial-review/SKILL.md
  skills/agent-skills/river-reviewer/SKILL.md
  templates/agent-workflow/README.md
  templates/agent-workflow/codex/AGENTS.md
  templates/agent-workflow/cursor/.cursorrules
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

feat(docs+skills): --reviewers auto docs, agent templates, skill version fixes (#964)
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  pages/reference/runner-cli-reference.en.md
  pages/reference/runner-cli-reference.md
  scripts/validate-agent-skills.mjs
  skills/agent-skills/adversarial-review/SKILL.md
  skills/agent-skills/river-reviewer/SKILL.md
  templates/agent-workflow/README.md
  templates/agent-workflow/codex/AGENTS.md
  templates/agent-workflow/cursor/.cursorrules
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

fix: post-rename cleanup and update public URL
  .github/CLOSE_ISSUES.md
  AGENTS.md
  README.en.md
  README.md
  docusaurus.config.js
  package.json
  pages/guides/deploy-docs-vercel.en.md
  pages/guides/deploy-docs-vercel.md
  schemas/review-artifact.schema.json
  schemas/riverbed-index.schema.json
  scripts/validate-meta-consistency.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix: post-rename cleanup and update public URL (#969)
  .github/CLOSE_ISSUES.md
  AGENTS.md
  README.en.md
  README.md
  docusaurus.config.js
  package.json
  pages/guides/deploy-docs-vercel.en.md
  pages/guides/deploy-docs-vercel.md
  schemas/review-artifact.schema.json
  schemas/riverbed-index.schema.json
  scripts/validate-meta-consistency.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix: rename example workflow files and fix lychee user-agent
  .lychee.toml
  .lycheeignore
  examples/example-1-hello-skill/.github/workflows/river-review.yml
  examples/example-2-upstream-only/.github/workflows/river-review.yml
  examples/example-3-planner/.github/workflows/river-review.yml
  examples/minimal-js/.github/workflows/river-review.yml
Due: prettier --write

fix: rename example workflow files and fix lychee user-agent (#970)
  .lychee.toml
  .lycheeignore
  examples/example-1-hello-skill/.github/workflows/river-review.yml
  examples/example-2-upstream-only/.github/workflows/river-review.yml
  examples/example-3-planner/.github/workflows/river-review.yml
  examples/minimal-js/.github/workflows/river-review.yml
Due: prettier --write

docs: user-perspective audit — improve clarity and fix stale content (ultracode)
  .claude/agents/river-review.md
  README.md
  pages/explanation/what-is-river-review.md
  pages/guides/add-new-skill.md
  pages/guides/agent-workflow.md
  pages/guides/github-actions.md
  pages/guides/quickstart.md
  pages/guides/w-check.md
  pages/guides/write-a-skill.md
  pages/reference/artifact-input-contract.md
  pages/reference/cli-review-exec-spec.md
  pages/reference/metadata-fields.md
  pages/reference/runner-cli-reference.md
  pages/reference/stable-interfaces.md
  pages/tutorials/authoring-skills.md
  pages/tutorials/creating-your-first-skill.md
  pages/tutorials/getting-started.md
  skills/README.md
  templates/agent-workflow/codex/AGENTS.md
  templates/agent-workflow/cursor/.cursorrules
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

docs: user-perspective audit — improve clarity and fix stale content (ultracode) (#971)
  .claude/agents/river-review.md
  README.md
  pages/explanation/what-is-river-review.md
  pages/guides/add-new-skill.md
  pages/guides/agent-workflow.md
  pages/guides/github-actions.md
  pages/guides/quickstart.md
  pages/guides/w-check.md
  pages/guides/write-a-skill.md
  pages/reference/artifact-input-contract.md
  pages/reference/cli-review-exec-spec.md
  pages/reference/metadata-fields.md
  pages/reference/runner-cli-reference.md
  pages/reference/stable-interfaces.md
  pages/tutorials/authoring-skills.md
  pages/tutorials/creating-your-first-skill.md
  pages/tutorials/getting-started.md
  skills/README.md
  templates/agent-workflow/codex/AGENTS.md
  templates/agent-workflow/cursor/.cursorrules
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

docs: user-perspective audit round 2 — EN/JA parity, terminology, examples
  pages/_meta.json
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/guides/_meta.json
  pages/guides/agent-workflow.en.md
  pages/guides/cost-estimation.md
  pages/guides/debug-skill-routing.md
  pages/guides/github-actions.en.md
  pages/guides/planner-evaluation.md
  pages/guides/quickstart.md
  pages/guides/w-check.en.md
  pages/guides/w-check.md
  pages/index.md
  pages/reference/config-schema.md
  pages/reference/glossary.md
  pages/reference/output-format-yaml.md
  pages/tutorials/getting-started.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): escape < in MDX to prevent JSX parse error in output-format-yaml
  pages/reference/output-format-yaml.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: user-perspective audit round 2 — EN/JA parity, terminology, examples (#972)
  pages/_meta.json
  pages/explanation/river-architecture.en.md
  pages/explanation/river-architecture.md
  pages/guides/_meta.json
  pages/guides/agent-workflow.en.md
  pages/guides/cost-estimation.md
  pages/guides/debug-skill-routing.md
  pages/guides/github-actions.en.md
  pages/guides/planner-evaluation.md
  pages/guides/quickstart.md
  pages/guides/w-check.en.md
  pages/guides/w-check.md
  pages/index.md
  pages/reference/config-schema.md
  pages/reference/glossary.md
  pages/reference/output-format-yaml.md
  pages/tutorials/getting-started.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(agents): wire community skills to routing, enrich agent defs, add self-example
  .github/agents/architect.agent.md
  .github/agents/qa.agent.md
  .github/agents/security.agent.md
  agents/examples/river-review-self.agent.yaml
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/agent-skills/river-review-performance/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

feat(agents): wire community skills to routing, enrich agent defs, add self-example (#973)
  .github/agents/architect.agent.md
  .github/agents/qa.agent.md
  .github/agents/security.agent.md
  agents/examples/river-review-self.agent.yaml
  skills/agent-skills/river-review-code/references/ROUTING.md
  skills/agent-skills/river-review-performance/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

docs: clarify River Review review scope
  pages/explanation/intro.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: reposition River Review beyond diff review
  pages/explanation/what-is-river-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: add River Review scope page
  pages/explanation/review-scope.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: user-perspective audit round 3 — EN/JA parity, OSS readiness, catalog
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  README.en.md
  README.md
  pages/guides/_meta.json
  pages/guides/agents.md
  pages/guides/choose-skills.en.md
  pages/guides/choose-skills.md
  pages/guides/debug-skill-routing.en.md
  pages/guides/debug-skill-routing.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/governance/WRITING_GUIDE.md
  pages/guides/governance/skill-policy.md
  pages/guides/quickstart.md
  pages/index.md
  pages/reference/runner-cli-reference.md
  pages/reference/skills-catalog.md
  pages/tutorials/getting-started.md
  runners/cli/README.md
  runners/node-api/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): add .md extension to cross-links in new pages to fix Docusaurus build
  pages/guides/choose-skills.en.md
  pages/guides/choose-skills.md
  pages/guides/debug-skill-routing.en.md
  pages/guides/debug-skill-routing.md
  pages/reference/skills-catalog.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: user-perspective audit round 3 — EN/JA parity, OSS readiness, catalog (#978)
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  README.en.md
  README.md
  pages/guides/_meta.json
  pages/guides/agents.md
  pages/guides/choose-skills.en.md
  pages/guides/choose-skills.md
  pages/guides/debug-skill-routing.en.md
  pages/guides/debug-skill-routing.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/governance/WRITING_GUIDE.md
  pages/guides/governance/skill-policy.md
  pages/guides/quickstart.md
  pages/index.md
  pages/reference/runner-cli-reference.md
  pages/reference/skills-catalog.md
  pages/tutorials/getting-started.md
  runners/cli/README.md
  runners/node-api/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: address review feedback on review-scope pages
  pages/explanation/intro.md
  pages/explanation/review-scope.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: clarify River Review review scope (#977)
  pages/explanation/intro.md
  pages/explanation/review-scope.md
  pages/explanation/what-is-river-review.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(docs): correct doc/agent inaccuracies found in 3-perspective review
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  agents/examples/river-review-self.agent.yaml
  pages/explanation/review-scope.md
  pages/guides/governance/skill-policy.md
  skills/agent-skills/river-review-code/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

fix(docs): correct doc/agent inaccuracies found in 3-perspective review (#979)
  CONTRIBUTING.en.md
  CONTRIBUTING.md
  agents/examples/river-review-self.agent.yaml
  pages/explanation/review-scope.md
  pages/guides/governance/skill-policy.md
  skills/agent-skills/river-review-code/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

fix(docs): correct ESLint refs in agent yaml and add agent-skills:validate to EN
  CONTRIBUTING.en.md
  agents/examples/river-review-self.agent.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): correct ESLint refs in agent yaml and add agent-skills:validate to EN (#980)
  CONTRIBUTING.en.md
  agents/examples/river-review-self.agent.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix
