Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

docs(schema): unify skill schema docs around category-first routing (#556)
  pages/guides/add-new-skill.en.md
  pages/guides/add-new-skill.md
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  pages/reference/skill-schema.en.md
  pages/reference/skill-schema.md
  skills/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run check:bilingual

docs(runbook,readme-en): align dev runbook with .nvmrc/composite, sync README.en (#557)
  README.en.md
  docs/runbook/dev.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(spec): clarify diff artifact fallback vs empty-result semantics
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(spec): add artifact input contract spec (#516) (#558)
  pages/reference/_meta.json
  pages/reference/artifact-input-contract.en.md
  pages/reference/artifact-input-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(skill): add plangate-exec-conformance spec
  skills/upstream/rr-upstream-plangate-exec-conformance-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(spec): add river review exec CLI spec (#518)
  pages/reference/_meta.json
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(skill): add plangate-plan-integrity spec
  skills/registry.yaml
  skills/upstream/rr-upstream-plangate-plan-integrity-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(spec): define river review plan CLI contract
  pages/reference/_meta.json
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(riverbed): align storage reference with v1 single-file index.json model
  pages/reference/riverbed-storage.en.md
  pages/reference/riverbed-storage.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(claude-md): collapse 4 merge-time guards into single governance.md cite
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(riverbed): correct API names, type enum, and status enum
  pages/reference/riverbed-storage.en.md
  pages/reference/riverbed-storage.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(spec): address PR #562 review comments
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(spec): clarify exec CLI spec edge cases from PR review
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(claude-md): use full gh api path with repos/:owner/:repo prefix
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skill): address reviewer comments on exec-conformance spec
  skills/upstream/rr-upstream-plangate-exec-conformance-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(riverbed): align storage reference with v1 single-file index.json model (#563)
  pages/reference/riverbed-storage.en.md
  pages/reference/riverbed-storage.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(claude-md): collapse 4 merge-time guards into single governance.md cite (#564)
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(schema): align riverbed-index schema with v1 inline-entries impl (closes #565)
  schemas/riverbed-index.schema.json
  tests/riverbed-index-schema.test.mjs
Due: prettier --write

fix(test): apply reviewer feedback on riverbed-index schema test
  tests/riverbed-index-schema.test.mjs
Due: none

docs(migration): mark v0.1.x as legacy frozen, sync timeline to 2026-04
  docs/migration/runners-migration-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(skill): address PR #560 review findings
  skills/registry.yaml
  skills/upstream/rr-upstream-plangate-plan-integrity-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(schema): align riverbed-index schema with v1 inline-entries impl (closes #565) (#566)
  schemas/riverbed-index.schema.json
  tests/riverbed-index-schema.test.mjs
Due: prettier --write

docs(spec): add river review exec CLI spec (#518) (#559)
  pages/reference/_meta.json
  pages/reference/cli-review-exec-spec.en.md
  pages/reference/cli-review-exec-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(cli): add CLI architecture overview to clarify two CLI systems
  docs/CLI-architecture.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skill): add plangate-plan-integrity spec (#560)
  skills/registry.yaml
  skills/upstream/rr-upstream-plangate-plan-integrity-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skill): add plangate-exec-conformance spec (#561)
  skills/upstream/rr-upstream-plangate-exec-conformance-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(spec): define river review plan CLI contract (#517) (#562)
  pages/reference/_meta.json
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(migration): mark v0.1.x as legacy frozen, sync timeline to 2026-04 (#567)
  docs/migration/runners-migration-guide.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(readme): reposition as artifact-driven review agent
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs/cli): apply reviewer feedback (skills list 用途修正、参照注記、env vars)
  docs/CLI-architecture.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ci): add weekly GC workflow for deterministic maintenance checks
  .github/workflows/weekly-gc.yml
Due: prettier --write

docs(runbook): document test layout (#506) and Codecov OIDC requirement (#546)
  docs/runbook/dev.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(cli): add CLI architecture overview to clarify two CLI systems (#568)
  docs/CLI-architecture.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(runbook): document test layout (#506) and Codecov OIDC requirement (#546) (#571)
  docs/runbook/dev.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(ci): add PlanGate PR review workflow (closes #521)
  .github/workflows/plangate-review.yml
Due: prettier --write

docs(explanation): align intro / what-is with Context Engineering / Skill Registry framing
  pages/explanation/intro.en.md
  pages/explanation/intro.md
  pages/explanation/what-is-river-reviewer.en.md
  pages/explanation/what-is-river-reviewer.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(ci): add PlanGate PR review workflow (closes #521) (#572)
  .github/workflows/plangate-review.yml
Due: prettier --write

feat(ci): add weekly GC workflow for deterministic maintenance checks (#570)
  .github/workflows/weekly-gc.yml
Due: prettier --write

docs(readme): apply reviewer suggestions for term consistency
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(readme): reposition as artifact-driven review agent (#569)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix
