Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

docs: clean up stale planning-state references after Epic completions (#769)
  pages/reference/cli-review-verify-spec.md
  pages/reference/eval-keep-discard-policy.en.md
  skills/agent-skills/river-reviewer/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

chore(skills): add missing modelHint=balanced to 3 skills (audit follow-up)
  skills/downstream/rr-downstream-test-naming-001/SKILL.md
  skills/midstream/rr-midstream-typescript-strict-001/SKILL.md
  skills/upstream/rr-upstream-api-design-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(eval): add planner-dataset coverage for 5 never-selected upstream skills
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/upstream-adr-decision-quality.diff
  tests/fixtures/planner-dataset/diffs/upstream-architecture-traceability.diff
  tests/fixtures/planner-dataset/diffs/upstream-db-schema-migration.diff
  tests/fixtures/planner-dataset/diffs/upstream-event-driven-design.diff
  tests/fixtures/planner-dataset/diffs/upstream-openapi-contract.diff
Due: prettier --write

chore(skills): add missing modelHint=balanced to 3 skills (audit follow-up) (#770)
  skills/downstream/rr-downstream-test-naming-001/SKILL.md
  skills/midstream/rr-midstream-typescript-strict-001/SKILL.md
  skills/upstream/rr-upstream-api-design-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(eval): add planner-dataset coverage for 5 never-selected upstream skills (#771)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/upstream-adr-decision-quality.diff
  tests/fixtures/planner-dataset/diffs/upstream-architecture-traceability.diff
  tests/fixtures/planner-dataset/diffs/upstream-db-schema-migration.diff
  tests/fixtures/planner-dataset/diffs/upstream-event-driven-design.diff
  tests/fixtures/planner-dataset/diffs/upstream-openapi-contract.diff
Due: prettier --write

docs(skills): add canonical sections to 9 agent-* skills (audit follow-up)
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/midstream/agent-agentcheck-code-review/SKILL.md
  skills/midstream/agent-code-quality/SKILL.md
  skills/midstream/agent-code-refactoring/SKILL.md
  skills/midstream/agent-code-review/SKILL.md
  skills/midstream/agent-test-coverage/SKILL.md
  skills/upstream/agent-architecture-review/SKILL.md
  skills/upstream/agent-code-documentation/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): add canonical sections to 9 agent-* skills (audit follow-up) (#773)
  skills/downstream/agent-qa-regression/SKILL.md
  skills/downstream/agent-webapp-testing/SKILL.md
  skills/midstream/agent-agentcheck-code-review/SKILL.md
  skills/midstream/agent-code-quality/SKILL.md
  skills/midstream/agent-code-refactoring/SKILL.md
  skills/midstream/agent-code-review/SKILL.md
  skills/midstream/agent-test-coverage/SKILL.md
  skills/upstream/agent-architecture-review/SKILL.md
  skills/upstream/agent-code-documentation/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(eval): add planner-dataset coverage batch 3 (5 more never-selected skills)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-logic-torturing.diff
  tests/fixtures/planner-dataset/diffs/upstream-api-versioning-compat.diff
  tests/fixtures/planner-dataset/diffs/upstream-dr-multiregion.diff
  tests/fixtures/planner-dataset/diffs/upstream-integration-contracts.diff
  tests/fixtures/planner-dataset/diffs/upstream-plangate-plan-integrity.diff
Due: prettier --write

docs: codify skill severity rubric (audit follow-up)
  docs/development/skill-severity-rubric.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(eval): add planner-dataset coverage batch 3 (5 more never-selected skills) (#774)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-logic-torturing.diff
  tests/fixtures/planner-dataset/diffs/upstream-api-versioning-compat.diff
  tests/fixtures/planner-dataset/diffs/upstream-dr-multiregion.diff
  tests/fixtures/planner-dataset/diffs/upstream-integration-contracts.diff
  tests/fixtures/planner-dataset/diffs/upstream-plangate-plan-integrity.diff
Due: prettier --write

docs: codify skill severity rubric (audit follow-up) (#775)
  docs/development/skill-severity-rubric.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(skills): reclassify rr-midstream-normalization-consistency-001 major→minor
  skills/midstream/rr-midstream-normalization-consistency-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(eval): add planner-dataset coverage batch 4 (5 more never-selected skills)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-agent-skill-bridge.diff
  tests/fixtures/planner-dataset/diffs/midstream-config-json.diff
  tests/fixtures/planner-dataset/diffs/midstream-i18n-unused-key.diff
  tests/fixtures/planner-dataset/diffs/upstream-plangate-rule-promotion.diff
  tests/fixtures/planner-dataset/diffs/upstream-plangate-verification-audit.diff
Due: prettier --write

chore(skills): reclassify rr-midstream-normalization-consistency-001 major→minor (#777)
  skills/midstream/rr-midstream-normalization-consistency-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(eval): add planner-dataset coverage batch 4 (5 more never-selected skills) (#778)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/midstream-agent-skill-bridge.diff
  tests/fixtures/planner-dataset/diffs/midstream-config-json.diff
  tests/fixtures/planner-dataset/diffs/midstream-i18n-unused-key.diff
  tests/fixtures/planner-dataset/diffs/upstream-plangate-rule-promotion.diff
  tests/fixtures/planner-dataset/diffs/upstream-plangate-verification-audit.diff
Due: prettier --write

feat(eval): add planner-dataset coverage batch 5 + clarify agent-tag exclusion
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/downstream-test-plan-review.diff
  tests/fixtures/planner-dataset/diffs/upstream-create-plan.diff
  tests/fixtures/planner-dataset/diffs/upstream-plangate-gc-deterministic.diff
Due: prettier --write

chore(skills): reclassify rr-upstream-create-plan-001 major→minor (rubric)
  skills/upstream/rr-upstream-create-plan-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(skills): sync registry.yaml severity to minor for create-plan-001 (PR #781 review)
  skills/registry.yaml
Due: prettier --write

feat(eval): add planner-dataset coverage batch 5 + clarify agent-tag exclusion (#780)
  tests/fixtures/planner-dataset/cases.json
  tests/fixtures/planner-dataset/diffs/downstream-test-plan-review.diff
  tests/fixtures/planner-dataset/diffs/upstream-create-plan.diff
  tests/fixtures/planner-dataset/diffs/upstream-plangate-gc-deterministic.diff
Due: prettier --write

chore(skills): reclassify rr-upstream-create-plan-001 major→minor (rubric) (#781)
  skills/registry.yaml
  skills/upstream/rr-upstream-create-plan-001/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(eval): expand expectedTop1 coverage from 13 to 31 cases (audit follow-up)
  tests/fixtures/planner-dataset/cases.json
Due: prettier --write

docs: add severity rubric learnings + registry sync rule (audit follow-up)
  docs/development/skill-severity-rubric.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(rubric): address Copilot review on PR #784
  docs/development/skill-severity-rubric.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(eval): expand expectedTop1 coverage from 13 to 31 cases (audit follow-up) (#783)
  tests/fixtures/planner-dataset/cases.json
Due: prettier --write

docs: add severity rubric learnings + registry sync rule (#784)
  docs/development/skill-severity-rubric.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(eos): codify 5-layer EOS structure + agent-skills license:MIT
  docs/ai/eos-overview.md
  docs/development/skill-eval-kpi.md
  governance/README.md
  skills/agent-skills/adversarial-review/SKILL.md
  skills/agent-skills/river-reviewer-architecture/SKILL.md
  skills/agent-skills/river-reviewer-code/SKILL.md
  skills/agent-skills/river-reviewer-performance/SKILL.md
  skills/agent-skills/river-reviewer-security/SKILL.md
  skills/agent-skills/river-reviewer-testing/SKILL.md
  skills/agent-skills/river-reviewer/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

docs(governance): replace hardcoded path with placeholder (gemini-code-assist review)
  governance/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(eos): codify 5-layer EOS structure + agent-skills license:MIT (#786)
  docs/ai/eos-overview.md
  docs/development/skill-eval-kpi.md
  governance/README.md
  skills/agent-skills/adversarial-review/SKILL.md
  skills/agent-skills/river-reviewer-architecture/SKILL.md
  skills/agent-skills/river-reviewer-code/SKILL.md
  skills/agent-skills/river-reviewer-performance/SKILL.md
  skills/agent-skills/river-reviewer-security/SKILL.md
  skills/agent-skills/river-reviewer-testing/SKILL.md
  skills/agent-skills/river-reviewer/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

feat(eval): add eval:compare ledger comparison + EOS Phase 2 doc accuracy
  docs/ai/eos-overview.md
  docs/development/skill-eval-kpi.md
  package.json
  scripts/compare-eval-ledger.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(eval): address gemini review on PR #788
  scripts/compare-eval-ledger.mjs
Due: none

feat(eval): add eval:compare ledger comparison + EOS Phase 2 doc accuracy (#788)
  docs/ai/eos-overview.md
  docs/development/skill-eval-kpi.md
  package.json
  scripts/compare-eval-ledger.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(eval): add severity + top1 ledger snapshots (EOS Phase 2.1/2.2)
  runners/core/skill-loader.mjs
  scripts/compare-eval-ledger.mjs
  scripts/evaluate-all.mjs
  src/lib/eval-snapshots.mjs
Due: none

fix(eval): address PR #790 CI failures + Gemini review
  runners/core/skill-loader.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/eval-snapshots.mjs
Due: none
