Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

fix: use absolute URL for root CONTRIBUTING.md reference
  pages/guides/governance/CONTRIBUTING.en.md
  pages/guides/governance/CONTRIBUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: CONTRIBUTING.mdの重複解消（SSOT参照追加） (#354)
  pages/guides/governance/CONTRIBUTING.en.md
  pages/guides/governance/CONTRIBUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix: agents.md dead link and root allowlist cleanup
  AGENTS.md
  scripts/check-doc-placement.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: agents.md dead link and root allowlist cleanup (#360)
  AGENTS.md
  scripts/check-doc-placement.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(security): address PR #350 review findings for agent skill bridge
  src/lib/agent-skill-bridge.mjs
  tests/agent-skill-bridge.test.mjs
Due: none

feat(skills): Agent Skills (SKILL.md) bridge with review enhancements (#350)
  scripts/validate-agent-skills.mjs
  skills/midstream/rr-midstream-agent-skill-bridge-001.md
  src/lib/agent-skill-bridge.mjs
  tests/agent-skill-bridge.test.mjs
  tests/cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs: add /pr prompt reference in copilot instructions
  .github/agents/architect.agent.md
  .github/agents/qa.agent.md
  .github/agents/river-reviewer.agent.md
  .github/agents/security.agent.md
  .github/copilot-instructions.md
  .github/instructions/docs.instructions.md
  .github/prompts/pr.prompt.md
  CONTINUITY.md
  README.md
  docs/runbook/dev.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore: move CONTINUITY.md to docs/ to fix doc placement policy
  docs/CONTINUITY.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(ci): update .lychee.toml for latest lychee parser compatibility
  .lychee.toml
Due: none

fix(ci): update .lychee.toml for latest lychee parser compatibility (#368)
  .lychee.toml
Due: none

Add specialized review agents, PR prompt, runbook, and continuity ledger (#367)
  .github/agents/architect.agent.md
  .github/agents/qa.agent.md
  .github/agents/river-reviewer.agent.md
  .github/agents/security.agent.md
  .github/copilot-instructions.md
  .github/instructions/docs.instructions.md
  .github/prompts/pr.prompt.md
  README.md
  docs/CONTINUITY.md
  docs/runbook/dev.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat: add review infrastructure improvements and adversarial review skills
  .claude/commands/challenge.md
  .claude/hooks/format.sh
  .github/copilot-instructions.md
  .github/prompts/review.prompt.md
  .github/prompts/select_review.prompt.md
  AGENTS.md
  docs/agent-layers.md
  docs/review/output-format.md
  docs/review/viewpoints.md
  hooks/README.md
  hooks/format.sh
  skills/agent-skills/adversarial-review/SKILL.md
  skills/agent-skills/adversarial-review/references/TECHNIQUES.md
  skills/agent-skills/river-reviewer/SKILL.md
  skills/agent-skills/river-reviewer/references/ROUTING.md
  skills/midstream/rr-midstream-logic-torturing-001.md
  skills/midstream/rr-midstream-war-game-001.md
  skills/registry.yaml
  skills/upstream/rr-upstream-pre-mortem-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

fix: normalize dash characters in agent-layers.md
  docs/agent-layers.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Update docs/agent-layers.md
  docs/agent-layers.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Update hooks/format.sh
  hooks/format.sh
Due: none

Update skills/midstream/rr-midstream-logic-torturing-001.md
  skills/midstream/rr-midstream-logic-torturing-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix: address PR review feedback from Gemini and Copilot
  AGENTS.md
  hooks/format.sh
  skills/midstream/rr-midstream-logic-torturing-001.md
  skills/midstream/rr-midstream-war-game-001.md
  skills/registry.yaml
  skills/upstream/rr-upstream-pre-mortem-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(skills): add adversarial review skills (Pre-mortem, War Game, Logic Torturing) (#372)
  .claude/commands/challenge.md
  .claude/hooks/format.sh
  .github/copilot-instructions.md
  .github/prompts/review.prompt.md
  .github/prompts/select_review.prompt.md
  AGENTS.md
  docs/agent-layers.md
  docs/review/output-format.md
  docs/review/viewpoints.md
  hooks/README.md
  hooks/format.sh
  skills/agent-skills/adversarial-review/SKILL.md
  skills/agent-skills/adversarial-review/references/TECHNIQUES.md
  skills/agent-skills/river-reviewer/SKILL.md
  skills/agent-skills/river-reviewer/references/ROUTING.md
  skills/midstream/rr-midstream-logic-torturing-001.md
  skills/midstream/rr-midstream-war-game-001.md
  skills/registry.yaml
  skills/upstream/rr-upstream-pre-mortem-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

fix: address self-review findings
  .claude/commands/challenge.md
  .claude/hooks/format.sh
  pages/reference/review-policy.md
  skills/agent-skills/adversarial-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

feat: レビュー基盤改善と敵対的レビュースキルの追加 (#371)
  .claude/commands/challenge.md
  .claude/hooks/format.sh
  docs/agent-layers.md
  pages/reference/review-policy.md
  skills/agent-skills/adversarial-review/SKILL.md
  skills/midstream/rr-midstream-logic-torturing-001.md
  skills/midstream/rr-midstream-war-game-001.md
  skills/upstream/rr-upstream-pre-mortem-001.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

refactor: restructure AGENTS.md for agent-first readability
  AGENTS.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: update GEMINI.md section reference to match restructured AGENTS.md
  GEMINI.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: optimize AGENTS.md for agent autonomy and clarity
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: address simplify review findings
  AGENTS.md
  CLAUDE.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

Potential fix for pull request finding
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: address PR review feedback (Gemini + Copilot)
  AGENTS.md
  CLAUDE.md
  docs/runbook/dev.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

refactor: restructure AGENTS.md for agent-first readability (#374)
  AGENTS.md
  CLAUDE.md
  GEMINI.md
  docs/runbook/dev.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix README version refs and resolve bilingual pair gaps
  README.md
  docs/CONTINUITY.md
  pages/explanation/skill-lifecycle.en.md
  pages/explanation/skills.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix: resolve Docusaurus duplicate ID error and address review feedback
  pages/explanation/skill-lifecycle.en.md
  pages/explanation/skills.en.md
  pages/explanation/skills.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(agent-skills): add 5 routing agent skills for river-reviewer
  skills/agent-skills/river-reviewer-architecture/SKILL.md
  skills/agent-skills/river-reviewer-architecture/references/ROUTING.md
  skills/agent-skills/river-reviewer-code/SKILL.md
  skills/agent-skills/river-reviewer-code/references/ROUTING.md
  skills/agent-skills/river-reviewer-performance/SKILL.md
  skills/agent-skills/river-reviewer-performance/references/ROUTING.md
  skills/agent-skills/river-reviewer-security/SKILL.md
  skills/agent-skills/river-reviewer-security/references/ROUTING.md
  skills/agent-skills/river-reviewer-testing/SKILL.md
  skills/agent-skills/river-reviewer-testing/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

fix(agent-skills): add missing References section to 4 routing agent skills
  skills/agent-skills/river-reviewer-code/SKILL.md
  skills/agent-skills/river-reviewer-performance/SKILL.md
  skills/agent-skills/river-reviewer-security/SKILL.md
  skills/agent-skills/river-reviewer-testing/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

fix(agent-skills): fix severity validation and exclude routing skills from planner
  runners/core/review-runner.mjs
  skills/agent-skills/river-reviewer-code/SKILL.md
  skills/agent-skills/river-reviewer-testing/SKILL.md
  skills/agent-skills/river-reviewer/SKILL.md
  src/lib/planner-dataset-eval.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

fix(docs): correct npm script name eval:skills → eval:fixtures
  pages/explanation/skills.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(agent-skills): address PR review comments on routing skills
  skills/agent-skills/river-reviewer-code/SKILL.md
  skills/agent-skills/river-reviewer-code/references/ROUTING.md
  skills/agent-skills/river-reviewer-security/SKILL.md
  skills/agent-skills/river-reviewer-testing/SKILL.md
  skills/agent-skills/river-reviewer-testing/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

fix(agent-skills): fix remaining short-form skill ID in testing ROUTING.md
  skills/agent-skills/river-reviewer-testing/references/ROUTING.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate
