Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

.lintstagedrc.json:

{
  "**/*.{js,ts,jsx,tsx}": ["prettier --write"],
  "**/*.{md,markdown}": ["npm run check:dashes", "prettier --write", "markdownlint --fix"],
  "**/*.{json,yml,yaml}": ["prettier --write"],
  "skills/**/*.md": ["npm run skills:validate"],
  "skills/agent-skills/**/*.md": ["npm run agent-skills:validate"],
  "pages/**/*.md": ["npm run check:bilingual"]
}

docs: bump GitHub Action example pins from @v1.2.2 to @v1.14.0
  README.en.md
  README.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: bump GitHub Action example pins from @v1.2.2 to @v1.14.0 (#1146)
  README.en.md
  README.md
  pages/guides/github-actions.en.md
  pages/guides/github-actions.md
  pages/guides/repo-wide-review.en.md
  pages/guides/repo-wide-review.md
  pages/reference/known-limitations.en.md
  pages/reference/known-limitations.md
  pages/reference/output-format-yaml.en.md
  pages/reference/output-format-yaml.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
  pages/tutorials/getting-started.en.md
  pages/tutorials/getting-started.md
  pages/tutorials/integrating-with-github-actions.en.md
  pages/tutorials/integrating-with-github-actions.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: add Generate→Review→Revise loop concept (Agent layer / review team)
  docs/ai/generate-review-revise-loop.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: revise loop concept per Codex review (existing orchestrator, merge contract, caller boundary)
  docs/ai/generate-review-revise-loop.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add Generate→Review→Revise loop concept (Agent layer / review team) (#1149)
  docs/ai/generate-review-revise-loop.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: record deriveVerdict boolean extension and S2a->S2b dependency (self-review fixes)
  docs/ai/generate-review-revise-loop.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: spell out humanApprovalRequired propagation path (gemini review)
  docs/ai/generate-review-revise-loop.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix textlint sentence length on propagation note
  docs/ai/generate-review-revise-loop.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: record deriveVerdict boolean extension and S2a→S2b dependency (self-review fixes) (#1151)
  docs/ai/generate-review-revise-loop.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(cli): add run-level decision (verdict) to river run --output json (#1150 S1)
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  schemas/output.schema.json
  src/cli.mjs
  tests/cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: fix stale 'verdict not in JSON' principle after decision field addition
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

build: rebuild action dist for run JSON decision field
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

refactor: apply gemini review suggestions (conditional spread, strictEqual) + dist rebuild
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/cli.test.mjs
Due: none

feat(cli): add run-level decision (verdict) to river run --output json (#1150 S1) (#1152)
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/output.schema.json
  src/cli.mjs
  tests/cli.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(schema): define summary.prioritySummary in output.schema.json (#1154)
  schemas/output.schema.json
  tests/cli.test.mjs
Due: prettier --write

refactor(test): resolve schema path via new URL per gemini review
  tests/cli.test.mjs
Due: none

fix(schema): define summary.prioritySummary in output.schema.json (#1154) (#1155)
  schemas/output.schema.json
  tests/cli.test.mjs
Due: prettier --write

feat(runs): detect finding oscillation across 3+ runs in runs diff (#1150 S2b)
  runners/github-action/dist/145.index.mjs
  runners/github-action/dist/145.index.mjs.map
  runners/github-action/dist/209.index.mjs
  runners/github-action/dist/209.index.mjs.map
  runners/github-action/dist/254.index.mjs
  runners/github-action/dist/254.index.mjs.map
  runners/github-action/dist/343.index.mjs
  runners/github-action/dist/343.index.mjs.map
  runners/github-action/dist/4.index.mjs
  runners/github-action/dist/4.index.mjs.map
  runners/github-action/dist/560.index.mjs
  runners/github-action/dist/560.index.mjs.map
  runners/github-action/dist/602.index.mjs
  runners/github-action/dist/602.index.mjs.map
  runners/github-action/dist/684.index.mjs
  runners/github-action/dist/684.index.mjs.map
  runners/github-action/dist/783.index.mjs
  runners/github-action/dist/783.index.mjs.map
  runners/github-action/dist/830.index.mjs
  runners/github-action/dist/830.index.mjs.map
  runners/github-action/dist/868.index.mjs
  runners/github-action/dist/868.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/review-differ.test.mjs
Due: none

docs: document 3+ run oscillation detection in runs diff guides
  pages/guides/track-runs-and-regressions.en.md
  pages/guides/track-runs-and-regressions.md
  pages/reference/stable-interfaces.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

perf(runs): pre-annotate fingerprints per run to avoid O(N*M) in diffRunHistory
  src/lib/review-differ.mjs
Due: none

build: rebuild action dist for diffRunHistory perf fix
  runners/github-action/dist/4.index.mjs
  runners/github-action/dist/4.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none

feat(runs): detect finding oscillation across 3+ runs in runs diff (#1150 S2b) (#1156)
  pages/guides/track-runs-and-regressions.en.md
  pages/guides/track-runs-and-regressions.md
  pages/reference/stable-interfaces.md
  runners/github-action/dist/145.index.mjs
  runners/github-action/dist/145.index.mjs.map
  runners/github-action/dist/209.index.mjs
  runners/github-action/dist/209.index.mjs.map
  runners/github-action/dist/254.index.mjs
  runners/github-action/dist/254.index.mjs.map
  runners/github-action/dist/343.index.mjs
  runners/github-action/dist/343.index.mjs.map
  runners/github-action/dist/4.index.mjs
  runners/github-action/dist/4.index.mjs.map
  runners/github-action/dist/560.index.mjs
  runners/github-action/dist/560.index.mjs.map
  runners/github-action/dist/602.index.mjs
  runners/github-action/dist/602.index.mjs.map
  runners/github-action/dist/684.index.mjs
  runners/github-action/dist/684.index.mjs.map
  runners/github-action/dist/783.index.mjs
  runners/github-action/dist/783.index.mjs.map
  runners/github-action/dist/830.index.mjs
  runners/github-action/dist/830.index.mjs.map
  runners/github-action/dist/868.index.mjs
  runners/github-action/dist/868.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  tests/review-differ.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: add loop convergence contract (stop conditions, exit codes) (#1150 S2a)
  docs/ai/generate-review-revise-loop.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  pages/reference/_meta.json
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: fix loop-convergence-contract examples (runId via stderr/runs list, 3-id oscillation)
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: replace relative docs/ links with GitHub URLs in loop-convergence-contract
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: harden bash examples against jq failures (default-0 fallbacks)
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs: add loop convergence contract (stop conditions, exit codes) (#1150 S2a) (#1157)
  docs/ai/generate-review-revise-loop.md
  pages/guides/ai-agent-playbook.en.md
  pages/guides/ai-agent-playbook.md
  pages/reference/_meta.json
  pages/reference/loop-convergence-contract.en.md
  pages/reference/loop-convergence-contract.md
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

build: rebuild action dist for 1.15.0 version bump
  runners/github-action/dist/744.index.mjs
  runners/github-action/dist/744.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
Due: none
