Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

feat(skills): add encapsulation/naming and over-abstraction guidance (#1031)
  skills/midstream/agent-code-quality/SKILL.md
  skills/midstream/agent-code-refactoring/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(rules): handle EISDIR, explicit default path, parallel reads
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/rules.mjs
  tests/rules.test.mjs
Due: none

docs(skills): use user.isPremium() as the Tell-Don't-Ask example
  skills/midstream/agent-code-quality/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

fix(review-depth): guard null options in determineReviewMode
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-plan-generator.mjs
Due: none

docs(skills): use user.isPremium() as the Tell-Don't-Ask example (#1034)
  skills/midstream/agent-code-quality/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(cli): add --depth to river run to force review depth (#1025) (#1033)
  runners/core/review-runner.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/local-runner.mjs
  src/lib/review-plan-generator.mjs
  tests/cli-parse-args.test.mjs
  tests/review-plan-generator.test.mjs
Due: none

fix(rules): only tolerate EISDIR for the rules.d/ scan, not base rules.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/rules.mjs
Due: none

feat(rules): load split rule files from .river/rules.d/*.md (#1025) (#1032)
  .river/README.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/rules.mjs
  tests/rules.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(guides): add two-stage review gate how-to (pre-PR + post-PR)
  pages/guides/_meta.json
  pages/guides/two-stage-review-gate.en.md
  pages/guides/two-stage-review-gate.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(guides): specify language on overview code fence (MD040)
  pages/guides/two-stage-review-gate.en.md
  pages/guides/two-stage-review-gate.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

docs(.river): document incident-viewpoint injection via rules.d/incidents.md
  .river/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(review): review the PR description (pr-description skill + prompt injection)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/skill.schema.json
  skills/midstream/rr-midstream-pr-description-001/SKILL.md
  skills/registry.yaml
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/local-runner-internals.test.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

docs(.river): document incident-viewpoint injection via rules.d/incidents.md (#1036)
  .river/README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(guides): use である調 for bullets (textlint)
  pages/guides/two-stage-review-gate.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

fix(review): guard non-string prBody in buildPrDescriptionSection
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/review-engine.mjs
Due: none

docs(guides): two-stage review gate how-to (#1022) (#1035)
  pages/guides/_meta.json
  pages/guides/two-stage-review-gate.en.md
  pages/guides/two-stage-review-gate.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(review): review the PR description (#1023 pr-description) (#1037)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/skill.schema.json
  skills/midstream/rr-midstream-pr-description-001/SKILL.md
  skills/registry.yaml
  src/lib/local-runner.mjs
  src/lib/review-engine.mjs
  src/lib/reviewer-orchestrator.mjs
  tests/local-runner-internals.test.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate

feat(spec-link): make spec/ADR scan dirs configurable via review.specDirs
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  runners/core/review-runner.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/adr-linker.mjs
  src/lib/local-runner.mjs
  tests/adr-linker.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(scoring): add actionability axis to finding breakdown (#1027)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/output.schema.json
  src/lib/scoring/breakdown.mjs
  tests/scoring/breakdown.test.mjs
Due: prettier --write

fix(spec-link): validate review.specDirs against path traversal + non-dirs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/adr-linker.mjs
  tests/adr-linker.test.mjs
Due: none

fix(scoring): refine actionability regex (word boundary + newline)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/lib/scoring/breakdown.mjs
  tests/scoring/breakdown.test.mjs
Due: none

feat(spec-link): configurable spec/ADR dirs via review.specDirs (#1022) (#1038)
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  runners/core/review-runner.mjs
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/adr-linker.mjs
  src/lib/local-runner.mjs
  tests/adr-linker.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(scoring): add actionability axis to finding breakdown (#1027) (#1039)
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  schemas/output.schema.json
  src/lib/scoring/breakdown.mjs
  tests/scoring/breakdown.test.mjs
Due: prettier --write

docs(guides): note --reviewers chunk split & dedup in agent-workflow (#1011)
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(review): opt-in walkthrough & agent-handoff output sections (#1023)
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(review): opt-in walkthrough & agent-handoff sections (#1023) (#1040)
  pages/guides/agent-workflow.en.md
  pages/guides/agent-workflow.md
  pages/reference/config-schema.en.md
  pages/reference/config-schema.md
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/config/schema.mjs
  src/lib/review-engine.mjs
  tests/review-engine.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(review): report replay drift in debug.replay.drift (#936)
  docs/development/a2-3-replay-execution-design.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  src/lib/review-plan.mjs
  tests/review-plan-drift.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(review): exclude /dev/null sentinel from replay drift (#936)
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  src/lib/review-plan.mjs
  tests/review-plan-drift.test.mjs
Due: none

feat(review): report replay drift in debug.replay.drift (#936) (#1041)
  docs/development/a2-3-replay-execution-design.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  src/lib/review-plan.mjs
  tests/review-plan-drift.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(976): pre-exec review-gate skill set + review-gates design doc
  docs/development/review-gates-design.md
  skills/registry.yaml
  tests/skill-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(976): prettier-format design doc; drop CLI suffix from pre-exec desc
  docs/development/review-gates-design.md
  skills/registry.yaml
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(976): pre-exec review-gate skill set + design doc (#1042)
  docs/development/review-gates-design.md
  skills/registry.yaml
  tests/skill-loader.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

chore(registry): catalog the two missing plangate skills (drift fix)
  skills/registry.yaml
Due: prettier --write

chore(registry): catalog the two missing plangate skills (drift fix) (#1043)
  skills/registry.yaml
Due: prettier --write

chore(registry): add missing test-cases tag to exec-conformance catalog
  skills/registry.yaml
Due: prettier --write

chore(registry): add missing test-cases tag to exec-conformance catalog (#1044)
  skills/registry.yaml
Due: prettier --write

feat(review): implement --output markdown for river review (#976 gap)
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  runners/github-action/dist/466.index.mjs
  runners/github-action/dist/466.index.mjs.map
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan-summary.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/review-plan-summary.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(review): implement --output markdown for river review (#976 gap) (#1046)
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  runners/github-action/dist/466.index.mjs
  runners/github-action/dist/466.index.mjs.map
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan-summary.mjs
  src/lib/review-plan.mjs
  tests/cli-review-plan.test.mjs
  tests/review-plan-summary.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(review): opt-in --fail-on/--warn-on/--advisory-only gate (#976 gap)
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-review-plan.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(review): opt-in --fail-on/--warn-on/--advisory-only gate (#976 gap) (#1047)
  pages/reference/cli-review-plan-spec.en.md
  pages/reference/cli-review-plan-spec.md
  runners/github-action/dist/794.index.mjs
  runners/github-action/dist/794.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
  src/lib/review-plan.mjs
  tests/cli-parse-args.test.mjs
  tests/cli-review-plan.test.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
