Repository s977043/river-reviewer: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate, npm run check:bilingual

feat(skills): add Claude Code skill management skills
  .claude/rules/review-core.md
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-creator/assets/basic-skill-template.md
  .claude/skills/skill-creator/assets/eval-rubric-template.md
  .claude/skills/skill-creator/references/design-principles.md
  .claude/skills/skill-creator/references/review-default.md
  .claude/skills/skill-ops-planner/SKILL.md
  .claude/skills/skill-ops-planner/assets/skill-roadmap-template.md
  .claude/skills/skill-ops-planner/references/portfolio-policy.md
  .claude/skills/skill-ops-planner/references/review-default.md
  .claude/skills/skill-optimizer/SKILL.md
  .claude/skills/skill-optimizer/assets/eval-rubric-template.md
  .claude/skills/skill-optimizer/references/optimization-playbook.md
  .claude/skills/skill-optimizer/references/review-default.md
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): add Claude Code skill management skills (#380)
  .claude/rules/review-core.md
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-creator/assets/basic-skill-template.md
  .claude/skills/skill-creator/assets/eval-rubric-template.md
  .claude/skills/skill-creator/references/design-principles.md
  .claude/skills/skill-creator/references/review-default.md
  .claude/skills/skill-ops-planner/SKILL.md
  .claude/skills/skill-ops-planner/assets/skill-roadmap-template.md
  .claude/skills/skill-ops-planner/references/portfolio-policy.md
  .claude/skills/skill-ops-planner/references/review-default.md
  .claude/skills/skill-optimizer/SKILL.md
  .claude/skills/skill-optimizer/assets/eval-rubric-template.md
  .claude/skills/skill-optimizer/references/optimization-playbook.md
  .claude/skills/skill-optimizer/references/review-default.md
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(skills): add 5-pattern design system to skill management skills
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-creator/assets/basic-skill-template.md
  .claude/skills/skill-creator/references/design-principles.md
  .claude/skills/skill-ops-planner/SKILL.md
  .claude/skills/skill-optimizer/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): align template pattern declaration with implementation format
  .claude/skills/skill-creator/assets/basic-skill-template.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): address self-review findings on pattern system
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-creator/references/design-principles.md
  .claude/skills/skill-ops-planner/SKILL.md
  .claude/skills/skill-optimizer/references/optimization-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): apply pattern mismatch diagnosis to existing skills
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-ops-planner/SKILL.md
  .claude/skills/skill-optimizer/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): optimize routing and code-review skills based on pattern diagnosis
  skills/agent-skills/river-reviewer/SKILL.md
  skills/agent-skills/river-reviewer/references/ROUTING.md
  skills/midstream/agent-code-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

feat(skills): スキル管理スキルに5パターン設計システムを導入 (#382)
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-creator/assets/basic-skill-template.md
  .claude/skills/skill-creator/references/design-principles.md
  .claude/skills/skill-ops-planner/SKILL.md
  .claude/skills/skill-optimizer/SKILL.md
  .claude/skills/skill-optimizer/references/optimization-playbook.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(skills): 5パターン診断に基づくスキル改善（統合） (#385)
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-ops-planner/SKILL.md
  .claude/skills/skill-optimizer/SKILL.md
  skills/agent-skills/river-reviewer/SKILL.md
  skills/agent-skills/river-reviewer/references/ROUTING.md
  skills/midstream/agent-code-review/SKILL.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run skills:validate, npm run agent-skills:validate

feat(scripts): add review severity gate evaluator
  scripts/evaluate-review-gate.mjs
  tests/evaluate-review-gate.test.mjs
  tests/fixtures/review-gate/fail-critical.json
  tests/fixtures/review-gate/fail-major.json
  tests/fixtures/review-gate/mixed.json
  tests/fixtures/review-gate/pass.json
Due: prettier --write

fix(scripts): address review findings on evaluate-review-gate
  scripts/evaluate-review-gate.mjs
  tests/fixtures/review-gate/mixed.json
Due: prettier --write

fix(scripts): warn on malformed .river-reviewer.json instead of silent catch
  scripts/evaluate-review-gate.mjs
Due: none

feat(scripts): add review severity gate evaluator (#401)
  scripts/evaluate-review-gate.mjs
  tests/evaluate-review-gate.test.mjs
  tests/fixtures/review-gate/fail-critical.json
  tests/fixtures/review-gate/fail-major.json
  tests/fixtures/review-gate/mixed.json
  tests/fixtures/review-gate/pass.json
Due: prettier --write

fix(meta): update version refs to v0.10.0 and unify canonical URL (#391, #392)
  .github/CLOSE_ISSUES.md
  README.en.md
  README.md
  docs/use-cases/github-actions.md
  package.json
  scripts/close-issues.sh
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs(reference): add component stability labels (#397)
  pages/reference/stable-interfaces.en.md
  pages/reference/stable-interfaces.md
Due: prettier --write, npm run check:dashes, markdownlint --fix, npm run check:bilingual

feat(ci): add meta-consistency validation script and CI job (#398)
  .github/workflows/test.yml
  package.json
  scripts/validate-meta-consistency.mjs
  tests/validate-meta-consistency.test.mjs
Due: prettier --write

docs(readme): add license summary and getting-started navigation (#393, #395, #396)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(scripts): add .catch() handler and expand check scope in meta-consistency
  scripts/validate-meta-consistency.mjs
Due: none

fix(readme): correct license table to match actual LICENSE file (MIT)
  README.en.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

feat(action): bundle GitHub Action with ncc to eliminate cold start (#394)
  .github/workflows/test.yml
  .gitignore
  docs/agent-layers.md
  package-lock.json
  package.json
  runners/core/skill-loader.mjs
  runners/github-action/action.yml
  runners/github-action/dist/213.index.mjs
  runners/github-action/dist/213.index.mjs.map
  runners/github-action/dist/488.index.mjs
  runners/github-action/dist/488.index.mjs.map
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  runners/github-action/dist/licenses.txt
  runners/github-action/dist/sourcemap-register.cjs
  runners/github-action/src/index.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(cli): add --output json mode for severity gate integration
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

fix(cli): redirect run header to stderr in json output mode
  runners/github-action/dist/index.mjs
  runners/github-action/dist/index.mjs.map
  src/cli.mjs
Due: none

chore(codex): optimize local project configuration
  .codex/AGENTS.md
  .codex/config.toml
  .gitignore
  README.md
  package.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(codex): address PR review feedback
  .codex/AGENTS.md
  .codex/config.toml
  README.md
  package.json
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: add agent instructions and learnings
  AGENTS.md
  AGENT_LEARNINGS.md
  README.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: refine agent scope guidance
  AGENTS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

docs: fix PR 410 validation issues
  README.en.md
  README.md
  docs/use-cases/github-actions.md
  scripts/check-doc-placement.mjs
Due: prettier --write, npm run check:dashes, markdownlint --fix

ci: update release-please workflow
  .github/workflows/release-please.yml
Due: prettier --write

ci: opt in release workflow to Node 24
  .github/workflows/release-please.yml
Due: prettier --write

ci: opt in release workflow to Node 24 (#412)
  .github/workflows/release-please.yml
Due: prettier --write

feat(eval): add unified evaluation runner and experiment ledger
  .gitignore
  artifacts/evals/.gitkeep
  package.json
  scripts/evaluate-all.mjs
  tests/evaluate-all.test.mjs
Due: prettier --write

fix(docs): deduplicate AGENT_LEARNINGS.md and fix broken GEMINI.md reference
  AGENT_LEARNINGS.md
  GEMINI.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix: restore table formatting in docs/agent-layers.md
  docs/agent-layers.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(docs): replace hardcoded line numbers with section heading reference
  AGENT_LEARNINGS.md
Due: prettier --write, npm run check:dashes, markdownlint --fix

fix(eval): address review feedback on evaluate-all
  scripts/evaluate-all.mjs
  tests/evaluate-all.test.mjs
Due: none

Path conditions:
  prettier --write: ((any of: **/*.{js,ts,jsx,tsx}) or (any of: **/*.{md,markdown})) or (any of: **/*.{json,yml,yaml})
  npm run check:dashes: any of: **/*.{md,markdown}
  markdownlint --fix: any of: **/*.{md,markdown}
  npm run skills:validate: any of: skills/**/*.md
  npm run agent-skills:validate: any of: skills/agent-skills/**/*.md
  npm run check:bilingual: any of: pages/**/*.md
